
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters banner aboutBanner align-items-center">
        <div class="col-11 col-md-8 col-lg-7 text-right">
            <h2 class="bold mb-0">Trust the Experience</h2>
            <h1 class="alex text-yellow semi mr-4">with us!</h1>
        </div>
    </div>
</div>

<div class="bg-sky pt-4 pb-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-md-10 col-lg-8 text-center">
                <h1 class="alex text-white mb-0">
                    <span class="comma1">'</span>Every natural produce has its benefits, you only need to channelize them the smart way'
                    <span class="text-dark text-center semi d-block">- Sidra Patel</span>
                </h1>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col position-relative">
            <img src="@CommonMethods.ServerPath/img/img9.png" class="img-fluid aboutLeftimg" />
            <img src="@CommonMethods.ServerPath/img/img10.png" class="img-fluid aboutRightimg" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-lg-10">
            <div class="row align-items-center mt-5 mb-3 flex-row-reverse">
                <div class="col-12 col-md-12 col-lg text-center">
                    <img src="@CommonMethods.ServerPath/img/aboutPic.png" class="img-fluid p-2" />
                    <p class="bold" style="line-height: 8px;">
                        <span class="alex text-orange h2">Sidra Patel</span><br>
                        <small class="semi">Nutritionist &amp; Lifestyle Consultant</small>
                    </p>
                </div>
                <div class="col-12 col-md-12 col-lg-7 text-center">
                    <img src="@CommonMethods.ServerPath/img/logo.png" class="img-fluid mb-4" />
                    <p>Kudos to the smarter ways to a healthier you with Sidra. Sidra Patel is a Nutritionist & Lifestyle Consultant. Being in love with food herself, she has embarked on this amazing journey to encourage people to focus on 'Eating Smart', instead of depriving themselves of the happiness that food is.</p>
                    <h5 class="text-yellow mt-5 semi">Sidra's Journey</h5>
                    <p>Her journey started with her degree in Food, Nutrition and Dietetics from SNDT University, Mumbai. After which she went on to deepen her knowledge through training at Kohinoor Hospital. Thereafter she has been associated with leading and well known health centers and companies of the nutrition industry. Her revolutionary technique has paved her way into the digital world of fitness and health.</p>
                </div>
            </div>
            <div class="row align-items-center mt-5 mb-5">
                <div class="col-12 col-md-12 col-lg text-center">
                    <img src="@CommonMethods.ServerPath/img/lahsoon.png" class="img-fluid" />
                </div>
                <div class="col-12 col-md-12 col-lg-7 text-center">
                    <h5 class="text-yellow mt-3 semi">The Idea Behind Eating Smart</h5>
                    <p>In her vast experience she has guided people from different walks of life from housewives to professionals, NRIs and from children to senior citizens. With their hectic lifestyles comes erratic blood sugar levels, hyperlipidemia, hormonal imbalances, heart diseases, and more. Today's hectic and unexpected lifestyle changes needs smarter solutions. In order to cater to this fast moving life, she believes in the modern solution of 'Eating Smart'. </p>
                </div>
            </div>
            <div class="row align-items-center flex-row-reverse mb-4">
                <div class="col-12 col-md-12 col-lg text-center">
                    <img src="@CommonMethods.ServerPath/img/beej.png" class="img-fluid" />
                </div>
                <div class="col-12 col-md-12 col-lg-7 text-center">
                    <h5 class="text-yellow mt-3 semi">Life With Eating Smart</h5>
                    <p>Eating smart brings to light, some very quick & hassle free health programs with tools that will empower you to obtain the maximum nutrition from the food you eat and manage your health issues. In order to propagate this concept she has conducted a number of health talks for corporates, has written health and nutrition related articles for magazines and health portals. </p>
                    <p>With Sidra's expertise and knowledge, you can be rest assured that you're in the right hands and ready to start your pathway to a smarter lifestyle.</p>
                </div>
            </div>
            <div class="row align-items-center mt-4 mb-5">
                <div class="col-12 col-md-12 col-lg-12 text-center">
                    <h4 class="text-yellow">So are you ready to start Eating smart?</h4>
                    <p><a href="contact.php" class="btn btn-reg mb-2 hvr-sweep-to-top">&nbsp; &nbsp; &nbsp; &nbsp; YES &nbsp; &nbsp;  &nbsp; &nbsp; </a></p>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col position-relative">
            <img src="@CommonMethods.ServerPath/img/img11.png" class="img-fluid aboutLeftBottomimg" />
            <img src="@CommonMethods.ServerPath/img/img12.png" class="img-fluid aboutRightBottomimg" />
        </div>
    </div>
</div>

