
@{
    ViewBag.Title = "smartBodyToningBuilding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0 mb-5">
    <div class="row no-gutters banner smartBodyToningBuildingBanner justify-content-center align-items-center">
        <div class="col-10">
            <div class="text-center">
                <h2 class="bold mb-0">
                    SMART BODY TONING<br />
                    & BUILDING
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10 text-center">
            <h1 class="alex mt-2 mb-4">
                <span class="comma1">'</span>You don't have to be fit to start,<br />
                you have to start to be fit'
            </h1>
            <p class="semi">This program is designed to tone one’s body. It is for someone striving to lose on inches and to step up their muscle mass. It works on the power of food to help you reach your fitness goal.</p>
            <h5 class="text-sky">It helps one get leaner.</h5>
        </div>
    </div>
</div>

<div class="bg-gray pt-4 pb-4">
    <div class="container">
        <div class="row justify-content-center pt-3">
            <div class="col-12 col-md-12 col-lg-8 text-center">
                <h6 class="text-yellow mb-4 semi" style="letter-spacing: 2px;">WE KEEP IN MIND THE FOLLOWING POINTS WHILE PLANNING FOR YOU:</h6>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/plate.png" />
                            </div>
                            <p>Your body needs in terms of nutrition</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/lady.png" />
                            </div>
                            <p>Workout regimen</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/pizza.png" />
                            </div>
                            <p>Your favourite foods</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/cooker.png" />
                            </div>
                            <p>What is usually cooked at home</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/heart.png" />
                            </div>
                            <p>Your lifestyle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-4 pb-4">
                <h6 class="text-white pt-2">INSIGHTS WILL HELP US SMARTLY PLACE THIS FOR YOU. IT’S NOT ABOUT A DIET, IT’S A SMART LIFESTYLE</h6>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center pt-4">
            <h4 class="text-yellow pt-2 mb-4 semi">PROGRAM FEATURES</h4>
            <p>CUSTOMIZED DIET PLANS</p>
            <hr class="bg-yellow" />
            <p>QUICK AND EASY RECIPES</p>
            <hr class="bg-yellow" />
            <p>EVALUATION OF HOW DISHES ARE COOKED AT YOUR HOME, TWEAKING THEM A LITTLE IF NEEDED AND WE ARE GOOD TO GO</p>
            <hr class="bg-yellow" />
            <p>NO NEED TO COOK SEPARATELY!</p>
            <hr class="bg-yellow" />
            <p>DETAILED BODY COMPOSITION ANALYSIS</p>
            <hr class="bg-yellow" />
            <p>CHAT AND CALL SUPPORT </p>
            <hr class="bg-yellow" />
            <p>PERSONAL ACCOUNT SECTION</p>
            <hr class="bg-yellow" />
            <p>EASY PROGRESS TRACKERS </p>
            <hr class="bg-yellow" />
            <p>GUIDANCE ON WHY PARTICULAR FOODS ARE ADDED AND WHAT WORKS FOR YOUR BODY</p>
            <hr class="bg-yellow" />
            <p>EATING SMART TOOLS, YOUR BEST FRIEND THROUGHOUT!</p>
            <hr class="bg-yellow" />
            <p>MAINTENANCE TOOLS AT THE END</p>
        </div>
    </div>
</div>

<div class="bg-yellow-img mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-4 pb-4">
                <h6 class="text-white pt-2 semi">
                    WE WORK TO INCREASE MUSCLE MASS, HELP YOU LOOK LEANER
                    <hr class="bg-white mt-2 mb-2" />
                    ACCORDING TO YOUR WORKOUT REGIMEN, PROVIDE WORKOUT MEALS THAT SUIT YOU BEST
                </h6>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0"><label id="lbl1monthheader"></label><input type="hidden" id="hdnSWL1M" /></p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> <label id="lbl1monthrupee"></label>
                        <hr />
                        <label id="lbl1monthdoller"></label>
                    </h4>
                </div>
                <p class="cart"><a href="#" id="lnkSWL1M"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0"><label id="lbl2monthheader"></label><input type="hidden" id="hdnSWL2M" /></p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> <label id="lbl2monthrupee"></label>
                        <hr />
                        <label id="lbl2monthdoller"></label>
                    </h4>
                </div>
                <p class="cart"><a href="#" id="lnkSWL2M"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0"><label id="lbl3monthheader"></label><input type="hidden" id="hdnSWL3M" /></p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> <label id="lbl3monthrupee"></label>
                        <hr />
                        <label id="lbl3monthdoller"></label>
                    </h4>
                </div>
                <p class="cart"><a href="#" id="lnkSWL3M"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0"><label id="lbl6monthheader"></label><input type="hidden" id="hdnSWL6M" /></p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> <label id="lbl6monthrupee"></label>
                        <hr />
                        <label id="lbl6monthdoller"></label>
                    </h4>
                </div>
                <p class="cart"><a href="#" id="lnkSWL6M"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var CartProgramID;
        var cartSessionID;
        $("#lnkSWL1M").click(function (e) {
            //do what ever you want...

            if (sessionStorage.getItem("CartSession") == null && sessionStorage.getItem("CartProgramID") == null) {
                cartSessionID = 1;
                CartProgramID = $('#hdnSWL1M').val();
                sessionStorage.setItem("CartSession", cartSessionID);
                sessionStorage.setItem("CartProgramID", CartProgramID);
                $("#spQuantity").text(sessionStorage.getItem("CartSession"));
            }
            else {

                var id = sessionStorage.getItem("CartSession");
                var CartProgram = sessionStorage.getItem("CartProgramID");
                CartProgramID = $('#hdnSWL1M').val();

                if (CartProgram.includes(CartProgramID) == false) {

                     cartSessionID = parseInt(sessionStorage.getItem("CartSession")) + 1;
                    sessionStorage.setItem("CartSession", cartSessionID);
                    CartProgramID = CartProgram + "~" + CartProgramID;
                    sessionStorage.setItem("CartProgramID", CartProgramID);

                    $("#spQuantity").text(sessionStorage.getItem("CartSession"));
                }
            }

        });

        $("#lnkSWL2M").click(function (e) {
            //do what ever you want...
            if (sessionStorage.getItem("CartSession") == null && sessionStorage.getItem("CartProgramID") == null) {
                cartSessionID = 1;
                CartProgramID = $('#hdnSWL2M').val();
                sessionStorage.setItem("CartSession", cartSessionID);
                sessionStorage.setItem("CartProgramID", CartProgramID);

                $("#spQuantity").text(sessionStorage.getItem("CartSession"));
            }
            else {
                var CartProgram = sessionStorage.getItem("CartProgramID");
                CartProgramID = $('#hdnSWL2M').val();

                if (CartProgram.includes(CartProgramID) == false) {
                     cartSessionID = parseInt(sessionStorage.getItem("CartSession")) + 1;
                    sessionStorage.setItem("CartSession", cartSessionID);
                    CartProgramID = CartProgram + "~" + CartProgramID;
                    sessionStorage.setItem("CartProgramID", CartProgramID);
                    $("#spQuantity").text(sessionStorage.getItem("CartSession"));

                }
            }

        });

        $("#lnkSWL3M").click(function (e) {
            //do what ever you want...

            if (sessionStorage.getItem("CartSession") == null && sessionStorage.getItem("CartProgramID") == null) {
                cartSessionID = 1;
                CartProgramID = $('#hdnSWL3M').val();
                sessionStorage.setItem("CartSession", cartSessionID);
                sessionStorage.setItem("CartProgramID", CartProgramID);
                $("#spQuantity").text(sessionStorage.getItem("CartSession"));

            }
            else {

                var CartProgram = sessionStorage.getItem("CartProgramID");
                CartProgramID = $('#hdnSWL3M').val();

                if (CartProgram.includes(CartProgramID) == false) {
                     cartSessionID = parseInt(sessionStorage.getItem("CartSession")) + 1;
                    sessionStorage.setItem("CartSession", cartSessionID);
                    CartProgramID = CartProgram + "~" + CartProgramID;
                    sessionStorage.setItem("CartProgramID", CartProgramID);
                    $("#spQuantity").text(sessionStorage.getItem("CartSession"));
                }
            }

        });

        $("#lnkSWL6M").click(function (e) {
            //do what ever you want...

            if (sessionStorage.getItem("CartSession") == null && sessionStorage.getItem("CartProgramID") == null) {
                cartSessionID = 1;
                CartProgramID = $('#hdnSWL6M').val();
                sessionStorage.setItem("CartSession", cartSessionID);
                sessionStorage.setItem("CartProgramID", CartProgramID);

                $("#spQuantity").text(sessionStorage.getItem("CartSession"));
            }
            else {
                var CartProgram = sessionStorage.getItem("CartProgramID");
                CartProgramID = $('#hdnSWL6M').val();

                if (CartProgram.includes(CartProgramID) == false) {
                     cartSessionID = parseInt(sessionStorage.getItem("CartSession")) + 1;
                    sessionStorage.setItem("CartSession", cartSessionID);
                    CartProgramID = CartProgram + "~" + CartProgramID;
                    sessionStorage.setItem("CartProgramID", CartProgramID);
                    $("#spQuantity").text(sessionStorage.getItem("CartSession"));
                }
            }
        });


        var programId = 4;

        CommonAjaxMethod('Program/GetProduct', { Program_Id: programId }, false, 'GET',
            function (response) {

                $("#hdnSWL1M").val(response.dataCollection[0].Id + "," + response.dataCollection[0].ProductName + "," + response.dataCollection[0].INRRate + "," + response.dataCollection[0].DollerRate + "," + response.dataCollection[0].Program);
                $("#lbl1monthheader").text(response.dataCollection[0].ProductName);
                $("#lbl1monthrupee").text(response.dataCollection[0].INRRate);
                $("#lbl1monthdoller").text("$ " + response.dataCollection[0].DollerRate);

                $("#hdnSWL2M").val(response.dataCollection[1].Id + "," + response.dataCollection[1].ProductName + "," + response.dataCollection[1].INRRate + "," + response.dataCollection[1].DollerRate);
                $("#lbl2monthheader").text(response.dataCollection[1].ProductName);
                $("#lbl2monthrupee").text(response.dataCollection[1].INRRate);
                $("#lbl2monthdoller").text("$ " + response.dataCollection[1].DollerRate);

                $("#hdnSWL3M").val(response.dataCollection[2].Id + "," + response.dataCollection[2].ProductName + "," + response.dataCollection[2].INRRate + "," + response.dataCollection[2].DollerRate);
                $("#lbl3monthheader").text(response.dataCollection[2].ProductName);
                $("#lbl3monthrupee").text(response.dataCollection[2].INRRate);
                $("#lbl3monthdoller").text("$ " + response.dataCollection[2].DollerRate);

                $("#hdnSWL6M").val(response.dataCollection[3].Id + "," + response.dataCollection[3].ProductName + "," + response.dataCollection[3].INRRate + "," + response.dataCollection[3].DollerRate);
                $("#lbl6monthheader").text(response.dataCollection[3].ProductName);
                $("#lbl6monthrupee").text(response.dataCollection[3].INRRate);
                $("#lbl6monthdoller").text("$ " + response.dataCollection[3].DollerRate);
            }
        );

    })

</script>
