
@{
    ViewBag.Title = "smartEatingOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0 mb-5">
    <div class="row no-gutters banner smartEatingOutBanner justify-content-center align-items-center">
        <div class="col-10">
            <div class="text-center">
                <h2 class="bold mb-0">SMART EATING OUT</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10 text-center">
            <h1 class="alex mb-4">
                <span class="comma1">'</span>Eating got better when the "I can't have that" <br />
                turned to "I can have everything smartly" '
            </h1>
            <p class="semi">
                If you can’t cook at home, no problem, we can work smartly and give you eating out options.<br />
                We can always move smartly to reach our health goal!
            </p>
            <h5 class="text-sky mb-4">This is specially designed for the working class and NRIs where cooking at home becomes very difficult. This program will ease the effects of following a healthy lifestyle by providing options in the diet which will help you eat out.</h5>
        </div>
    </div>
</div>

<div class="bg-gray pt-4 pb-4">
    <div class="container">
        <div class="row justify-content-center pt-3">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h6 class="text-yellow mb-4 semi" style="letter-spacing: 2px;">WE KEEP IN MIND THE FOLLOWING POINTS WHILE PLANNING FOR YOU:</h6>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/plate.png" />
                            </div>
                            <p>Your body needs in terms of nutrition</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/restaurant.png" />
                            </div>
                            <p>Restaurants in the Vicinity</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/pizza.png" />
                            </div>
                            <p>Your favourite foods</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/cooker.png" />
                            </div>
                            <p>What is usually cooked at home</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/heart.png" />
                            </div>
                            <p>Your lifestyle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-4 pb-4">
                <h6 class="text-white pt-2">INSIGHTS WILL HELP US SMARTLY PLACE THIS FOR YOU. IT’S NOT ABOUT A DIET, IT’S A SMART LIFESTYLE</h6>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center pt-4">
            <h4 class="text-yellow pt-2 mb-4 semi">PROGRAM FEATURES</h4>
            <p>CUSTOMIZED DIET PLANS</p>
            <hr class="bg-yellow" />
            <p>QUICK AND EASY RECIPES</p>
            <hr class="bg-yellow" />
            <p>CHAT AND CALL SUPPORT </p>
            <hr class="bg-yellow" />
            <p>PERSONAL ACCCOUNT SECTION</p>
            <hr class="bg-yellow" />
            <p>EASY PROGRESS TRACKERS</p>
            <hr class="bg-yellow" />
            <p>GUIDANCE ON WHY PARTICULAR FOODS ARE ADDED AND WHAT WORKS FOR YOUR BODY</p>
            <hr class="bg-yellow" />
            <p>EATING SMART TOOLS, YOUR BEST FRIEND THROUGHOUT!</p>
        </div>
    </div>
</div>

<div class="bg-yellow-img">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-3 pb-3">
                <h6 class="text-white pt-2 semi">
                    OPTIONS FROM NEARBY RESTAURANTS & EATERIES
                    <hr class="bg-white mt-2 mb-2" />
                    ON THE GO OPTIONS TO PREPARE
                </h6>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">1 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 3999/-
                        <hr />
                        $54.09/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">2 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 7499/-
                        <hr />
                        $101.43/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">3 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 10499/-
                        <hr />
                        $142.00/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">6 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 18499/-
                        <hr />
                        $250.21/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
    </div>
</div>