
@{
    ViewBag.Title = "blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid pl-0 pr-0 mb-5">

    <div class="row no-gutters banner blogsBanner align-items-center">

        <div class="col-12 text-center">

            <div class="d-none d-md-block">

                <h2 class="bold mb-0">
                    Inspirational<br />

                    Blogs For A Healthy

                </h2>

                <h1 class="alex text-yellow semi mr-4">you!!</h1>

            </div>

            <div class="d-block d-md-none banner-xs">

                <img src="@CommonMethods.ServerPath/img/banner/blogs-xs.jpg" alt="" class="img-fluid" />

            </div>

        </div>

    </div>

</div>


<div class="container">

    <div class="row align-items-center mb-2">

        <div class="col-12 col-md-12 col-lg-7">

            <img src="@CommonMethods.ServerPath/img/blogs/1.jpg" class="img-fluid w-100" />

        </div>

        <div class="col-12 col-md-12 col-lg-4 pl-4 blogsContent">

            <p class="semi date">June 18, 2020 <a href=""><img src="@CommonMethods.ServerPath/img/share.png" class="img-fluid shareBtn" /></a></p>

            <h3 class="text-sky semi">
                Big On Style, Big On<br />

                Safety; All You Need To<br />

                Know About EORS 12

            </h3>

            <p class="pb-4">VIP personal shopping is now available at your local store VIP personal shopping is now available at yourlocal storeVIP personal shopping is now available at yourlocal storeVIP personal shopping is now...</p>

            <p>
                <a href="~/Home/SmartWeightLoss"  class="btn hvr-sweep-to-top mr-3">#Spotlight</a>

                <a href="~/Home/SmartWeightLoss"  class="btn hvr-sweep-to-top">#Business</a>

            </p>

        </div>

    </div>

    <br />

    <div class="row">

        <div class="col-12 col-md-12 col-lg-6 blogsContent">

            <img src="@CommonMethods.ServerPath/img/blogs/2.jpg" class="img-fluid w-100" />

            <p class="semi date">June 18, 2020 <a href=""><img src="@CommonMethods.ServerPath/img/share.png" class="img-fluid shareBtn" /></a></p>

            <h3 class="text-sky semi">
                Big On Style, Big On Safety;<br />

                All You Need To Know

            </h3>

            <p class="mb-5">
                <a href="~/Home/SmartWeightLoss"  class="btn hvr-sweep-to-top mr-3">#Spotlight</a>

                <a href="~/Home/SmartWeightLoss"  class="btn hvr-sweep-to-top">#Business</a>

            </p>

        </div>

        <div class="col-12 col-md-12 col-lg-6 blogsContent">

            <img src="@CommonMethods.ServerPath/img/blogs/2.jpg" class="img-fluid w-100" />

            <p class="semi date">June 18, 2020 <a href=""><img src="@CommonMethods.ServerPath/img/share.png" class="img-fluid shareBtn" /></a></p>

            <h3 class="text-sky semi">
                Big On Style, Big On Safety;<br />

                All You Need To Know

            </h3>

            <p class="mb-5">
                <a href="~/Home/SmartWeightLoss"  class="btn hvr-sweep-to-top mr-3">#Spotlight</a>

                <a href="~/Home/SmartWeightLoss"  class="btn hvr-sweep-to-top">#Business</a>

            </p>

        </div>

        <div class="col-12 col-md-12 col-lg-6 blogsContent">

            <img src="@CommonMethods.ServerPath/img/blogs/2.jpg" class="img-fluid w-100" />

            <p class="semi date">June 18, 2020 <a href=""><img src="@CommonMethods.ServerPath/img/share.png" class="img-fluid shareBtn" /></a></p>

            <h3 class="text-sky semi">
                Big On Style, Big On Safety;<br />

                All You Need To Know

            </h3>

            <p class="mb-5">
                <a href="~/Home/SmartWeightLoss"  class="btn hvr-sweep-to-top mr-3">#Spotlight</a>

                <a href="~/Home/SmartWeightLoss" class="btn hvr-sweep-to-top">#Business</a>

            </p>

        </div>

        <div class="col-12 col-md-12 col-lg-6 blogsContent">

            <img src="@CommonMethods.ServerPath/img/blogs/2.jpg" class="img-fluid w-100" />

            <p class="semi date">June 18, 2020 <a href=""><img src="@CommonMethods.ServerPath/img/share.png" class="img-fluid shareBtn" /></a></p>

            <h3 class="text-sky semi">
                Big On Style, Big On Safety;<br />

                All You Need To Know

            </h3>

            <p class="mb-5">
                <a href="~/Home/SmartWeightLoss"  class="btn hvr-sweep-to-top mr-3">#Spotlight</a>

                <a href="~/Home/SmartWeightLoss"  class="btn hvr-sweep-to-top">#Business</a>

            </p>

        </div>

    </div>

</div>




