@model IEnumerable<HealthCalculator.Web.EntityModel.MessageMasterData>
@{
    ViewBag.Title = "helpDesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/tinymce.min.js"></script>
<div class="container-fluid bg-sky">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center pt-3 pb-2">
            <input type="hidden" id="hdnLoginUserId" />
            <h2 class="semi text-white text-shadow">
                <span class="mb-2 dib">ACCOUNT SECTION</span></br>
                <span id="HeaderValue"></span> believe in yourself. You can do it!
                <img src="@CommonMethods.ServerPath/img/smiley.png" class="smiley" style="width: 40px;margin-top: 4px;" />
                <img src="@CommonMethods.ServerPath/img/thumbs.png" style="width: 40px; vertical-align: middle;" />
            </h2>
        </div>
    </div>
</div>
<div class="bg-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ul class="list-inline menu-sec">

                    <li class="list-inline-item"><a href="~/Home/assessment?userId=">My Assessment Tool</a></li>

                    <li class="list-inline-item"> <a href="#" onclick="TrackersHelp(this)">My Trackers<span class="float-right     d-md-block font" style="color: red;" id="spTrackers"></span></a></li>

                    <li class="list-inline-item"><a href="#"  onclick="MyEatingSmartTools(this)">My Eating Smart Tool</a></li>


                    <li class="list-inline-item"> <a href="#" onclick="PatternHelp(this)">My Eating Pattern<span class="float-right   d-md-block" style="color: red;" id="spPattern"></span></a></li>

                    <li class="list-inline-item"> <a href="#" onclick="MessageHelp(this)">Admin Messages<span class="float-right   d-md-block" style="color: red;" id="spMessage"></span></a></li>

                    <li class="list-inline-item"><a href="~/Home/ViewPlan?userId=">View Plans</a></li>
                    <li class="list-inline-item active"><a onclick="Logout(this)">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">

                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">SUBMIT YOUR MESSAGE</p>
                        <hr class="mt-0 mb-2 bg-dark" />
                        <input type="hidden" id="hdnMessageID" />
                        <form class="form-data">
                            <div class="form-group">
                                <textarea rows="10" class="form-control" id="editormessage"></textarea>

                            </div>
                            <div class="text-right">
                            </div>
                        </form>
                        <a href="#" class="btn btn-reg mb-2 hvr-sweep-to-top" onclick="SaveMessage()">&nbsp; &nbsp; SUBMIT &nbsp; &nbsp; </a>
                        <a href="#" class="btn btn-reg mb-2 hvr-sweep-to-top" onclick="Clear()">&nbsp; &nbsp; New Message &nbsp; &nbsp; </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        Please attach, upload and submit one file at one time or multiple files from the same folder only. Kindly attach, upload and then submit.
                    </div>
                </div>


                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="btn btn-primary mb-2">
                            <div class="form-group">
                                Attach Files : <input id="fileInput" type="file" multiple>
                                <input type="hidden" id="hdnfileName" />
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <input type="button" id="btnupload" class="btn btn-reg mb-2 hvr-sweep-to-top displayBlock-xs" value="Upload" style="float:right" />
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="form-group">
                            <input type="button" id="btnClear" class="btn btn-reg mb-2 hvr-sweep-to-top displayBlock-xs" value="Clear Attachement" onclick="ClearAttach()" style="float:right" />
                        </div>
                    </div>
                </div>


                <table class="table" id="FilesList" style="visibility:hidden">
                    <tr>
                        <th>
                            Attachment(s)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </table>







                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                Message
                            </th>
                            <th>
                                Added by
                            </th>
                            <th>
                                Added When
                            </th>
                            <th>
                                Attachment(s)
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {

                            <tr class="border">
                                <td>
                                    @Html.Raw(item.Message)
                                </td>
                                <td>
                                    @Html.Raw(item.UserName)
                                </td>
                                <td>
                                    @Html.Raw(item.Addedwhen)
                                </td>
                                <td>
                                    <table>
                                        @foreach (var item1 in item.MessageMasterDataList)
                                        {
                                            <tr>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item1.Attachement))
                                                    {
                                                        <a href="@Html.Raw(item1.Attachement)" target="_blank">Download</a>
                                                    }
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </td>
                            </tr>

                        }
                    </table>
</div>
            </div>
        </div>
    </div>
</div>
<script>tinymce.init({ selector: "textarea" });
 </script>
<script type="text/javascript">
    function MessageHelp(ctrl) {
        var selectedUserId ="@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/helpDesk?userId=")' + selectedUserId;
        ctrl.click();
    }
    function MyEatingSmartTools(ctrl)
    {
          if (sessionStorage.getItem('IsFreeSession') == "false") {
            var selectedUserId = "@Request.QueryString["userId"].ToString()";
            if (selectedUserId != "") {
                sessionStorage.setItem('userId', selectedUserId);
            }
            ctrl.href = '@Url.Content("~/Home/MyEatingSmartTools?userId=")' + selectedUserId;
            ctrl.click();
        }
        else {
            alert("You dont have sufficient permission on it.")
        return false;}
    }
    function TrackersHelp(ctrl)
    {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/tracker?userId=")' + selectedUserId;
        ctrl.click();
    }
    function PatternHelp(ctrl)
    {
        var selectedUserId ="@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/MyEatingPattern?userId=")' + selectedUserId;
        ctrl.click();
    }

       function Logout(ctrl) {
        sessionStorage.clear();
        ctrl.href = '@Url.Content("~/Home/Logout")';
        ctrl.click();
    }

    var formdata = new FormData(); //FormData object
    window.onload = function ()
    {
        var qData = "@Request.QueryString["userId"].ToString()";
        if (qData != "")
        {
            qData = "@Request.QueryString["userId"].ToString()";
            sessionStorage.setItem('userId', qData);

        }
        var UserNotification =
         {
             TableType: "GetRecord",
             UserId: sessionStorage.getItem('userId')
         }
        CommonAjaxMethod('Program/GetUserNotification', UserNotification, false, 'POST', function (response) {

            if (response.data.Data.length > 0) {
                $("#spMessage").text(" (" + response.data.Data[0].MessageCount + ")");
                if (response.data.Data[0].Trackerfalldays != "0") {
                    $("#spTrackers").text(" (" + response.data.Data[0].Trackerfalldays + ")");
                }
                else {
                    $("#spTrackers").text(" (" + response.data.Data[0].Trackerfilled + ")");
                }
                $("#spPattern").text(" (" + response.data.Data[0].PatternCount + ")");
            }

        });
        if (sessionStorage.getItem('RoleID') == "1") {
            var obj2 = {

                Module: "1"
            }
            CommonAjaxMethod('Program/SaveUserNotification', obj2, false, 'POST', function (response) {

            });
        }
        if (sessionStorage.getItem('RoleID') == "3") {
            var obj1 = {

                Type: "7",
                OperationType: "UPDATE",
                UserId: qData
            }
            CommonAjaxMethod('Home/AdminNotificationEnquiryMessage', obj1, false, 'POST', function (response) {

            });
        }
        CommonAjaxMethod('Home/GetUserDetailsById', { userId: sessionStorage.getItem('userId') }, false, 'GET', function (response) {
            $("#HeaderValue").text(response.dataCollection[0].FirstName + ",");

        });

        var selectedUserId = sessionStorage.getItem('SelectedUserId');
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        var MessageMaster =
        {
            MessageId: $("#hdnMessageID").val() == '' ? '0' : $("#hdnMessageID").val().trim(),
            UserID: sessionStorage.getItem('userId'),
            AddedBy: sessionStorage.getItem('userId'),
            Message: "",
            MessageConversationList: []

        }
        CommonAjaxMethod('Program/SaveMessageNotification', MessageMaster, false, 'POST', function (response) {
        });

        $("#fileInput").on("change", function () {
            var fileInput = document.getElementById('fileInput');
            formdata = new FormData();
            $("#FilesList tbody").html("");
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {

                var sfilename = fileInput.files[i].name;
                let srandomid = Math.random().toString(36).substring(7);

                formdata.append(sfilename, fileInput.files[i]);

                var markup = "<tr id='" + srandomid + "'><td>" + sfilename + "</td><td><a href='#' onclick='DeleteFile(\"" + srandomid + "\",\"" + sfilename +
                    "\")'><span class='glyphicon glyphicon-remove red'>Remove</span></a></td></tr>"; // Binding the file name
                $("#FilesList tbody").append(markup);

            }
            chkatchtbl();



        });

        $("#btnupload").click(function () {

            $.ajax({
                url: virtualPath+'/CommonMethods/UploadFiles?userID='+sessionStorage.getItem('userId'),
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: formdata,
                async: false,
                success: function (result) {
                    if (result != "") {
                        $("#hdnfileName").val(result);
                        alert("file attached");
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        });
    };
    var fileData = [];
    function ClearAttach() {
        var fileInput = document.getElementById('fileInput');
        //Iterating through each files selected in fileInput
        formdata = new FormData();
        $("#FilesList tbody").html("");
        document.getElementById('fileInput').value = "";

    }
    function DeleteFile(Fileid, FileName) {

        //  var files = fileUpload.files;
        var fileInput = document.getElementById('fileInput');
        //Iterating through each files selected in fileInput
        formdata = new FormData();
        $("#FilesList tbody").html("");

        if (fileData.indexOf(FileName) == -1)
            fileData.push(FileName);


        for (i = 0; i < fileInput.files.length; i++) {
            var sfilename = fileInput.files[i].name;
            if (fileData.indexOf(sfilename) == -1) {
                let srandomid = Math.random().toString(36).substring(7);

                formdata.append(sfilename, fileInput.files[i]);

                var markup = "<tr id='" + srandomid + "'><td>" + sfilename + "</td><td><a href='#' onclick='DeleteFile(\"" + srandomid + "\",\"" + sfilename +
                    "\")'><span class='glyphicon glyphicon-remove red'>Remove</span></a></td></tr>"; // Binding the file name
                $("#FilesList tbody").append(markup);
            }


        }



    }
    function chkatchtbl() {
        if ($('#FilesList tr').length > 1) {
            $("#FilesList").css("visibility", "visible");
        } else {
            $("#FilesList").css("visibility", "hidden");
        }
    }
    //window.onload = function ()
    //{
    //    CommonAjaxMethod('Program/GetMessage', null, false, 'GET', function (response) {
    //
    //        var htmlTopContent = "<div class=" / "row" / "><div class=" / "col-12" / "> <form class=" / "form-data" / ">";
    //        var hmtlBottomContent = "</form></div></div>";
    //        var htmlHeader = "";
    //        var htmlDynamicContent = "";
    //        var currentMessageId = 0;
    //        for (var i = 0; i < response.dataCollection.length; i++)
    //        {

    //            if (currentMessageId != response.dataCollection[i].MessageId)
    //            {
    //                currentMessageId = response.dataCollection[i].MessageId;

    //                htmlHeader+="<div class=" / "bg-yellow container-minus mt-4 mb-4 pt-2 pb-2" / "><div class=" / "row pt-2" / "><div class=" / "col-12 col-md-12 col-lg" / "><p class=" / "semi mb-2 text-white" / ">" + response.dataCollection[i].Subject + "</p>" +
    //                   "</div><div class=" / "col-12 col-md-12 col-lg-5" / "><p class=" / "semi mb-2 text-white" / ">" + response.dataCollection[i].AddedWhen + "</p></div></div></div>";

    //                htmlDynamicContent+="<div class=" / "form-group" / "><textarea readonly=" / "readonly" / " rows=" / "10" / " class=" / "form-control" / ">"+response.dataCollection[i].Message+"</textarea> </div>" +
    //                       "<div class=" / "text-right" / "><a href=" / "#" / " class=" / "btn mb-2 bg-sky hvr-sweep-to-top" / ">&nbsp; REPLY TO ADMIN &nbsp; </a></div>";

    //            }
    //            else
    //            {
    //                htmlDynamicContent += "<div class=" / "form-group" / "><textarea readonly=" / "readonly" / " rows=" / "10" / " class=" / "form-control" / ">" + response.dataCollection[i].Message + "</textarea> </div>" +
    //                      "<div class=" / "text-right" / "><a href=" / "#" / " class=" / "btn mb-2 bg-sky hvr-sweep-to-top" / ">&nbsp; REPLY TO ADMIN &nbsp; </a></div>";
    //            }


    //        }

    //        $("#hdnMessageID").innerHTML = htmlHeader+htmlTopContent
    //    });
    //};

    function SetMessageID(messageId) {
        $("#hdnMessageID").val(messageId);
        CommonAjaxMethod('Program/GetMessage', { MessageId: messageId }, false, 'GET', function (response) {
            $("#txtSubject").val(response.dataCollection[0].Subject);
            $('#txtSubject').prop("disabled", true);


        });


    }
    function Clear()
    {
        tinyMCE.activeEditor.setContent('');
    }

    function SaveMessage() {
        if (ValidationOnSave()) {
            //    if (ValidateRequiredField()) {
            var MessageMaster =
            {
                MessageId: $("#hdnMessageID").val() == '' ? '0' : $("#hdnMessageID").val().trim(),
                UserID: sessionStorage.getItem('userId'),
                AddedBy: sessionStorage.getItem('userId'),
                Message: tinyMCE.activeEditor.getContent(),
                MessageConversationList: []

            }

            var strFileData = $("#hdnfileName").val().split(",");

            for (var i = 0; i < strFileData.length; i++) {
                var Attachements = { Attachement: strFileData[i] }
                MessageMaster.MessageConversationList.push(Attachements);
            }
            CommonAjaxMethod('Program/SaveMessage', MessageMaster, false, 'POST', function (response) {
                alert('Message sent successfully!!!');
                location.reload();

            });
        }

    }
    function ValidationOnSave() {
        var isValidReturn = true;

        if (isValidReturn) {

            if (tinyMCE.activeEditor.getContent() == '') {
                alert("Please enter the message.")
                isValidReturn = false
            }
        }
        return isValidReturn;
    }

</script>
