
@{
    ViewBag.Title = "howItWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters banner howWorksBanner align-items-center">
        <div class="col-12 col-md-8 col-lg-11 text-right">
            <div class="d-none d-md-block">
                <h2 class="bold mb-0">How Eating Smart Works To Unveil A </h2>
                <h1 class="alex text-yellow semi mr-4">healthy You</h1>
            </div>
            <div class="d-block d-md-none banner-xs">
                <img src="@CommonMethods.ServerPath/banner/howWorks-xs.jpg" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<br /><br />
<div class="container">
    <div class="d-none d-md-block">
        <div class="row position-relative">
            <img src="@CommonMethods.ServerPath/img13.png" class="img-fluid howItWorksLeftBgImg d-none d-md-block" />
            <img src="@CommonMethods.ServerPath/img14.png" class="img-fluid howItWorksRightBgImg d-none d-md-block" />

            <div class="col-12 col-md-11">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3 workBlock">
                        <div class="numberBlock">01</div>
                        <p class="mb-3 semi">
                            Take the health rating <br />
                            and set your goals.
                        </p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 workBlock">
                        <img src="@CommonMethods.ServerPath/arrow.png" class="arrow" />
                        <div class="numberBlock">02</div>
                        <p class="mb-3 semi">
                            Pick the best program<br />
                            suited
                        </p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 workBlock">
                        <img src="@CommonMethods.ServerPath/arrow.png" class="arrow" />
                        <div class="numberBlock">03</div>
                        <p class="mb-3 semi">
                            Fill a detailed<br />
                            assessment
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end position-relative">
            <div class="col-12 col-md-11">
                <div class="row justify-content-end">
                    <div class="col-12 col-md-4 col-lg-3 workBlock">
                        <img src="@CommonMethods.ServerPath/arrow-down.png" class="arrow d-none d-md-block" />
                        <img src="@CommonMethods.ServerPath/arrow.png" class="arrow d-block d-md-none" />
                        <div class="numberBlock">04</div>
                        <p class="mb-3 semi">
                            Follow our smart plans,
                            accompanied  by eating smart
                            tools which will be your
                            best friend
                        </p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 workBlock">
                        <img src="@CommonMethods.ServerPath/arrow.png" class="arrow" />
                        <div class="numberBlock">05</div>
                        <p class="mb-3 semi">
                            Track your progress<br />
                            towards it.
                        </p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 workBlock">
                        <img src="@CommonMethods.ServerPath/arrow.png" class="arrow" />
                        <div class="numberBlock">06</div>
                        <p class="mb-3 semi">
                            Enjoy life, the smarter<br />
                            way!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-md-none mt-3">
        <div class="row align-items-center workBlock">
            <div class="col-auto">
                <div class="numberBlock">01</div>
            </div>
            <div class="col pl-0">
                <p class="semi">
                    Take the health rating <br />
                    and set your goals.
                </p>
            </div>
        </div>
        <div class="row align-items-center workBlock">
            <div class="col-auto">
                <div class="numberBlock">02</div>
            </div>
            <div class="col pl-0">
                <p class="semi">
                    Pick the best program<br />
                    suited
                </p>
            </div>
        </div>
        <div class="row align-items-center workBlock">
            <div class="col-auto">
                <div class="numberBlock">03</div>
            </div>
            <div class="col pl-0">
                <p class="semi">
                    Fill a detailed<br />
                    assessment
                </p>
            </div>
        </div>
        <div class="row align-items-center workBlock">
            <div class="col-auto">
                <div class="numberBlock">04</div>
            </div>
            <div class="col pl-0">
                <p class="semi">
                    Follow our smart plans,
                    accompanied  by eating smart
                    tools which will be your
                    best friend
                </p>
            </div>
        </div>
        <div class="row align-items-center workBlock">
            <div class="col-auto">
                <div class="numberBlock">05</div>
            </div>
            <div class="col pl-0">
                <p class="semi">
                    Track your progress<br />
                    towards it.
                </p>
            </div>
        </div>
        <div class="row align-items-center workBlock">
            <div class="col-auto">
                <div class="numberBlock">06</div>
            </div>
            <div class="col pl-0">
                <p class="semi">
                    Enjoy life, the smarter<br />
                    way!
                </p>
            </div>
        </div>

        <div class="row mt-4 howWorksImage">
            <div class="col-12 col-md-12 text-center">
                <div class="item">
                    <ul id="content-slider" class="content-slider">
                        <li>
                            <div class="proThumb">
                                <div class="proImg">
                                    <img src="@CommonMethods.ServerPath/howWorks/01.png" class="img-fluid" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="proThumb">
                                <div class="proImg">
                                    <img src="@CommonMethods.ServerPath/howWorks/02.png" class="img-fluid" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="proThumb">
                                <div class="proImg">
                                    <img src="@CommonMethods.ServerPath/howWorks/03.png" class="img-fluid" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="proThumb">
                                <div class="proImg">
                                    <img src="@CommonMethods.ServerPath/howWorks/04.png" class="img-fluid" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="proThumb">
                                <div class="proImg">
                                    <img src="@CommonMethods.ServerPath/howWorks/05.png" class="img-fluid" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="proThumb">
                                <div class="proImg">
                                    <img src="@CommonMethods.ServerPath/howWorks/06.png" class="img-fluid" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </div>
</div>
<br /><br />

<div class="container-fluid">
    <div class="row d-none d-md-block">
        <div class="col-12 col-lg-12 text-center position-relative mb-4">
            <a href="~/Home/contact"><img src="@CommonMethods.ServerPath/howWorks/howWorks.png" class="img-fluid mb-5" /></a>
            <img src="@CommonMethods.ServerPath/img15.png" class="img-fluid img15" />
            <img src="@CommonMethods.ServerPath/img16.png" class="img-fluid img16" />
        </div>
    </div>
</div>
