@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters mainBanner">
        <div class="col-12 text-center">
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="@CommonMethods.ServerPath/img/banner/home1.jpg" class="img-fluid" />
                    </div>
                    <div class="carousel-item">
                        <img src="@CommonMethods.ServerPath/img/banner/home2.jpg" class="img-fluid" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="bannerControl"><span class="carousel-control-prev-icon" aria-hidden="true"></span></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="bannerControl"><span class="carousel-control-next-icon" aria-hidden="true"></span></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row">
                <div class="col-12 col-md-12 text-center">
                    <div class="bannerAfter shadow">
                        <h2 class="mb-0 dib pr-2 light">Looking For A Happy & Healthy Lifestyle? <a href="#checkHealthMeter" class="btn btn-reg mt-2 mb-2 hvr-sweep-to-top" data-toggle="modal">CHECK YOUR HEALTH RATING</a>	</h2>
                    </div>
                </div>
                <!--
                <div class="col-12 col-md text-center">
                    <div class="sidraBannerBlock">
                        <h6 class="mb-0 dib pr-2 bold"><span class="alex text-orange">Sidra Patel</span><br />
                            <small class="semi">Nutritionist & lifestyle Consultant</small>
                        </h6>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mt-5 bold">DIGITAL WORLD OF FITNESS & HEALTH</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 text-center">
            <h5 class="mb-4 semi mt-4 ani1">
                "The fact that you have reached here, is the thought!<br />
                You think positive & your half way through"
            </h5>
            <h1 class="text-sky mt-5 mb-4">OUR EXCLUSIVE PROGRAMS</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-4">
        <div class="col-12 col-md-12 text-center">
            <div class="item">
                <ul id="content-slider" class="content-slider">
                    <li>
                        <a href="smartWeightLoss.html">
                            <div class="col-12">
                                <div class="proThumb">
                                    <div class="proImg shadow">
                                        <img src="@CommonMethods.ServerPath/img/exclusive/smartWeightLoss.jpg" class="img-fluid" />
                                    </div>
                                    <div class="proText">
                                        <h1 class="text-yellow bold marthin">Smart</h1>
                                        <h5>Weight Loss</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="smartWeightGain.html">
                            <div class="col-12">
                                <div class="proThumb">
                                    <div class="proImg shadow">
                                        <img src="@CommonMethods.ServerPath/img/exclusive/smartWeightGain.jpg" class="img-fluid" />
                                    </div>
                                    <div class="proText">
                                        <h1 class="text-yellow bold marthin">Smart</h1>
                                        <h5>Weight Gain</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="smartManagementForDisease.html">
                            <div class="col-12">
                                <div class="proThumb">
                                    <div class="proImg shadow">
                                        <img src="@CommonMethods.ServerPath/img/exclusive/smartManagementForDisease.jpg" class="img-fluid w-100" />
                                    </div>
                                    <div class="proText">
                                        <h1 class="text-yellow bold marthin">Smart</h1>
                                        <h5>Management of Diseases and Disorders</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="smartBodyToningBuilding.html">
                            <div class="col-12">
                                <div class="proThumb">
                                    <div class="proImg shadow">
                                        <img src="@CommonMethods.ServerPath/img/exclusive/smartBodyToningBuilding.jpg" class="img-fluid w-100" />
                                    </div>
                                    <div class="proText">
                                        <h1 class="text-yellow bold marthin">Smart</h1>
                                        <h5>Body Toning & Building</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="smartPsychologicalWellBeing.html">
                            <div class="col-12">
                                <div class="proThumb">
                                    <div class="proImg shadow">
                                        <img src="@CommonMethods.ServerPath/img/exclusive/smartPhysologicalWellBeing.jpg" class="img-fluid w-100" />
                                    </div>
                                    <div class="proText">
                                        <h1 class="text-yellow bold marthin">Smart</h1>
                                        <h5>Psychological Well-being</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="smartEatingOut.html">
                            <div class="col-12">
                                <div class="proThumb">
                                    <div class="proImg shadow">
                                        <img src="@CommonMethods.ServerPath/img/exclusive/smartEatingOut.jpg" class="img-fluid w-100" />
                                    </div>
                                    <div class="proText">
                                        <h1 class="text-yellow bold marthin">Smart</h1>
                                        <h5>Eating Out</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="smartEnhancer.html">
                            <div class="col-12">
                                <div class="proThumb">
                                    <div class="proImg shadow">
                                        <img src="@CommonMethods.ServerPath/img/exclusive/smartEnhancer.jpg" class="img-fluid w-100" />
                                    </div>
                                    <div class="proText">
                                        <h1 class="text-yellow bold marthin">Smart</h1>
                                        <h5>Enhancer</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="smartChildNutrition.html">
                            <div class="col-12">
                                <div class="proThumb">
                                    <div class="proImg shadow">
                                        <img src="@CommonMethods.ServerPath/img/exclusive/smartChildNutrition.jpg" class="img-fluid w-100" />
                                    </div>
                                    <div class="proText">
                                        <h1 class="text-yellow bold marthin">Smart</h1>
                                        <h5>Child Nutrition</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="smartEatingForSpecialChildren.html">
                            <div class="col-12">
                                <div class="proThumb">
                                    <div class="proImg shadow">
                                        <img src="@CommonMethods.ServerPath/img/exclusive/smartEatingForSpecialChildren.jpg" class="img-fluid w-100" />
                                    </div>
                                    <div class="proText">
                                        <h1 class="text-yellow bold marthin">Smart</h1>
                                        <h5>Eating For Special Children</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="sidraPatel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-md-10 col-lg-6 text-center">
                <img src="@CommonMethods.ServerPath/img/sidraPatel.png" class="img-fluid mb-3" />
                <h5 class="semi text-sky">NUTRITIONIST & LIFESTYLE CONSULTANT</h5>
                <p class="mt-4 mb-5">Kudos to the smarter ways to a healthier you with Sidra. Sidra is a Dietitian & health expert. Being in love with food herself, she has embarked on this amazing journey to encourage her clients to focus on “Eating Smart”, instead of depriving themselves of the happiness that food is. </p>
                <a href="services.html" class="btn bg-sky hvr-sweep-to-top">READ MORE</a>
            </div>
        </div>
    </div>
</div>

<div class="container howItWorksSection">
    <div class="row">
        <div class="col-12 col-md-12 text-center">
            <h1 class="text-sky mt-5 mb-4">HOW IT WORKS?</h1>
        </div>
    </div>
    <div class="row position-relative">
        <img src="@CommonMethods.ServerPath/img/img13.png" class="img-fluid howItWorksLeftBgImg d-none d-md-block" />
        <img src="@CommonMethods.ServerPath/img/img14.png" class="img-fluid howItWorksRightBgImg d-none d-md-block" />
        <div class="col-12 col-md-11">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 workBlock">
                    <img src="@CommonMethods.ServerPath/img/howWorks/7.png" class="img-fluid mb-3" />
                    <p class="mb-3 semi">
                        Take the health rating <br />
                        and set your goals.
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 workBlock">
                    <img src="@CommonMethods.ServerPath/img/arrow.png" class="arrow" />
                    <img src="@CommonMethods.ServerPath/img/howWorks/8.png" class="img-fluid mb-3" />
                    <p class="mb-3 semi">
                        Pick the best program<br />
                        suited
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 workBlock">
                    <img src="@CommonMethods.ServerPath/img/arrow.png" class="arrow" />
                    <img src="@CommonMethods.ServerPath/img/howWorks/9.png" class="img-fluid mb-3" />
                    <p class="mb-3 semi">
                        Fill a detailed<br />
                        assessment
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end position-relative">
        <div class="col-12 col-md-11">
            <div class="row justify-content-end">
                <div class="col-12 col-md-4 col-lg-3 workBlock">
                    <img src="@CommonMethods.ServerPath/img/arrow-down.png" class="arrow d-none d-md-block" />
                    <img src="@CommonMethods.ServerPath/img/arrow.png" class="arrow d-block d-md-none" />
                    <img src="@CommonMethods.ServerPath/img/howWorks/10.png" class="img-fluid mb-3" />
                    <p class="mb-3 semi">
                        Follow our smart plans,
                        accompanied  by eating smart
                        tools which will be your
                        best friend
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 workBlock">
                    <img src="@CommonMethods.ServerPath/img/arrow.png" class="arrow" />
                    <img src="@CommonMethods.ServerPath/img/howWorks/11.png" class="img-fluid mb-3" />
                    <p class="mb-3 semi">
                        Track your progress<br />
                        towards it.
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 workBlock">
                    <img src="@CommonMethods.ServerPath/img/arrow.png" class="arrow" />
                    <img src="@CommonMethods.ServerPath/img/howWorks/12.png" class="img-fluid mb-3" />
                    <p class="mb-3 semi">
                        Enjoy life, the smarter<br />
                        way!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 text-right mb-4">
            <a href="howItWorks.html" class="btn btn-reg mt-2 mb-2 hvr-sweep-to-top">EXPLORE MORE ABOUT THIS</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 text-center">
            <h1 class="text-sky mt-5 mb-4">EATING SMART TOOLS</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6 col-md-3 mb-3">
            <div class="proThumb m-0 effects" data-move-y="100px" data-move-x="-100px">
                <div class="proImg shadow">
                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/kitchenTools.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="proThumb m-0 effects" data-move-y="100px" data-move-x="-50px">
                <div class="proImg shadow">
                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/eatingOutTool.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="proThumb m-0 effects" data-move-y="100px" data-move-x="50px">
                <div class="proImg shadow">
                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/combat.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="proThumb m-0 effects" data-move-y="100px" data-move-x="100px">
                <div class="proImg shadow">
                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/packagedFoodTool.jpg" class="img-fluid" />
                </div>
            </div>
        </div>

    </div>
</div>


<div class="heathMeterSection">
    <img src="@CommonMethods.ServerPath/img/img3.png" class="img-fluid imgLeft d-none d-lg-block effects" data-move-x="-200px" />
    <img src="@CommonMethods.ServerPath/img/img4.png" class="img-fluid imgRight d-none d-lg-block effects" data-move-x="200px" />

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-md-auto text-center">
                <div class="text-left mt-4">
                    <img src="@CommonMethods.ServerPath/img/calc.png" class="img-fluid mb-1" />
                </div>
                <h2 class="mb-1">LET'S CHECK YOUR <span class="bold text-orange">HEALTH RATING!</span></h2>
                <div class="text-right mb-5">
                    <a href="#checkHealthMeter" class="btn bg-sky hvr-sweep-to-top">&nbsp;&nbsp; CLICK HERE &nbsp;&nbsp;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonialBlock">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-md-12 col-lg-6 text-center">
                    <h1>
                        HAPPY<br />
                        TESTIMONIALS
                    </h1>

                    <div id="testiCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <p class="mt-4 mb-4">"Sidra, a big thank you to you for this incredible weight loss journey of mine. I can’t express enough words for my happiness I feel for my happy body..."</p>
                                <!--<img src="@CommonMethods.ServerPath/img/annie.png" class="img-fluid mr-3 align-bottom dib" />-->
                                <div class="dib">
                                    <p class="semi mb-1">PAYAL KHANNA</p>
                                    <p class="mb-1">UAE, Interior Designer</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <p class="mt-4 mb-4">"Thank u for the motivation and patience firstly. Super the session was. I enjoyed the diet, not feeling bloated. Energy level is awesome and I feel good . . ."</p>
                                <!-- <img src="@CommonMethods.ServerPath/img/annie.png" class="img-fluid mr-3 align-bottom dib" />-->
                                <div class="dib">
                                    <p class="semi mb-1">VARUN BHOJANI</p>
                                    <p class="mb-1">Chennai, Businessmen</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <p class="mt-4 mb-4">"Hello Aruna here, I feel lots of difference in weight loss these days. Earlier I couldn't lose a single gram ..and because of this diet I could see lots of difference . . ."</p>
                                <!--<img src="@CommonMethods.ServerPath/img/annie.png" class="img-fluid mr-3 align-bottom dib" />-->
                                <div class="dib">
                                    <p class="semi mb-1">ARUNA IYER</p>
                                    <p class="mb-1">Bengaluru, Housewife</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <p class="mt-4 mb-4">"Thank you sidra once again for all your support and effort, especially for giving me the easy to follow options when I had severe pain. I feel a relief from inflammation too."</p>
                                <!--<img src="@CommonMethods.ServerPath/img/annie.png" class="img-fluid mr-3 align-bottom dib" />-->
                                <div class="dib">
                                    <p class="semi mb-1">TASNEEM KANCHWALA</p>
                                    <p class="mb-1">Bahrain, Housewife</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <p class="mt-4 mb-4">"Hi Sidra, I got my tests done before starting my IVF treatment, through your program my AMH results have improved it went up from 1.65 to 1.85.  Thank you, your diet plans were pretty doable."</p>
                                <!--<img src="@CommonMethods.ServerPath/img/annie.png" class="img-fluid mr-3 align-bottom dib" />-->
                                <div class="dib">
                                    <p class="semi mb-1">RASHMI DUBE</p>
                                    <p class="mb-1">Mumbai, Consultant</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <p class="mt-4 mb-4">"Hello Sidra, thank you so much. The diet looks doable . And I am already confident about following this. I wasn’t sure about myself whether I would be able to give my 100% ."</p>
                                <!--<img src="@CommonMethods.ServerPath/img/annie.png" class="img-fluid mr-3 align-bottom dib" />-->
                                <div class="dib">
                                    <p class="semi mb-1">ANKITA ALREJA</p>
                                    <p class="mb-1">Mumbai, Sales Head</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#testiCarousel" role="button" data-slide="prev"><img src="@CommonMethods.ServerPath/img/arrow-left.png" class="carousel-control-prev-icon"></a>
                        <a class="carousel-control-next" href="#testiCarousel" role="button" data-slide="next"><img src="@CommonMethods.ServerPath/img/arrow-right.png" class="carousel-control-next-icon" aria-hidden="true"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








