@model HealthCalculator.Web.EntityModel.EatingToolModel
@{
    ViewBag.Title = "MY EATING SMART TOOLS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters banner eatingSmartToolsBanner align-items-center">
        <div class="col-12 text-center">
            <h2 class="bold mb-0 text-white">MY EATING SMART TOOLS </h2>
        </div>
    </div>
</div>

<div class="container">   
    <div class="row justify-content-center">
        <div class="col-11 col-lg-9 bg-gray p-5 mb-5">
                                     
                        @if(Model.IsValid==true)
                        {

                            <div class="row align-items-center combatBlock">
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Combat-sweet-cravings-tool-1.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Combat-sweet-cravings-tool-2.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Combat-sweet-cravings-tool-2.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md col-lg combatBlockContent">
                                    <h2 class="num mb-4">1</h2>
                                    <p>This 4 step process is backed by psychological concepts which will help you train your mind and combat cravings.</p>
                                </div>
                            </div>
                            <div class="row align-items-center flex-row-reverse combatBlock">
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Packaged-food-tool-1.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Packaged-food-tool-2.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Packaged-food-tool-3.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Packaged-food-tool-4.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md col-lg combatBlockContent">
                                    <h2 class="num mb-4">2</h2>
                                    <p>This tool will make you a smart shopper when it comes to picking packaged foods!</p>
                                    <p>Thinking practically, it's not possible for us to avoid all kinds of packaged foods, we tend to pick some from the shelf.</p>
                                    <p>So let’s be smart while picking them.</p>
                                </div>
                            </div>
                            <div class="row align-items-center combatBlock">
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-1.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-2.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-3.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-4.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-5.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-6.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md col-lg combatBlockContent">
                                    <h2 class="num mb-4">3</h2>
                                    <p>Kitchen tools will guide you on your essentials, portions of food and cookwares to be used.</p>
                                    <p>This will form the backbone when it comes to cooking and making smart combinations with your favourite foods.</p>
                                </div>
                            </div>

                            <div class="row align-items-center flex-row-reverse combatBlock">
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Eating-out-tool-1.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Eating-out-tool-2.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Eating-out-tool-3.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Eating-out-tool-4.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Eating-out-tool-5.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Eating-out-tool-6.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md col-lg combatBlockContent">
                                    <h2 class="num mb-4">4</h2>
                                    <p class="semi">How many of us love eating out occasionally?</p>
                                    <p>This includes an entire menu divided into starters, main course and much more. So we eat out, but smartly!</p>
                                </div>
                            </div>
                          
                        }
                        else
                        {
                            <div class="row align-items-center flex-row-reverse combatBlock">
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Packaged-food-tool-1.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Packaged-food-tool-2.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Packaged-food-tool-3.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Packaged-food-tool-4.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md col-lg combatBlockContent">
                                    <h2 class="num mb-4">2</h2>
                                    <p>This tool will make you a smart shopper when it comes to picking packaged foods!</p>
                                    <p>Thinking practically, it's not possible for us to avoid all kinds of packaged foods, we tend to pick some from the shelf.</p>
                                    <p>So let’s be smart while picking them.</p>
                                </div>
                            </div>
                            <div class="row align-items-center combatBlock">
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-1.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-2.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-3.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-4.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-5.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md-5 col-lg-5 text-center combatBlockImg">
                                    <img src="@CommonMethods.ServerPath/img/eatingSmartTools/Kitchen-tool-6.jpg" class="img-fluid" />
                                </div>
                                <div class="col-12 col-md col-lg combatBlockContent">
                                    <h2 class="num mb-4">3</h2>
                                    <p>Kitchen tools will guide you on your essentials, portions of food and cookwares to be used.</p>
                                    <p>This will form the backbone when it comes to cooking and making smart combinations with your favourite foods.</p>
                                </div>
                            </div>
                        
                          }          
           
          
           
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        $('img').bind('contextmenu', function (e) {
            return false;
        });
    };
</script>
