
@{
    ViewBag.Title = "MyEatingPattern";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/tinymce.min.js"></script>
<div class="container-fluid bg-sky">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center pt-3 pb-2">
            <h2 class="semi text-white text-shadow">
                <span id="HeaderValue"></span>
                <img src="@CommonMethods.ServerPath/img/thumbs.png" style="width: 40px; vertical-align: middle; margin-top: -15px;" />
                <img src="@CommonMethods.ServerPath/img/smiley.png" class="smiley" style="width: 40px;" />
            </h2>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ul class="list-inline menu-sec">

                    <li class="list-inline-item"><a href="~/Home/assessment">My Assessment Tool</a></li>

                    <li class="list-inline-item"> <a href="#" onclick="TrackersHelp(this)">My Trackers<span class="float-right d-none d-md-block font" style="color: red;" id="spTrackers"></span></a></li>

                    <li class="list-inline-item"><a href="~/Home/MyEatingSmartTools?userId=">My Eating Smart Tool</a></li>


                    <li class="list-inline-item"> <a href="#" onclick="PatternHelp(this)">My Eating Pattern<span class="float-right d-none d-md-block" style="color: red;" id="spPattern"></span></a></li>

                    <li class="list-inline-item"> <a href="#" onclick="MessageHelp(this)">Admin Messages<span class="float-right d-none d-md-block" style="color: red;" id="spMessage"></span></a></li>

                    <li class="list-inline-item"><a href="~/Home/ViewPlan?userId=">View Plans</a></li>
                    <li class="list-inline-item active"><a onclick="Logout(this)">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">

                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">Current Active Plan : - <label class="col-12 col-sm-5 col-form-label semi" id="lbllable"></label></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group row">
                            <label class="semi mb-2 text-yellow">Session <span class="float-right d-none d-md-block"> : </span></label>
                            <div class="col-12 col-sm-7">
                                <select class="custom-select" id="ddlSessionID2" onchange="bindData(this)">                                                              
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0 mb-2 bg-dark" />
                </div>


                <form class="form-data" id="adminform" style="display:none;">
                    @*-------------uday Start---------------------*@
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">On Rising</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtOnRising"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Pre Breakfast</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtPreBreak"></textarea>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Breakfast</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtBreak"></textarea>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Mid Morning</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtMidMorning"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Pre Workout</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtPreWorkout"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">During Workout</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtDuringWorkout"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Pre Lunch</p>
                            <hr class="mt-0 mb-4 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtPreLunch"></textarea>
                    </div>



                    @*<%-- uday-->*@
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Lunch</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtLunch"></textarea>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Tea Evening</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtTeaEvening"></textarea>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Late Evening</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtLateEvening"></textarea>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Pre Dinner</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtPreDinner"></textarea>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Dinner</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtDinner"></textarea>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Post Dinner</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtPostDinner"></textarea>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Bed Time</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtBedTime"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Recipes</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtRecipes"></textarea>
                    </div>


                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Notes</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control" id="txtNotes"></textarea>
                    </div>
                    <div class="text-right" id="divButtonShowHide">
                        <a href="#" class="btn btn-reg mb-2 hvr-sweep-to-top" onclick="Clear()">&nbsp; &nbsp; Clear &nbsp; &nbsp; </a>
                        <a href="#" class="btn btn-reg mb-2 hvr-sweep-to-top" id="btnSaveOnRising" onclick="SaveEatingPattern(0)">&nbsp; &nbsp; Save Draft&nbsp; &nbsp; </a>
                        <a href="#" class="btn btn-reg mb-2 hvr-sweep-to-top" id="btnSubmitOnRising" onclick="SaveEatingPattern(1)">&nbsp; &nbsp; Submit &nbsp; &nbsp; </a>

                    </div>

                    @*--------------------*@
                </form>
                <div id="print-content">
                    <form class="form-data" id="userform" style="display:none;">
                       
                        <a href="#" class="btn btn-reg mb-2 hvr-sweep-to-top" id="btnPrint" target="_blank" onclick="printDiv(this)">&nbsp; &nbsp; Print Pattern&nbsp; &nbsp; </a>
                        <div id="ShowHideRising">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">On Rising</p>
                                    <hr class="mt-0 mb-4 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">

                                <div rows="10" class="form-control" id="divOnRising"></div>
                            </div>
                        </div>

                        <div id="ShowHidePreBreak">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Pre Breakfast</p>
                                    <hr class="mt-0 mb-4 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divPreBreak"></div>
                            </div>
                        </div>

                        <div id="ShowHideBreak">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Breakfast</p>
                                    <hr class="mt-0 mb-4 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divBreak"></div>
                            </div>
                        </div>
                        <div id="ShowHideMidMorning">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Mid Morning</p>
                                    <hr class="mt-0 mb-4 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divMidMorning"></div>
                            </div>
                        </div>
                        <div id="ShowHidePreWorkOut">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Pre Workout</p>
                                    <hr class="mt-0 mb-4 bg-dark" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div rows="10" class="form-control" id="divPreWorkout"></div>
                            </div>
                        </div>

                        <div id="ShowHideDuringWorkOut">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">During Workout</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divDuringWorkout"></div>
                            </div>
                        </div>
                        <div id="ShowHidePrelunch">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Pre Lunch</p>
                                    <hr class="mt-0 mb-4 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divPreLunch"></div>
                            </div>
                        </div>

                        @*<%-- uday-->*@
                        <div id="ShowHidelunch">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Lunch</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divLunch"></div>
                            </div>
                        </div>

                        <div id="ShowHideTeaEvening">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Tea Evening</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divTeaEvening"></div>
                            </div>
                        </div>
                        <div id="ShowHideLateEvening">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Late Evening</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divLateEvening"></div>
                            </div>
                        </div>

                        <div id="ShowHidePreDinner">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Pre Dinner</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divPreDinner"></div>
                            </div>
                        </div>
                        <div id="ShowHideDinner">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Dinner</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divDinner"></div>
                            </div>
                        </div>
                        <div id="ShowHidePostDinner">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Post Dinner</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divPostDinner"></div>
                            </div>
                        </div>

                        <div id="ShowHideBedTime">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Bed Time</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divBedTime"></div>
                            </div>
                        </div>
                        <div id="ShowHideRecipes">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Recipes</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divRecipes"></div>
                            </div>
                        </div>                       
                        <div id="ShowHideNotes">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <p class="semi mb-2 text-yellow">Notes</p>
                                    <hr class="mt-0 mb-3 bg-dark" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div rows="10" class="form-control" id="divNotes"></div>
                                <input type="hidden" id="hdnProdId" />
                                <input type="hidden" id="hdnOrderId" />
                            </div>
                        </div>
                    </form>
                </div>
             
            </div>
        </div>
    </div>
</div>


<script>
    tinymce.init({ selector: "textarea" });
</script>

<script>

    function MessageHelp(ctrl) {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/helpDesk?userId=")' + selectedUserId;
        ctrl.click();
    }
    function TrackersHelp(ctrl)
    {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/tracker?userId=")' + selectedUserId;
        ctrl.click();
    }
    function PatternHelp(ctrl)
    {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/MyEatingPattern?userId=")' + selectedUserId;
        ctrl.click();
    }

       function Logout(ctrl) {
        sessionStorage.clear();
        ctrl.href = '@Url.Content("~/Home/Logout")';
        ctrl.click();
    }
    function printDiv(ctrl)
    {
        if ($("#ddlSessionID2").val() != "0")
        {
            ctrl.href = '@Url.Content("~/Home/PrintSession?userId=")' + sessionStorage.getItem("userId") + "&OrderId=" + sessionStorage.getItem('OrderId') + "&productId=" + sessionStorage.getItem('ProductId') + "&SessionId=" + $("#ddlSessionID2").val();

        ctrl.click();
        }
      else
        {
            alert("Please select session to print.")
        }


    }
    window.onload = function ()
    {


        var qData = "@Request.QueryString["userId"].ToString()";
        if (qData != "")
        {
            qData = "@Request.QueryString["userId"].ToString()";
            sessionStorage.setItem('userId', qData);

        }
        var assessment =
       {
           TableType: "GetRecord",
           UserId: sessionStorage.getItem('userId')
       }
        CommonAjaxMethod('Program/GetAsseeement', assessment, false, 'POST', function (response) {
            if (response.data.Data.Table.length > 0) {
                $("#spMessage").text(" (" + response.data.Data.Table[0].MessageCount + ")");
                $("#spTrackers").text(" (" + response.data.Data.Table[0].Trackerfalldays + ")");
                $("#spPattern").text(" (" + response.data.Data.Table[0].PatternCount + ")");
            }

        });
        CommonAjaxMethod('Home/GetUserDetailsById', { userId: sessionStorage.getItem('userId') }, false, 'GET', function (response) {
            $("#HeaderValue").text("ACCOUNT SETTINGS | " + response.dataCollection[0].FirstName + ",  believe in yourself. You can do it!");

        });
        if (sessionStorage.getItem('RoleID') == "1")
        {
            $("#userform").show();
            $("#adminform").hide();
        }
        if (sessionStorage.getItem('RoleID') == "3" || sessionStorage.getItem('RoleID') == "2") {

            $("#userform").hide();
            $("#adminform").show();
        }
        if (sessionStorage.getItem('ProductId') == "0")
        {
            $("#divButtonShowHide").hide();
        }
        else
        {
            $("#userform").hide();
            $("#adminform").hide();

            //var mySession =
            //{
            //    UserSession: []
            //}
            //var varddl = document.getElementById("ddlSessionID");
            //alert("aa");
            //debugger;
            var $ele = $('#ddlSessionID2');
            $ele.empty();
            $ele.append($('<option/>').val('0').text('Select'));

            CommonAjaxMethod('Program/GetUserTrackerDetails', { userId: sessionStorage.getItem('userId') }, false, 'GET',
                function (response) {

                    if (response.data.Data.Table2.length > 0) {

                        $("#lbllable").text(response.data.Data.Table2[0].Program + " :: " + response.data.Data.Table2[0].ProductName);
                        $("#hdnProdId").val(response.data.Data.Table2[0].ProductId);
                        $("#hdnOrderId").val(response.data.Data.Table2[0].OrderId);


                        for (var i = 0; i < response.data.Data.Table2[0].GivenDays; i++)
                        {

                            var ID =(i + 1);
                            var Name = "Session " + (i + 1);

                           //mySession.UserSession.push(list1);

                            //varddl.innerHTML = varddl.innerHTML +
                            //    '<option value="' + list1[i]['ID'] + '">' + list1[i]['Name'] + '</option>';

                            $ele.append($('<option/>').val(ID).text(Name));

                        }



                    }
                }
            );

        }
    };

    function Logout(ctrl) {
        sessionStorage.clear();
        ctrl.href = '@Url.Content("~/Home/Logout")';
        ctrl.click();
    }
    function MessageHelp(ctrl) {
        var selectedUserId = sessionStorage.getItem('SelectedUserId');
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/helpDesk?userId=")' + selectedUserId;
        ctrl.click();
    }
    function SaveEatingPattern(varsubmit) {

    var UserEatingPattern =
    {

            UserId: sessionStorage.getItem("userId"),
            ProductId:sessionStorage.getItem('ProductId'),
            OrderId: sessionStorage.getItem('OrderId'),
            OnRising: tinymce.get('txtOnRising').getContent() ,
            PreBreakfast: tinymce.get('txtPreBreak').getContent() ,
            Breakfast: tinymce.get('txtBreak').getContent(),
            //PreBreakfast: "2",
            //Breakfast:"3",
            MidMorning: tinymce.get('txtMidMorning').getContent() ,
            PreWorkout: tinymce.get('txtPreWorkout').getContent(),
            DuringWorkout: tinymce.get('txtDuringWorkout').getContent() ,

            PreLunch: tinymce.get('txtPreLunch').getContent() ,
            Lunch: tinymce.get('txtLunch').getContent() ,
            TeaEvening: tinymce.get('txtTeaEvening').getContent() ,
            LateEvening: tinymce.get('txtLateEvening').getContent(),
            PreDinner: tinymce.get('txtPreDinner').getContent() ,
            Dinner: tinymce.get('txtDinner').getContent() ,
            PostDinner: tinymce.get('txtPostDinner').getContent(),
            BedTime: tinymce.get('txtBedTime').getContent(),
            Recipes: tinymce.get('txtRecipes').getContent() ,
            Notes: tinymce.get('txtNotes').getContent() ,
            IsSubmit: varsubmit,
            IsActive: 1,
            SessionId: $("#ddlSessionID2").val(),

        }

        var eatingpattern =
        {
            TableType: "EatingPattern",
            UserId: sessionStorage.getItem('userId'),
            IsSubmit: varsubmit,
            RoleId: sessionStorage.getItem('RoleID'),
            UserEatingPattern: UserEatingPattern
        }


        CommonAjaxMethod('Program/SaveEatingPattern', eatingpattern, false, 'POST', function (response) {
        alert('Record save successfully!!!');
    });

    }

    function SubmitEatingPattern()
    {
    }

    function bindData(varselectedID)
    {
        if (sessionStorage.getItem('RoleID') == "3" || sessionStorage.getItem('RoleID') == "2")
        {

            $("#userform").hide();
            $("#adminform").show();
        }
        if (sessionStorage.getItem('ProductId') == "0")
        {
            $("#divButtonShowHide").hide();
        }
        else
        {

           var eatingpattern =
           {
               TableType: "EatingPattern1",
               UserId: sessionStorage.getItem('userId'),
               IsSubmit: varsubmit,
               RoleId: sessionStorage.getItem('RoleID')
              
           }


            CommonAjaxMethod('Program/SaveEatingPattern', eatingpattern, false, 'POST', function (response) {
               
            });

         
            CommonAjaxMethod('Program/GetEatingPattern', { userId: sessionStorage.getItem("userId"), orderId: $("#hdnOrderId").val(), productId: $("#hdnProdId").val(), SessionId: varselectedID.value }, false, 'GET', function (response) {

                if (sessionStorage.getItem('RoleID') == "1")
                {
                   

                    $("#userform").show();
                    $("#adminform").hide();

                    $('#ShowHideRising').hide();
                    $('#ShowHidePreBreak').hide();
                    $('#ShowHideBreak').hide();
                    $('#ShowHideMidMorning').hide();
                    $('#ShowHidePreWorkOut').hide();
                    $('#ShowHideDuringWorkOut').hide();
                    $('#ShowHidePrelunch').hide();
                    $('#ShowHidelunch').hide();
                    $('#ShowHideTeaEvening').hide();
                    $('#ShowHideLateEvening').hide();
                    $('#ShowHidePreDinner').hide();
                    $('#ShowHideDinner').hide();
                    $('#ShowHidePostDinner').hide();
                    $('#ShowHideBedTime').hide();
                    $('#ShowHideRecipes').hide();
                    $('#ShowHideNotes').hide();

                    if (response.dataCollection.length > 0)
                    {


                        if (response.dataCollection[0].OnRising.length > 0)
                        {
                            $('#divOnRising').html(response.dataCollection[0].OnRising);
                            $('#ShowHideRising').show();
                        }

                        if (response.dataCollection[0].PreBreakfast.length > 0) {
                            $('#divPreBreak').html(response.dataCollection[0].PreBreakfast);
                            $('#ShowHidePreBreak').show();
                        }

                        if (response.dataCollection[0].Breakfast.length > 0) {
                            $('#divBreak').html(response.dataCollection[0].Breakfast);
                            $('#ShowHideBreak').show();
                        }

                        if (response.dataCollection[0].MidMorning.length > 0) {
                            $('#divMidMorning').html(response.dataCollection[0].MidMorning);
                            $('#ShowHideMidMorning').show();

                        }

                        if (response.dataCollection[0].PreWorkout.length > 0) {
                            $('#divPreWorkout').html(response.dataCollection[0].PreWorkout);
                            $('#ShowHidePreWorkOut').show();

                        }

                        if (response.dataCollection[0].DuringWorkout.length > 0) {
                            $('#divDuringWorkout').html(response.dataCollection[0].DuringWorkout);
                            $('#ShowHideDuringWorkOut').show();


                        }

                        if (response.dataCollection[0].PreLunch.length > 0) {
                            $('#divPreLunch').html(response.dataCollection[0].PreLunch);
                            $('#ShowHidePrelunch').show();


                        }
                        if (response.dataCollection[0].Lunch.length > 0) {
                            $('#divLunch').html(response.dataCollection[0].Lunch);
                            $('#ShowHidelunch').show();


                        }

                        if (response.dataCollection[0].TeaEvening.length > 0) {
                            $('#divTeaEvening').html(response.dataCollection[0].TeaEvening);
                            $('#ShowHideTeaEvening').show();


                        }

                        if (response.dataCollection[0].LateEvening.length > 0) {
                            $('#divLateEvening').html(response.dataCollection[0].LateEvening);
                            $('#ShowHideLateEvening').show();


                        }
                        if (response.dataCollection[0].PreDinner.length > 0) {
                            $('#divPreDinner').html(response.dataCollection[0].PreDinner);
                            $('#ShowHidePreDinner').show();


                        }
                        if (response.dataCollection[0].Dinner.length > 0) {
                            $('#divDinner').html(response.dataCollection[0].Dinner);
                            $('#ShowHideDinner').show();


                        }
                        if (response.dataCollection[0].PostDinner.length > 0) {
                            $('#divPostDinner').html(response.dataCollection[0].PostDinner);
                            $('#ShowHidePostDinner').show();


                        }
                        if (response.dataCollection[0].BedTime.length > 0) {
                            $('#divBedTime').html(response.dataCollection[0].BedTime);
                            $('#ShowHideBedTime').show();


                        }

                        if (response.dataCollection[0].Recipes.length > 0) {
                            $('#divRecipes').html(response.dataCollection[0].Recipes);
                            $('#ShowHideRecipes').show();


                        }

                        if (response.dataCollection[0].Notes.length > 0) {
                            $('#divNotes').html(response.dataCollection[0].Notes);
                            $('#ShowHideNotes').show();


                        }

                    }
                }
                if (sessionStorage.getItem('RoleID') == "3" || sessionStorage.getItem('RoleID') == "2") {

                    $("#userform").hide();
                    $("#adminform").show();

                    
                    if (response.dataCollection.length > 0) {

                        if (response.dataCollection[0].OnRising != null) {
                            tinymce.get('txtOnRising').setContent(response.dataCollection[0].OnRising);
                        }

                        if (response.dataCollection[0].PreBreakfast != null) {
                            tinymce.get('txtPreBreak').setContent(response.dataCollection[0].PreBreakfast);
                        }
                        if (response.dataCollection[0].Breakfast != null) {
                            tinymce.get('txtBreak').setContent(response.dataCollection[0].Breakfast);
                        }
                        if (response.dataCollection[0].MidMorning != null) {
                            tinymce.get('txtMidMorning').setContent(response.dataCollection[0].MidMorning);
                        }
                        if (response.dataCollection[0].PreWorkout != null) {
                            tinymce.get('txtPreWorkout').setContent(response.dataCollection[0].PreWorkout);
                        }
                        if (response.dataCollection[0].DuringWorkout != null) {
                            tinymce.get('txtDuringWorkout').setContent(response.dataCollection[0].DuringWorkout);
                        }
                        if (response.dataCollection[0].PreLunch != null) {
                            tinymce.get('txtPreLunch').setContent(response.dataCollection[0].PreLunch);
                        }
                        if (response.dataCollection[0].Lunch != null) {
                            tinymce.get('txtLunch').setContent(response.dataCollection[0].Lunch);
                        }
                        if (response.dataCollection[0].TeaEvening != null) {
                            tinymce.get('txtTeaEvening').setContent(response.dataCollection[0].TeaEvening);
                        }
                        if (response.dataCollection[0].LateEvening != null) {
                            tinymce.get('txtLateEvening').setContent(response.dataCollection[0].LateEvening);
                        }
                        if (response.dataCollection[0].PreDinner != null) {
                            tinymce.get('txtPreDinner').setContent(response.dataCollection[0].PreDinner);
                        }
                        if (response.dataCollection[0].Dinner != null) {
                            tinymce.get('txtDinner').setContent(response.dataCollection[0].Dinner);
                        }
                        if (response.dataCollection[0].PostDinner != null) {
                            tinymce.get('txtPostDinner').setContent(response.dataCollection[0].PostDinner);
                        }
                        if (response.dataCollection[0].BedTime != null) {
                            tinymce.get('txtBedTime').setContent(response.dataCollection[0].BedTime);
                        }
                        if (response.dataCollection[0].Recipes != null) {
                            tinymce.get('txtRecipes').setContent(response.dataCollection[0].Recipes);
                        }
                        if (response.dataCollection[0].Notes != null) {
                            tinymce.get('txtNotes').setContent(response.dataCollection[0].Notes);
                        }
                    }
                }


            });
        }
    }


</script>

