
@{
    ViewBag.Title = "payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>payments</h2>*@
<div class="container-fluid bg-sky">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center pt-3 pb-2">
            <h2 class="semi text-white text-shadow">
                <span id="HeaderValue"></span>
                <img src="@CommonMethods.ServerPath/img/thumbs.png" style="width: 40px; vertical-align: middle; margin-top: -15px;" />
                <img src="@CommonMethods.ServerPath/img/smiley.png" class="smiley" style="width: 40px;" />
            </h2>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ul class="list-inline menu-sec">

                    <li class="list-inline-item"><a href="~/Home/assessment?userId=">My Assessment Tool</a></li>

                    <li class="list-inline-item"> <a href="#" onclick="TrackersHelp(this)">My Trackers<span class="float-right d-none d-md-block font" style="color: red;" id="spTrackers"></span></a></li>

                    <li class="list-inline-item"><a href="~/Home/MyEatingSmartTools?userId=">My Eating Smart Tool</a></li>


                    <li class="list-inline-item"> <a href="#" onclick="PatternHelp(this)">My Eating Pattern<span class="float-right d-none d-md-block" style="color: red;" id="spPattern"></span></a></li>

                    <li class="list-inline-item"> <a href="#" onclick="MessageHelp(this)">Admin Messages<span class="float-right d-none d-md-block" style="color: red;" id="spMessage"></span></a></li>

                    <li class="list-inline-item"><a href="~/Home/ViewPlan?userId=">View Plans</a></li>
                    <li class="list-inline-item active"><a onclick="Logout(this)">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <form class="form-data">

                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">Payment</p>
                            <hr class="mt-0 mb-3 bg-dark" />
                            <input type="hidden" id="hdnTotalDoller" />
                            <input type="hidden" id="hdnTotalINR" />
                            <input type="hidden" id="hdnCouponId" />
                        </div>
                    </div>
                    <div>
                        <table class="table" id="tblPayment"></table>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-sm-12">
                          Total Amount to Pay
                        </div>
                        <div class="col-12 col-sm-12">
                           INR Amount: <input type="text" class="form-control border" id="txtINR" readonly="readonly"/>
                        </div>
                        <div class="col-12 col-sm-12">
                            Doller Amount: <input type="text" class="form-control border" id="txtDoller" readonly="readonly"  />
                        </div>
                    </div>

                    <div class="row">
                       
                        <div class="col-12 col-sm-12">
                           Coupon: <input type="text" class="form-control border" id="txtCoupon" placeholder="Coupon" maxlength="50" />
                        </div>
                        <div class="col-12 col-sm-12">
                            <a  class="btn btn-reg mb-4 hvr-sweep-to-top" id="btnCoupon" onclick="return ApplyCoupon()" href="#">&nbsp; &nbsp; Apply Coupon &nbsp; &nbsp; </a>
                        </div>
                    </div>
                    <div class="form-group row">
                        @*<div class="col-12 col-md-12">
                                <hr class="mt-0 mb-3 bg-dark" />
                            </div>*@
                        <div class="col-12 col-sm-12 text-right">
                            <input type="hidden" id="hdnTotalINR" />
                            <input type="hidden" id="hdnTotalDoller" />
                            <input type="hidden" id="hdnOrderId" />
                            <input type="hidden" id="hdnUserId" />
                            <input type="hidden" id="hdnCoupon" />
                            <a class="btn btn-reg mb-4 hvr-sweep-to-top" id="btnPayment"  href="#" onclick="RedirectToPayment(this)" target="_blank" >&nbsp; &nbsp; Payment &nbsp; &nbsp; </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<script src="~/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    function MessageHelp(ctrl) {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/helpDesk?userId=")' + selectedUserId;
        ctrl.click();
    }
    function TrackersHelp(ctrl)
    {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/tracker?userId=")' + selectedUserId;
        ctrl.click();
    }
    function PatternHelp(ctrl)
    {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/MyEatingPattern?userId=")' + selectedUserId;
        ctrl.click();
    }

    function Logout(ctrl) {
        sessionStorage.clear();
        ctrl.href = '@Url.Content("~/Home/Logout")';
        ctrl.click();
    }

    function RedirectToPayment(ctrl) {

        ctrl.href = '@Url.Content("~/Home/PaymentOption?Id=")' + $("#hdnTotalDoller").val() + '&OrderId=' + $("#hdnOrderId").val() + '&UserId=' + $("#hdnUserId").val() + '&Type=P&Cop=' + $("#hdnCoupon").val()+'&INR='+ $("#hdnTotalINR").val();

        ctrl.click();
    }
    function ProceedToPayment()
    {

    }
    function ApplyCoupon()
    {
        var cou = $("#txtCoupon").val();
        if (cou != "")
        {
            CommonAjaxMethod('Program/GetCoupan', { coupan: cou }, false, 'GET',
                       function (response) {
                           if (response.dataCollection.length > 0)
                           {
                               var cINRAmount = $("#txtINR").val();
                               var cDolleramount = $("#txtDoller").val();


                               var UpdateOrderDetailsForUser = {
                                   OrderAmountINR:(cINRAmount - response.dataCollection[0].Amount),
                                   OrderAmountDoller:(cDolleramount - response.dataCollection[0].DollerAmount),
                                   Order_Id: sessionStorage.getItem("OrderId"),
                                   UserId: sessionStorage.getItem("userId"),
                                   CoupenId: response.dataCollection[0].CoupenId,
                              }

                               CommonAjaxMethod('Home/UpdateOrderDetailsForUser', UpdateOrderDetailsForUser, false, 'POST',
                              function (resp)
                              {
                                  $("#txtINR").val((cINRAmount - response.dataCollection[0].Amount));
                                  $("#txtDoller").val((cDolleramount - response.dataCollection[0].DollerAmount));

                                  sessionStorage.setItem("TotalDoller", $("#txtDoller").val());
                                  sessionStorage.setItem("TotalINR", $("#txtINR").val());
                                  sessionStorage.setItem("CouponId", response.dataCollection[0].CoupenId);

                                  $("#hdnTotalINR").val((cINRAmount - response.dataCollection[0].Amount));
                                  $("#hdnTotalDoller").val((cDolleramount - response.dataCollection[0].DollerAmount));                                 
                                  $("#hdnCoupon").val(response.dataCollection[0].CoupenId);


                                  alert("Your coupon is applied.");
                              });

                           }
                           else {
                               alert("Please enter valid coupon.");
                           }
                       });
        }

    }
    $(document).ready(function () {

       
        var UserNotification =
         {
             TableType: "GetRecord",
             UserId: sessionStorage.getItem('userId')
         }
        CommonAjaxMethod('Program/GetUserNotification', UserNotification, false, 'POST', function (response) {

            if (response.data.Data.length > 0) {
                $("#spMessage").text(" (" + response.data.Data[0].MessageCount + ")");
                if (response.data.Data[0].Trackerfalldays != "0") {
                    $("#spTrackers").text(" (" + response.data.Data[0].Trackerfalldays + ")");
                }
                else {
                    $("#spTrackers").text(" (" + response.data.Data[0].Trackerfilled + ")");
                }
                $("#spPattern").text(" (" + response.data.Data[0].PatternCount + ")");
            }

        });
        CommonAjaxMethod('Home/GetUserDetailsById', { userId: sessionStorage.getItem('userId') }, false, 'GET', function (response) {
            $("#HeaderValue").text("ACCOUNT SETTINGS | " + response.dataCollection[0].FirstName + ",  believe in yourself. You can do it!");

        });

        var strProductId = sessionStorage.getItem("CProgramID");
        var orderId = "";
        var totalCartDetailsLength = 0;
        CommonAjaxMethod('Program/GetCartProduct', { Id: strProductId }, false, 'GET',
            function (response) {
                var intINR = 0;
                var intDoller = 0;

                if (response.data.Data.length > 0) {

                    OrderId = response.data.Data[0].OrderId;
                    totalCartDetailsLength = response.data.Data.length;
                    $('#tblPayment').append("<tbody><tr bgcolor='#f4a800'><th class='semi mb-2 text-white' >Program Name   </th><th class='semi mb-2 text-white' >Duration   </th><th class='semi mb-2 text-white'>₹    </th><th class='semi mb-2 text-white'>$     </th></tr></tbody>");
                    // $('#tblPayment').append("<tbody>");

                    for (var i = 0; i < response.data.Data.length; i++)
                    {
                        var strhiddenFiled = '<input type="hidden" id="hdnTotalINR"' + response.data.Data[i].Program_Id + ' />';
                        $('#tblPayment').append("<tr>");
                        $('#tblPayment').append("<td>" + strhiddenFiled + response.data.Data[i].Program + "</td>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].ProductName + "</td>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].INRRate + "</td>");
                        $('#tblPayment').append("<td>" + response.data.Data[i].DollerRate + "</td>");
                        $('#tblPayment').append("</tr></br>");

                        $('#tblPayment').append("<tbody>");

                        intINR = parseFloat(intINR) + parseFloat(response.data.Data[i].INRRate);
                        intDoller = parseFloat(intDoller) + parseFloat(response.data.Data[i].DollerRate);

                    }

                    $('#tblPayment').append("<tr>");
                    $('#tblPayment').append("<td><b>" + "Total" + "</b></td>");
                    $('#tblPayment').append("<td><b>" + "" + "</b></td>");
                    $('#tblPayment').append("<td><b>" + intINR.toFixed(2) + "</b></td>");
                    $('#tblPayment').append("<td><b>" + intDoller.toFixed(2) + "</b></td>");
                    $('#tblPayment').append("</tbody>");
                    $('#tblPayment').append("</tr>");
                    sessionStorage.setItem("TotalDoller", intDoller.toFixed(2));
                    sessionStorage.setItem("TotalINR", intINR);
                    sessionStorage.setItem("OrderId", OrderId);
                    sessionStorage.setItem("CartSession", "");
                    sessionStorage.setItem("CartProgramID", "");
                    $("#hdnTotalINR").val(intINR);
                    $("#hdnTotalDoller").val(intDoller.toFixed(2));
                    $("#hdnOrderId").val(OrderId);
                    $("#hdnUserId").val(sessionStorage.getItem("userId"));
                    $("#hdnCoupon").val(intINR);
                  

                    $("#txtINR").val(intINR);
                    $("#txtDoller").val(intDoller.toFixed(2));


                }
            }
        );

    })

    function Logout(ctrl)
    {
        sessionStorage.clear();
        ctrl.href = '@Url.Content("~/Home/Logout")';
        ctrl.click();
    }
</script>