
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintSession</title>
    <link href="~/Content/style.css" rel="stylesheet" />
   
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/DevScript/Common.js"></script>
    <script>
        var virtualPath = "@Url.Content("~/")";
        var userId = "@Request.QueryString["userId"].ToString()";
        var OrderId = "@Request.QueryString["OrderId"].ToString()";
        var ProductId = "@Request.QueryString["productId"].ToString()";
        var sessionId = "@Request.QueryString["SessionId"].ToString()";
       

      
        function getprintlbldisplay(userId)
        {           
            CommonAjaxMethod('Program/GetUserTrackerDetails', { userId: userId }, false, 'GET',
                function (response) {
                    if (response.data.Data.Table2.length > 0) {
                        $("#lblPrintlable").text(response.data.Data.Table2[0].Program + " :: " + response.data.Data.Table2[0].ProductName);
                    }
                }
            );
            if ($("#lblPrintlable").text() == null) { $("#lblPrintlable").text("Print Short Detail Here");}

        }

        CommonAjaxMethod('Program/GetEatingPattern', { userId: userId, orderId: OrderId, productId: ProductId, SessionId: sessionId }, false, 'GET', function (response) {

            getprintlbldisplay(userId);
              

                $('#ShowHideRising').hide();
                $('#ShowHidePreBreak').hide();
                $('#ShowHideBreak').hide();
                $('#ShowHideMidMorning').hide();
                $('#ShowHidePreWorkOut').hide();
                $('#ShowHideDuringWorkOut').hide();
                $('#ShowHidePrelunch').hide();
                $('#ShowHidelunch').hide();
                $('#ShowHideTeaEvening').hide();
                $('#ShowHideLateEvening').hide();
                $('#ShowHidePreDinner').hide();
                $('#ShowHideDinner').hide();
                $('#ShowHidePostDinner').hide();
                $('#ShowHideBedTime').hide();
                $('#ShowHideRecipes').hide();
                $('#ShowHideNotes').hide();

                if (response.dataCollection.length > 0)
                {


                    if (response.dataCollection[0].OnRising != null) {
                        $('#divOnRising').html(response.dataCollection[0].OnRising);
                        $('#ShowHideRising').show();
                    }

                    if (response.dataCollection[0].PreBreakfast != null) {
                        $('#divPreBreak').html(response.dataCollection[0].PreBreakfast);
                        $('#ShowHidePreBreak').show();
                    }

                    if (response.dataCollection[0].Breakfast != null) {
                        $('#divBreak').html(response.dataCollection[0].Breakfast);
                        $('#ShowHideBreak').show();
                    }

                    if (response.dataCollection[0].MidMorning != null) {
                        $('#divMidMorning').html(response.dataCollection[0].MidMorning);
                        $('#ShowHideMidMorning').show();

                    }

                    if (response.dataCollection[0].PreWorkout != null) {
                        $('#divPreWorkout').html(response.dataCollection[0].PreWorkout);
                        $('#ShowHidePreWorkOut').show();

                    }

                    if (response.dataCollection[0].DuringWorkout != null) {
                        $('#divDuringWorkout').html(response.dataCollection[0].DuringWorkout);
                        $('#ShowHideDuringWorkOut').show();


                    }

                    if (response.dataCollection[0].PreLunch != null) {
                        $('#divPreLunch').html(response.dataCollection[0].PreLunch);
                        $('#ShowHidePrelunch').show();


                    }
                    if (response.dataCollection[0].Lunch != null) {
                        $('#divLunch').html(response.dataCollection[0].Lunch);
                        $('#ShowHidelunch').show();


                    }

                    if (response.dataCollection[0].TeaEvening != null) {
                        $('#divTeaEvening').html(response.dataCollection[0].TeaEvening);
                        $('#ShowHideTeaEvening').show();


                    }

                    if (response.dataCollection[0].LateEvening != null) {
                        $('#divLateEvening').html(response.dataCollection[0].LateEvening);
                        $('#ShowHideLateEvening').show();


                    }
                    if (response.dataCollection[0].PreDinner != null) {
                        $('#divPreDinner').html(response.dataCollection[0].PreDinner);
                        $('#ShowHidePreDinner').show();


                    }
                    if (response.dataCollection[0].Dinner != null) {
                        $('#divDinner').html(response.dataCollection[0].Dinner);
                        $('#ShowHideDinner').show();


                    }
                    if (response.dataCollection[0].PostDinner != null) {
                        $('#divPostDinner').html(response.dataCollection[0].PostDinner);
                        $('#ShowHidePostDinner').show();


                    }
                    if (response.dataCollection[0].BedTime != null) {
                        $('#divBedTime').html(response.dataCollection[0].BedTime);
                        $('#ShowHideBedTime').show();


                    }

                    if (response.dataCollection[0].Recipes != null) {
                        $('#divRecipes').html(response.dataCollection[0].Recipes);
                        $('#ShowHideRecipes').show();


                    }

                    if (response.dataCollection[0].Notes != null) {
                        $('#divNotes').html(response.dataCollection[0].Notes);
                        $('#ShowHideNotes').show();


                    }


            }
                
        });

    </script>
</head>
<body>

    <div class="container-fluid mb-5 bg-white shadow middleContent" style="max-width: 860px;">

        <div class="row">
            <input type="hidden" id="hdnLoginUserId" />
            <div class="col-12 col-md-12 col-lg-12">

                <form class="bg-white printRow loginForm">

                    <div class="watermark" onclick="window.print()"></div>

                    <div class="text-center">

                        <img src="@CommonMethods.ServerPath/img/logo.png" class="img-fluid" />

                    </div>

                    <div class="text-center mt-5">

                        <h6 class="text-sky semi mb-4"><label class="col-12 col-sm-5 col-form-label semi" id="lblPrintlable"></label></h6>                      

                    </div>



                    <div id="ShowHideRising" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi">On Rising</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divOnRising"></div>
                        </div>                        
                    </div>

                    <div id="ShowHidePreBreak" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi">Pre Breakfast</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divPreBreak"></div>
                        </div>
                    </div>

                    <div id="ShowHideBreak" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi">Breakfast</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divBreak"></div>
                        </div>
                    </div>

                   
                    <div id="ShowHideMidMorning" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi">Mid Morning</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divMidMorning"></div>
                        </div>
                    </div>

                    <div id="ShowHidePreWorkOut" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi">Pre Workout</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divPreWorkout"></div>
                        </div>
                    </div>
                   
                   
                    <div id="ShowHideDuringWorkOut" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi">During Workout</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divDuringWorkout"></div>
                        </div>
                    </div>
                  
                    <div id="ShowHidePrelunch" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi">Pre Lunch</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divPreLunch"></div>
                        </div>
                    </div>
                  

                    <div id="ShowHidelunch" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi"> Lunch</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divLunch"></div>
                        </div>
                    </div>
                   
                    <div id="ShowHideTeaEvening" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi"> Tea Evening</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divTeaEvening"></div>
                        </div>
                    </div>

                    <div id="ShowHideLateEvening" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi"> Late Evening</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divLateEvening"></div>
                        </div>
                    </div>

                    <div id="ShowHidePreDinner" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi"> Pre Dinner</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divPreDinner"></div>
                        </div>
                    </div>

                    <div id="ShowHideDinner" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi"> Dinner</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divDinner"></div>
                        </div>
                    </div>

                   
                    <div id="ShowHidePostDinner" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi"> Post Dinner</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divPostDinner"></div>
                        </div>
                    </div>
                   
                    <div id="ShowHideBedTime" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi"> Bed Time</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divBedTime"></div>
                        </div>
                    </div>

                    <div id="ShowHideRecipes" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi"> Recipes</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divRecipes"></div>
                        </div>
                    </div>
                    
                    <div id="ShowHideNotes" class="form-row" style="text-align:left;">
                        <div class="col-auto">
                            <label class="text-yellow semi"> Notes</label>
                        </div>

                        <div class="col">
                            <div rows="10" class="form-control" id="divNotes"></div>
                        </div>
                    </div>

                   

                    <div class="form-row d-print-none">

                        <div class="col-12 form-group mt-3">

                            <a class="btn btn-reg mb-2 hvr-sweep-to-top;" onclick="window.print()">&nbsp; &nbsp; PRINT NOW &nbsp; &nbsp; </a>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>
 
</body>
</html>
