
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowGraph</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/DevExtremeBundle")

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    @Scripts.Render("~/Scripts/DevExtremeBundle")

    <style>
        .Progressloading {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            background-color: white;
            height: 400px;
            margin-top: -200px;
            width: 600px;
            margin-left: -300px;
            text-align: center;
            background: url('../../loading.gif') no-repeat center 50%;
            z-index: 101;
        }
    </style>


</head>


<body class="dx-viewport" style="background: #9292ee;">
    <div class="Progressloading"></div>
    <table style="width:100%">
        <tr>
            <td style="width:10%"></td>
            <td style="width:80%">
                <div class="demo-container" style="background: white;">
                    <table style="width:100%">
                        <tr>
                            <td style="width:80%"><img src="@CommonMethods.ServerPath/img/logo.png" class="img-fluid" /></td>
                            <td style="width:20%">
                                <a class="btn btn-reg mb-2 hvr-sweep-to-top" onclick="window.print()">&nbsp; &nbsp; PRINT NOW &nbsp; &nbsp; </a>
                            </td>
                        </tr>
                    </table>
                </div>

            </td>
            <td style="width:10%"></td>
        </tr>
      
        <tr>
            <td style="width:10%"></td>
            <td style="width:80%">
                <div class="demo-container" style="background: white;">
                    <div id="chart-demo">
                        <div id="chart1"> </div>
                    </div>
                </div>

            </td>
            <td style="width:10%"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td style="width:80%">
                <div class="demo-container" style="background: white;">
                   Indian Academy of Pediatrics
                </div>

            </td>
            <td style="width:10%"></td>
        </tr>
    </table>


    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/DevScript/Common.js"></script>



</body>

</html>
<script type="text/javascript">
    //Trend Wise Graph
     var virtualPath = "@Url.Content("~/")";
    $(document).ready(function ()
    {
      var qData = "@Request.QueryString["Enq"].ToString()";
        //Bind_BarChart_TrendMain();
        CommonAjaxMethod('Home/GetBMI0518Boy/', { Enq: qData }, false, 'GET', function (response) {
            Bind_BarChart_TrendMain(response);
        });

    });

    function Bind_BarChart_TrendMain(odata)
    {
        var dataSource = odata.data.Data;
        var Test = $("#chart1").data("dxChart");
        if (Test != undefined) {
            $('#chart1').dxChart('instance').dispose();
        }

        $("#chart1").dxChart({
            dataSource: dataSource,
            commonSeriesSettings: {
                barPadding: 2.0,
                argumentField: "Length_cm",
                hoverMode: "includePoints",
                point: {
                    hoverMode: "allArgumentPoints"
                },
                type: "spline",
              point: {
                    visible: false
                }

            },
            stickyHovering: false,
            argumentAxis: {
                valueMarginsEnabled: false,

                discreteAxisDivisionMode: "crossLabels",
                grid: {
                    visible: true
                }
                ,
                title: {
                    text: "Years",

                }
            },
            crosshair: {
                enabled: false,
                color: "#949494",
                width: 3,
                dashStyle: "dot",
                label: {
                    visible: false,
                    backgroundColor: "#949494",
                    font: {
                        color: "#fff",
                        size: 10,
                    }
                }
            },
            series: [
                { valueField: "Third", name: "3rd", ignoreEmptyPoints: true },
                { valueField: "Fifth", name: "5th", ignoreEmptyPoints: true },
                { valueField: "Tenth", name: "10th", ignoreEmptyPoints: true },
                { valueField: "TwnetyFive", name: "25th", ignoreEmptyPoints: true },
                { valueField: "Fifty", name: "50th", ignoreEmptyPoints: true },
                { valueField: "TwentyThree", name: "23 Adult Equivalent-Overweight", ignoreEmptyPoints: true },
                { valueField: "TwentySeven", name: "27 Adult Equivalent-Obesity", ignoreEmptyPoints: true },

                {
                    valueField: "NintyNine", name: "Child's BMI", ignoreEmptyPoints: true, point: {
                        visible: true
                    }
                }


            ],
            valueAxis: [
                {
                    name: "bubble",
                    position: "left",
                    tickInterval: 5,
                    grid: {
                        visible: true
                    },
                    title: {
                        text: "Percentiles (BMI)",

                    },
                    label: {
                        visible: true,
                        format: {
                            type: "fixedPoint",
                            precision: 0

                        },
                    },
                    valueType: "numeric"
                },

            ],

            legend: {
                verticalAlignment: "right",
                horizontalAlignment: "top",
                itemTextPosition: "right",
                equalColumnWidth: true,
                font: {
                    size: 13,
                    color: "#06090c"

                }
            },
            title: {
                text: "IAP Boys BMI chart 5- 18 years",
                font: {
                    size: 16,
                }
                //subtitle: {
                //    text: "(Millions of Tons, Oil Equivalent)"
                //}
            },
            "export": {
                enabled: true
            },
            tooltip: {
                enabled: true,
                format: {
                    type: "fixedPoint",
                    precision: 2
                },
                customizeTooltip: function () {
                    return this.valueText;
                }
            },
            size: {
                height: 600
            }

        });
    }

</script>