
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowGraph</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/DevExtremeBundle")

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    @Scripts.Render("~/Scripts/DevExtremeBundle")

    <style>
    </style>
</head>


<body class="dx-viewport">
    <table style="width:100%">
        <tr>
            <td style="width:10%"></td>
            <td style="width:80%">
                <div class="demo-container">
                    <div id="chart-demo">
                        <div id="chart1"> </div>
                    </div>
                </div>

            </td>
            <td style="width:10%"></td>
        </tr>
    </table>


    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/DevScript/Common.js"></script>



</body>

</html>
<script type="text/javascript">
    //Trend Wise Graph
     var virtualPath = "@Url.Content("~/")";
    $(document).ready(function ()
    {
      var qData = "@Request.QueryString["Enq"].ToString()";
        //Bind_BarChart_TrendMain();
        CommonAjaxMethod('Home/GetWFLGirl/', { Enq: qData }, false, 'GET', function (response) {
            Bind_BarChart_TrendMain(response);
        });

    });

    function Bind_BarChart_TrendMain(odata)
    {
       // debugger;
       // var dataSource=  [{ "Id": 1, "Length_cm": "45.0", "L": "-0.3521", "M": "2.4410", "S": "0.09182", "First": "2.0", "Third": "2.1", "Fifth": "2.1", "Fifteenth": "2.2", "TwnetyFive": "2.3", "Fifty": "2.4", "SevenyFive": "2.6", "EightyFive": "2.7", "NintyFive": "2.9", "NintySeven": "2.9", "NintyNine": null }, { "Id": 2, "Length_cm": "45.5", "L": "-0.3521", "M": "2.5244", "S": "0.09153", "First": "2.1", "Third": "2.1", "Fifth": "2.2", "Fifteenth": "2.3", "TwnetyFive": "2.4", "Fifty": "2.5", "SevenyFive": "2.7", "EightyFive": "2.8", "NintyFive": "2.9", "NintySeven": "3.0", "NintyNine": null }, { "Id": 3, "Length_cm": "46.0", "L": "-0.3521", "M": "2.6077", "S": "0.09124", "First": "2.1", "Third": "2.2", "Fifth": "2.3", "Fifteenth": "2.4", "TwnetyFive": "2.5", "Fifty": "2.6", "SevenyFive": "2.8", "EightyFive": "2.9", "NintyFive": "3.0", "NintySeven": "3.1", "NintyNine": null }, { "Id": 4, "Length_cm": "46.5", "L": "-0.3521", "M": "2.6913", "S": "0.09094", "First": "2.2", "Third": "2.3", "Fifth": "2.3", "Fifteenth": "2.5", "TwnetyFive": "2.5", "Fifty": "2.7", "SevenyFive": "2.9", "EightyFive": "3.0", "NintyFive": "3.1", "NintySeven": "3.2", "NintyNine": null }, { "Id": 5, "Length_cm": "47.0", "L": "-0.3521", "M": "2.7755", "S": "0.09065", "First": "2.3", "Third": "2.4", "Fifth": "2.4", "Fifteenth": "2.5", "TwnetyFive": "2.6", "Fifty": "2.8", "SevenyFive": "3.0", "EightyFive": "3.1", "NintyFive": "3.2", "NintySeven": "3.3", "NintyNine": null }, { "Id": 6, "Length_cm": "47.5", "L": "-0.3521", "M": "2.8609", "S": "0.09036", "First": "2.3", "Third": "2.4", "Fifth": "2.5", "Fifteenth": "2.6", "TwnetyFive": "2.7", "Fifty": "2.9", "SevenyFive": "3.0", "EightyFive": "3.1", "NintyFive": "3.3", "NintySeven": "3.4", "NintyNine": null }, { "Id": 7, "Length_cm": "48.0", "L": "-0.3521", "M": "2.9480", "S": "0.09007", "First": "2.4", "Third": "2.5", "Fifth": "2.6", "Fifteenth": "2.7", "TwnetyFive": "2.8", "Fifty": "2.9", "SevenyFive": "3.1", "EightyFive": "3.2", "NintyFive": "3.4", "NintySeven": "3.5", "NintyNine": null }, { "Id": 8, "Length_cm": "48.5", "L": "-0.3521", "M": "3.0377", "S": "0.08977", "First": "2.5", "Third": "2.6", "Fifth": "2.6", "Fifteenth": "2.8", "TwnetyFive": "2.9", "Fifty": "3.0", "SevenyFive": "3.2", "EightyFive": "3.3", "NintyFive": "3.5", "NintySeven": "3.6", "NintyNine": null }, { "Id": 9, "Length_cm": "49.0", "L": "-0.3521", "M": "3.1308", "S": "0.08948", "First": "2.6", "Third": "2.7", "Fifth": "2.7", "Fifteenth": "2.9", "TwnetyFive": "2.9", "Fifty": "3.1", "SevenyFive": "3.3", "EightyFive": "3.4", "NintyFive": "3.6", "NintySeven": "3.7", "NintyNine": null }, { "Id": 10, "Length_cm": "49.5", "L": "-0.3521", "M": "3.2276", "S": "0.08919", "First": "2.6", "Third": "2.7", "Fifth": "2.8", "Fifteenth": "2.9", "TwnetyFive": "3.0", "Fifty": "3.2", "SevenyFive": "3.4", "EightyFive": "3.5", "NintyFive": "3.8", "NintySeven": "3.8", "NintyNine": null }, { "Id": 11, "Length_cm": "50.0", "L": "-0.3521", "M": "3.3278", "S": "0.08890", "First": "2.7", "Third": "2.8", "Fifth": "2.9", "Fifteenth": "3.0", "TwnetyFive": "3.1", "Fifty": "3.3", "SevenyFive": "3.5", "EightyFive": "3.7", "NintyFive": "3.9", "NintySeven": "4.0", "NintyNine": "20" }, { "Id": 12, "Length_cm": "50.5", "L": "-0.3521", "M": "3.4311", "S": "0.08861", "First": "2.8", "Third": "2.9", "Fifth": "3.0", "Fifteenth": "3.1", "TwnetyFive": "3.2", "Fifty": "3.4", "SevenyFive": "3.6", "EightyFive": "3.8", "NintyFive": "4.0", "NintySeven": "4.1", "NintyNine": null }, { "Id": 13, "Length_cm": "51.0", "L": "-0.3521", "M": "3.5376", "S": "0.08831", "First": "2.9", "Third": "3.0", "Fifth": "3.1", "Fifteenth": "3.2", "TwnetyFive": "3.3", "Fifty": "3.5", "SevenyFive": "3.8", "EightyFive": "3.9", "NintyFive": "4.1", "NintySeven": "4.2", "NintyNine": null }, { "Id": 14, "Length_cm": "51.5", "L": "-0.3521", "M": "3.6477", "S": "0.08801", "First": "3.0", "Third": "3.1", "Fifth": "3.2", "Fifteenth": "3.3", "TwnetyFive": "3.4", "Fifty": "3.6", "SevenyFive": "3.9", "EightyFive": "4.0", "NintyFive": "4.2", "NintySeven": "4.3", "NintyNine": null }, { "Id": 15, "Length_cm": "52.0", "L": "-0.3521", "M": "3.7620", "S": "0.08771", "First": "3.1", "Third": "3.2", "Fifth": "3.3", "Fifteenth": "3.4", "TwnetyFive": "3.5", "Fifty": "3.8", "SevenyFive": "4.0", "EightyFive": "4.1", "NintyFive": "4.4", "NintySeven": "4.5", "NintyNine": null }, { "Id": 16, "Length_cm": "52.5", "L": "-0.3521", "M": "3.8814", "S": "0.08741", "First": "3.2", "Third": "3.3", "Fifth": "3.4", "Fifteenth": "3.6", "TwnetyFive": "3.7", "Fifty": "3.9", "SevenyFive": "4.1", "EightyFive": "4.3", "NintyFive": "4.5", "NintySeven": "4.6", "NintyNine": null }, { "Id": 17, "Length_cm": "53.0", "L": "-0.3521", "M": "4.0060", "S": "0.08711", "First": "3.3", "Third": "3.4", "Fifth": "3.5", "Fifteenth": "3.7", "TwnetyFive": "3.8", "Fifty": "4.0", "SevenyFive": "4.3", "EightyFive": "4.4", "NintyFive": "4.6", "NintySeven": "4.7", "NintyNine": null }, { "Id": 18, "Length_cm": "53.5", "L": "-0.3521", "M": "4.1354", "S": "0.08681", "First": "3.4", "Third": "3.5", "Fifth": "3.6", "Fifteenth": "3.8", "TwnetyFive": "3.9", "Fifty": "4.1", "SevenyFive": "4.4", "EightyFive": "4.5", "NintyFive": "4.8", "NintySeven": "4.9", "NintyNine": null }, { "Id": 19, "Length_cm": "54.0", "L": "-0.3521", "M": "4.2693", "S": "0.08651", "First": "3.5", "Third": "3.6", "Fifth": "3.7", "Fifteenth": "3.9", "TwnetyFive": "4.0", "Fifty": "4.3", "SevenyFive": "4.5", "EightyFive": "4.7", "NintyFive": "4.9", "NintySeven": "5.0", "NintyNine": null }, { "Id": 20, "Length_cm": "54.5", "L": "-0.3521", "M": "4.4066", "S": "0.08621", "First": "3.6", "Third": "3.8", "Fifth": "3.8", "Fifteenth": "4.0", "TwnetyFive": "4.2", "Fifty": "4.4", "SevenyFive": "4.7", "EightyFive": "4.8", "NintyFive": "5.1", "NintySeven": "5.2", "NintyNine": null }, { "Id": 21, "Length_cm": "55.0", "L": "-0.3521", "M": "4.5467", "S": "0.08592", "First": "3.7", "Third": "3.9", "Fifth": "4.0", "Fifteenth": "4.2", "TwnetyFive": "4.3", "Fifty": "4.5", "SevenyFive": "4.8", "EightyFive": "5.0", "NintyFive": "5.3", "NintySeven": "5.4", "NintyNine": null }, { "Id": 22, "Length_cm": "55.5", "L": "-0.3521", "M": "4.6892", "S": "0.08563", "First": "3.9", "Third": "4.0", "Fifth": "4.1", "Fifteenth": "4.3", "TwnetyFive": "4.4", "Fifty": "4.7", "SevenyFive": "5.0", "EightyFive": "5.1", "NintyFive": "5.4", "NintySeven": "5.5", "NintyNine": null }, { "Id": 23, "Length_cm": "56.0", "L": "-0.3521", "M": "4.8338", "S": "0.08535", "First": "4.0", "Third": "4.1", "Fifth": "4.2", "Fifteenth": "4.4", "TwnetyFive": "4.6", "Fifty": "4.8", "SevenyFive": "5.1", "EightyFive": "5.3", "NintyFive": "5.6", "NintySeven": "5.7", "NintyNine": null }, { "Id": 24, "Length_cm": "56.5", "L": "-0.3521", "M": "4.9796", "S": "0.08507", "First": "4.1", "Third": "4.3", "Fifth": "4.3", "Fifteenth": "4.6", "TwnetyFive": "4.7", "Fifty": "5.0", "SevenyFive": "5.3", "EightyFive": "5.4", "NintyFive": "5.7", "NintySeven": "5.9", "NintyNine": null }, { "Id": 25, "Length_cm": "57.0", "L": "-0.3521", "M": "5.1259", "S": "0.08481", "First": "4.2", "Third": "4.4", "Fifth": "4.5", "Fifteenth": "4.7", "TwnetyFive": "4.8", "Fifty": "5.1", "SevenyFive": "5.4", "EightyFive": "5.6", "NintyFive": "5.9", "NintySeven": "6.0", "NintyNine": null }, { "Id": 26, "Length_cm": "57.5", "L": "-0.3521", "M": "5.2721", "S": "0.08455", "First": "4.4", "Third": "4.5", "Fifth": "4.6", "Fifteenth": "4.8", "TwnetyFive": "5.0", "Fifty": "5.3", "SevenyFive": "5.6", "EightyFive": "5.8", "NintyFive": "6.1", "NintySeven": "6.2", "NintyNine": null }, { "Id": 27, "Length_cm": "58.0", "L": "-0.3521", "M": "5.4180", "S": "0.08430", "First": "4.5", "Third": "4.6", "Fifth": "4.7", "Fifteenth": "5.0", "TwnetyFive": "5.1", "Fifty": "5.4", "SevenyFive": "5.7", "EightyFive": "5.9", "NintyFive": "6.2", "NintySeven": "6.4", "NintyNine": null }, { "Id": 28, "Length_cm": "58.5", "L": "-0.3521", "M": "5.5632", "S": "0.08406", "First": "4.6", "Third": "4.8", "Fifth": "4.9", "Fifteenth": "5.1", "TwnetyFive": "5.3", "Fifty": "5.6", "SevenyFive": "5.9", "EightyFive": "6.1", "NintyFive": "6.4", "NintySeven": "6.5", "NintyNine": null }, { "Id": 29, "Length_cm": "59.0", "L": "-0.3521", "M": "5.7074", "S": "0.08383", "First": "4.7", "Third": "4.9", "Fifth": "5.0", "Fifteenth": "5.2", "TwnetyFive": "5.4", "Fifty": "5.7", "SevenyFive": "6.0", "EightyFive": "6.2", "NintyFive": "6.6", "NintySeven": "6.7", "NintyNine": null }, { "Id": 30, "Length_cm": "59.5", "L": "-0.3521", "M": "5.8501", "S": "0.08362", "First": "4.8", "Third": "5.0", "Fifth": "5.1", "Fifteenth": "5.4", "TwnetyFive": "5.5", "Fifty": "5.9", "SevenyFive": "6.2", "EightyFive": "6.4", "NintyFive": "6.7", "NintySeven": "6.9", "NintyNine": null }, { "Id": 31, "Length_cm": "60.0", "L": "-0.3521", "M": "5.9907", "S": "0.08342", "First": "5.0", "Third": "5.1", "Fifth": "5.2", "Fifteenth": "5.5", "TwnetyFive": "5.7", "Fifty": "6.0", "SevenyFive": "6.3", "EightyFive": "6.5", "NintyFive": "6.9", "NintySeven": "7.0", "NintyNine": null }, { "Id": 32, "Length_cm": "60.5", "L": "-0.3521", "M": "6.1284", "S": "0.08324", "First": "5.1", "Third": "5.3", "Fifth": "5.4", "Fifteenth": "5.6", "TwnetyFive": "5.8", "Fifty": "6.1", "SevenyFive": "6.5", "EightyFive": "6.7", "NintyFive": "7.1", "NintySeven": "7.2", "NintyNine": null }, { "Id": 33, "Length_cm": "61.0", "L": "-0.3521", "M": "6.2632", "S": "0.08308", "First": "5.2", "Third": "5.4", "Fifth": "5.5", "Fifteenth": "5.8", "TwnetyFive": "5.9", "Fifty": "6.3", "SevenyFive": "6.6", "EightyFive": "6.8", "NintyFive": "7.2", "NintySeven": "7.4", "NintyNine": null }, { "Id": 34, "Length_cm": "61.5", "L": "-0.3521", "M": "6.3954", "S": "0.08292", "First": "5.3", "Third": "5.5", "Fifth": "5.6", "Fifteenth": "5.9", "TwnetyFive": "6.1", "Fifty": "6.4", "SevenyFive": "6.8", "EightyFive": "7.0", "NintyFive": "7.4", "NintySeven": "7.5", "NintyNine": null }, { "Id": 35, "Length_cm": "62.0", "L": "-0.3521", "M": "6.5251", "S": "0.08279", "First": "5.4", "Third": "5.6", "Fifth": "5.7", "Fifteenth": "6.0", "TwnetyFive": "6.2", "Fifty": "6.5", "SevenyFive": "6.9", "EightyFive": "7.1", "NintyFive": "7.5", "NintySeven": "7.7", "NintyNine": null }, { "Id": 36, "Length_cm": "62.5", "L": "-0.3521", "M": "6.6527", "S": "0.08266", "First": "5.5", "Third": "5.7", "Fifth": "5.8", "Fifteenth": "6.1", "TwnetyFive": "6.3", "Fifty": "6.7", "SevenyFive": "7.0", "EightyFive": "7.3", "NintyFive": "7.6", "NintySeven": "7.8", "NintyNine": null }, { "Id": 37, "Length_cm": "63.0", "L": "-0.3521", "M": "6.7786", "S": "0.08255", "First": "5.6", "Third": "5.8", "Fifth": "5.9", "Fifteenth": "6.2", "TwnetyFive": "6.4", "Fifty": "6.8", "SevenyFive": "7.2", "EightyFive": "7.4", "NintyFive": "7.8", "NintySeven": "8.0", "NintyNine": null }, { "Id": 38, "Length_cm": "63.5", "L": "-0.3521", "M": "6.9028", "S": "0.08245", "First": "5.7", "Third": "5.9", "Fifth": "6.0", "Fifteenth": "6.3", "TwnetyFive": "6.5", "Fifty": "6.9", "SevenyFive": "7.3", "EightyFive": "7.5", "NintyFive": "7.9", "NintySeven": "8.1", "NintyNine": null }, { "Id": 39, "Length_cm": "64.0", "L": "-0.3521", "M": "7.0255", "S": "0.08236", "First": "5.8", "Third": "6.0", "Fifth": "6.2", "Fifteenth": "6.5", "TwnetyFive": "6.6", "Fifty": "7.0", "SevenyFive": "7.4", "EightyFive": "7.7", "NintyFive": "8.1", "NintySeven": "8.2", "NintyNine": null }, { "Id": 40, "Length_cm": "64.5", "L": "-0.3521", "M": "7.1467", "S": "0.08229", "First": "5.9", "Third": "6.1", "Fifth": "6.3", "Fifteenth": "6.6", "TwnetyFive": "6.8", "Fifty": "7.1", "SevenyFive": "7.6", "EightyFive": "7.8", "NintyFive": "8.2", "NintySeven": "8.4", "NintyNine": null }, { "Id": 41, "Length_cm": "65.0", "L": "-0.3521", "M": "7.2666", "S": "0.08223", "First": "6.0", "Third": "6.3", "Fifth": "6.4", "Fifteenth": "6.7", "TwnetyFive": "6.9", "Fifty": "7.3", "SevenyFive": "7.7", "EightyFive": "7.9", "NintyFive": "8.3", "NintySeven": "8.5", "NintyNine": null }, { "Id": 42, "Length_cm": "65.5", "L": "-0.3521", "M": "7.3854", "S": "0.08218", "First": "6.1", "Third": "6.4", "Fifth": "6.5", "Fifteenth": "6.8", "TwnetyFive": "7.0", "Fifty": "7.4", "SevenyFive": "7.8", "EightyFive": "8.1", "NintyFive": "8.5", "NintySeven": "8.7", "NintyNine": null }, { "Id": 43, "Length_cm": "66.0", "L": "-0.3521", "M": "7.5034", "S": "0.08215", "First": "6.2", "Third": "6.5", "Fifth": "6.6", "Fifteenth": "6.9", "TwnetyFive": "7.1", "Fifty": "7.5", "SevenyFive": "7.9", "EightyFive": "8.2", "NintyFive": "8.6", "NintySeven": "8.8", "NintyNine": null }, { "Id": 44, "Length_cm": "66.5", "L": "-0.3521", "M": "7.6206", "S": "0.08213", "First": "6.3", "Third": "6.6", "Fifth": "6.7", "Fifteenth": "7.0", "TwnetyFive": "7.2", "Fifty": "7.6", "SevenyFive": "8.1", "EightyFive": "8.3", "NintyFive": "8.8", "NintySeven": "8.9", "NintyNine": null }, { "Id": 45, "Length_cm": "67.0", "L": "-0.3521", "M": "7.7370", "S": "0.08212", "First": "6.4", "Third": "6.7", "Fifth": "6.8", "Fifteenth": "7.1", "TwnetyFive": "7.3", "Fifty": "7.7", "SevenyFive": "8.2", "EightyFive": "8.4", "NintyFive": "8.9", "NintySeven": "9.1", "NintyNine": null }, { "Id": 46, "Length_cm": "67.5", "L": "-0.3521", "M": "7.8526", "S": "0.08212", "First": "6.5", "Third": "6.8", "Fifth": "6.9", "Fifteenth": "7.2", "TwnetyFive": "7.4", "Fifty": "7.9", "SevenyFive": "8.3", "EightyFive": "8.6", "NintyFive": "9.0", "NintySeven": "9.2", "NintyNine": null }, { "Id": 47, "Length_cm": "68.0", "L": "-0.3521", "M": "7.9674", "S": "0.08214", "First": "6.6", "Third": "6.9", "Fifth": "7.0", "Fifteenth": "7.3", "TwnetyFive": "7.5", "Fifty": "8.0", "SevenyFive": "8.4", "EightyFive": "8.7", "NintyFive": "9.2", "NintySeven": "9.3", "NintyNine": null }, { "Id": 48, "Length_cm": "68.5", "L": "-0.3521", "M": "8.0816", "S": "0.08216", "First": "6.7", "Third": "7.0", "Fifth": "7.1", "Fifteenth": "7.4", "TwnetyFive": "7.7", "Fifty": "8.1", "SevenyFive": "8.5", "EightyFive": "8.8", "NintyFive": "9.3", "NintySeven": "9.5", "NintyNine": null }, { "Id": 49, "Length_cm": "69.0", "L": "-0.3521", "M": "8.1955", "S": "0.08219", "First": "6.8", "Third": "7.1", "Fifth": "7.2", "Fifteenth": "7.5", "TwnetyFive": "7.8", "Fifty": "8.2", "SevenyFive": "8.7", "EightyFive": "8.9", "NintyFive": "9.4", "NintySeven": "9.6", "NintyNine": null }, { "Id": 50, "Length_cm": "69.5", "L": "-0.3521", "M": "8.3092", "S": "0.08224", "First": "6.9", "Third": "7.1", "Fifth": "7.3", "Fifteenth": "7.6", "TwnetyFive": "7.9", "Fifty": "8.3", "SevenyFive": "8.8", "EightyFive": "9.1", "NintyFive": "9.5", "NintySeven": "9.7", "NintyNine": null }, { "Id": 51, "Length_cm": "70.0", "L": "-0.3521", "M": "8.4227", "S": "0.08229", "First": "7.0", "Third": "7.2", "Fifth": "7.4", "Fifteenth": "7.7", "TwnetyFive": "8.0", "Fifty": "8.4", "SevenyFive": "8.9", "EightyFive": "9.2", "NintyFive": "9.7", "NintySeven": "9.9", "NintyNine": null }, { "Id": 52, "Length_cm": "70.5", "L": "-0.3521", "M": "8.5358", "S": "0.08235", "First": "7.1", "Third": "7.3", "Fifth": "7.5", "Fifteenth": "7.8", "TwnetyFive": "8.1", "Fifty": "8.5", "SevenyFive": "9.0", "EightyFive": "9.3", "NintyFive": "9.8", "NintySeven": "10.0", "NintyNine": null }, { "Id": 53, "Length_cm": "71.0", "L": "-0.3521", "M": "8.6480", "S": "0.08241", "First": "7.2", "Third": "7.4", "Fifth": "7.6", "Fifteenth": "8.0", "TwnetyFive": "8.2", "Fifty": "8.6", "SevenyFive": "9.1", "EightyFive": "9.4", "NintyFive": "9.9", "NintySeven": "10.1", "NintyNine": null }, { "Id": 54, "Length_cm": "71.5", "L": "-0.3521", "M": "8.7594", "S": "0.08248", "First": "7.3", "Third": "7.5", "Fifth": "7.7", "Fifteenth": "8.1", "TwnetyFive": "8.3", "Fifty": "8.8", "SevenyFive": "9.3", "EightyFive": "9.6", "NintyFive": "10.1", "NintySeven": "10.3", "NintyNine": null }, { "Id": 55, "Length_cm": "72.0", "L": "-0.3521", "M": "8.8697", "S": "0.08254", "First": "7.4", "Third": "7.6", "Fifth": "7.8", "Fifteenth": "8.2", "TwnetyFive": "8.4", "Fifty": "8.9", "SevenyFive": "9.4", "EightyFive": "9.7", "NintyFive": "10.2", "NintySeven": "10.4", "NintyNine": null }, { "Id": 56, "Length_cm": "72.5", "L": "-0.3521", "M": "8.9788", "S": "0.08262", "First": "7.5", "Third": "7.7", "Fifth": "7.9", "Fifteenth": "8.3", "TwnetyFive": "8.5", "Fifty": "9.0", "SevenyFive": "9.5", "EightyFive": "9.8", "NintyFive": "10.3", "NintySeven": "10.5", "NintyNine": null }, { "Id": 57, "Length_cm": "73.0", "L": "-0.3521", "M": "9.0865", "S": "0.08269", "First": "7.5", "Third": "7.8", "Fifth": "8.0", "Fifteenth": "8.4", "TwnetyFive": "8.6", "Fifty": "9.1", "SevenyFive": "9.6", "EightyFive": "9.9", "NintyFive": "10.4", "NintySeven": "10.7", "NintyNine": null }, { "Id": 58, "Length_cm": "73.5", "L": "-0.3521", "M": "9.1927", "S": "0.08276", "First": "7.6", "Third": "7.9", "Fifth": "8.0", "Fifteenth": "8.4", "TwnetyFive": "8.7", "Fifty": "9.2", "SevenyFive": "9.7", "EightyFive": "10.0", "NintyFive": "10.6", "NintySeven": "10.8", "NintyNine": null }, { "Id": 59, "Length_cm": "74.0", "L": "-0.3521", "M": "9.2974", "S": "0.08283", "First": "7.7", "Third": "8.0", "Fifth": "8.1", "Fifteenth": "8.5", "TwnetyFive": "8.8", "Fifty": "9.3", "SevenyFive": "9.8", "EightyFive": "10.1", "NintyFive": "10.7", "NintySeven": "10.9", "NintyNine": null }, { "Id": 60, "Length_cm": "74.5", "L": "-0.3521", "M": "9.4010", "S": "0.08289", "First": "7.8", "Third": "8.1", "Fifth": "8.2", "Fifteenth": "8.6", "TwnetyFive": "8.9", "Fifty": "9.4", "SevenyFive": "9.9", "EightyFive": "10.3", "NintyFive": "10.8", "NintySeven": "11.0", "NintyNine": null }, { "Id": 61, "Length_cm": "75.0", "L": "-0.3521", "M": "9.5032", "S": "0.08295", "First": "7.9", "Third": "8.2", "Fifth": "8.3", "Fifteenth": "8.7", "TwnetyFive": "9.0", "Fifty": "9.5", "SevenyFive": "10.1", "EightyFive": "10.4", "NintyFive": "10.9", "NintySeven": "11.2", "NintyNine": null }, { "Id": 62, "Length_cm": "75.5", "L": "-0.3521", "M": "9.6041", "S": "0.08301", "First": "8.0", "Third": "8.2", "Fifth": "8.4", "Fifteenth": "8.8", "TwnetyFive": "9.1", "Fifty": "9.6", "SevenyFive": "10.2", "EightyFive": "10.5", "NintyFive": "11.0", "NintySeven": "11.3", "NintyNine": null }, { "Id": 63, "Length_cm": "76.0", "L": "-0.3521", "M": "9.7033", "S": "0.08307", "First": "8.0", "Third": "8.3", "Fifth": "8.5", "Fifteenth": "8.9", "TwnetyFive": "9.2", "Fifty": "9.7", "SevenyFive": "10.3", "EightyFive": "10.6", "NintyFive": "11.2", "NintySeven": "11.4", "NintyNine": null }, { "Id": 64, "Length_cm": "76.5", "L": "-0.3521", "M": "9.8007", "S": "0.08311", "First": "8.1", "Third": "8.4", "Fifth": "8.6", "Fifteenth": "9.0", "TwnetyFive": "9.3", "Fifty": "9.8", "SevenyFive": "10.4", "EightyFive": "10.7", "NintyFive": "11.3", "NintySeven": "11.5", "NintyNine": null }, { "Id": 65, "Length_cm": "77.0", "L": "-0.3521", "M": "9.8963", "S": "0.08314", "First": "8.2", "Third": "8.5", "Fifth": "8.7", "Fifteenth": "9.1", "TwnetyFive": "9.4", "Fifty": "9.9", "SevenyFive": "10.5", "EightyFive": "10.8", "NintyFive": "11.4", "NintySeven": "11.6", "NintyNine": null }, { "Id": 66, "Length_cm": "77.5", "L": "-0.3521", "M": "9.9902", "S": "0.08317", "First": "8.3", "Third": "8.6", "Fifth": "8.7", "Fifteenth": "9.2", "TwnetyFive": "9.5", "Fifty": "10.0", "SevenyFive": "10.6", "EightyFive": "10.9", "NintyFive": "11.5", "NintySeven": "11.7", "NintyNine": null }, { "Id": 67, "Length_cm": "78.0", "L": "-0.3521", "M": "10.0827", "S": "0.08318", "First": "8.4", "Third": "8.7", "Fifth": "8.8", "Fifteenth": "9.3", "TwnetyFive": "9.5", "Fifty": "10.1", "SevenyFive": "10.7", "EightyFive": "11.0", "NintyFive": "11.6", "NintySeven": "11.8", "NintyNine": null }, { "Id": 68, "Length_cm": "78.5", "L": "-0.3521", "M": "10.1741", "S": "0.08318", "First": "8.4", "Third": "8.7", "Fifth": "8.9", "Fifteenth": "9.3", "TwnetyFive": "9.6", "Fifty": "10.2", "SevenyFive": "10.8", "EightyFive": "11.1", "NintyFive": "11.7", "NintySeven": "12.0", "NintyNine": null }, { "Id": 69, "Length_cm": "79.0", "L": "-0.3521", "M": "10.2649", "S": "0.08316", "First": "8.5", "Third": "8.8", "Fifth": "9.0", "Fifteenth": "9.4", "TwnetyFive": "9.7", "Fifty": "10.3", "SevenyFive": "10.9", "EightyFive": "11.2", "NintyFive": "11.8", "NintySeven": "12.1", "NintyNine": null }, { "Id": 70, "Length_cm": "79.5", "L": "-0.3521", "M": "10.3558", "S": "0.08313", "First": "8.6", "Third": "8.9", "Fifth": "9.1", "Fifteenth": "9.5", "TwnetyFive": "9.8", "Fifty": "10.4", "SevenyFive": "11.0", "EightyFive": "11.3", "NintyFive": "11.9", "NintySeven": "12.2", "NintyNine": null }, { "Id": 71, "Length_cm": "80.0", "L": "-0.3521", "M": "10.4475", "S": "0.08308", "First": "8.7", "Third": "9.0", "Fifth": "9.1", "Fifteenth": "9.6", "TwnetyFive": "9.9", "Fifty": "10.4", "SevenyFive": "11.1", "EightyFive": "11.4", "NintyFive": "12.0", "NintySeven": "12.3", "NintyNine": null }, { "Id": 72, "Length_cm": "80.5", "L": "-0.3521", "M": "10.5405", "S": "0.08301", "First": "8.7", "Third": "9.1", "Fifth": "9.2", "Fifteenth": "9.7", "TwnetyFive": "10.0", "Fifty": "10.5", "SevenyFive": "11.2", "EightyFive": "11.5", "NintyFive": "12.1", "NintySeven": "12.4", "NintyNine": null }, { "Id": 73, "Length_cm": "81.0", "L": "-0.3521", "M": "10.6352", "S": "0.08293", "First": "8.8", "Third": "9.1", "Fifth": "9.3", "Fifteenth": "9.8", "TwnetyFive": "10.1", "Fifty": "10.6", "SevenyFive": "11.3", "EightyFive": "11.6", "NintyFive": "12.2", "NintySeven": "12.5", "NintyNine": null }, { "Id": 74, "Length_cm": "81.5", "L": "-0.3521", "M": "10.7322", "S": "0.08284", "First": "8.9", "Third": "9.2", "Fifth": "9.4", "Fifteenth": "9.9", "TwnetyFive": "10.2", "Fifty": "10.7", "SevenyFive": "11.4", "EightyFive": "11.7", "NintyFive": "12.3", "NintySeven": "12.6", "NintyNine": null }, { "Id": 75, "Length_cm": "82.0", "L": "-0.3521", "M": "10.8321", "S": "0.08273", "First": "9.0", "Third": "9.3", "Fifth": "9.5", "Fifteenth": "10.0", "TwnetyFive": "10.2", "Fifty": "10.8", "SevenyFive": "11.5", "EightyFive": "11.8", "NintyFive": "12.5", "NintySeven": "12.7", "NintyNine": null }, { "Id": 76, "Length_cm": "82.5", "L": "-0.3521", "M": "10.9350", "S": "0.08260", "First": "9.1", "Third": "9.4", "Fifth": "9.6", "Fifteenth": "10.1", "TwnetyFive": "10.3", "Fifty": "10.9", "SevenyFive": "11.6", "EightyFive": "11.9", "NintyFive": "12.6", "NintySeven": "12.8", "NintyNine": null }, { "Id": 77, "Length_cm": "83.0", "L": "-0.3521", "M": "11.0415", "S": "0.08246", "First": "9.2", "Third": "9.5", "Fifth": "9.7", "Fifteenth": "10.1", "TwnetyFive": "10.4", "Fifty": "11.0", "SevenyFive": "11.7", "EightyFive": "12.0", "NintyFive": "12.7", "NintySeven": "13.0", "NintyNine": null }, { "Id": 78, "Length_cm": "83.5", "L": "-0.3521", "M": "11.1516", "S": "0.08231", "First": "9.3", "Third": "9.6", "Fifth": "9.8", "Fifteenth": "10.3", "TwnetyFive": "10.6", "Fifty": "11.2", "SevenyFive": "11.8", "EightyFive": "12.2", "NintyFive": "12.8", "NintySeven": "13.1", "NintyNine": null }, { "Id": 79, "Length_cm": "84.0", "L": "-0.3521", "M": "11.2651", "S": "0.08215", "First": "9.4", "Third": "9.7", "Fifth": "9.9", "Fifteenth": "10.4", "TwnetyFive": "10.7", "Fifty": "11.3", "SevenyFive": "11.9", "EightyFive": "12.3", "NintyFive": "12.9", "NintySeven": "13.2", "NintyNine": null }, { "Id": 80, "Length_cm": "84.5", "L": "-0.3521", "M": "11.3817", "S": "0.08198", "First": "9.5", "Third": "9.8", "Fifth": "10.0", "Fifteenth": "10.5", "TwnetyFive": "10.8", "Fifty": "11.4", "SevenyFive": "12.0", "EightyFive": "12.4", "NintyFive": "13.1", "NintySeven": "13.3", "NintyNine": null }, { "Id": 81, "Length_cm": "85.0", "L": "-0.3521", "M": "11.5007", "S": "0.08181", "First": "9.6", "Third": "9.9", "Fifth": "10.1", "Fifteenth": "10.6", "TwnetyFive": "10.9", "Fifty": "11.5", "SevenyFive": "12.2", "EightyFive": "12.5", "NintyFive": "13.2", "NintySeven": "13.5", "NintyNine": null }, { "Id": 82, "Length_cm": "85.5", "L": "-0.3521", "M": "11.6218", "S": "0.08163", "First": "9.7", "Third": "10.0", "Fifth": "10.2", "Fifteenth": "10.7", "TwnetyFive": "11.0", "Fifty": "11.6", "SevenyFive": "12.3", "EightyFive": "12.7", "NintyFive": "13.3", "NintySeven": "13.6", "NintyNine": null }, { "Id": 83, "Length_cm": "86.0", "L": "-0.3521", "M": "11.7444", "S": "0.08145", "First": "9.8", "Third": "10.1", "Fifth": "10.3", "Fifteenth": "10.8", "TwnetyFive": "11.1", "Fifty": "11.7", "SevenyFive": "12.4", "EightyFive": "12.8", "NintyFive": "13.5", "NintySeven": "13.7", "NintyNine": null }, { "Id": 84, "Length_cm": "86.5", "L": "-0.3521", "M": "11.8678", "S": "0.08128", "First": "9.9", "Third": "10.2", "Fifth": "10.4", "Fifteenth": "10.9", "TwnetyFive": "11.2", "Fifty": "11.9", "SevenyFive": "12.5", "EightyFive": "12.9", "NintyFive": "13.6", "NintySeven": "13.9", "NintyNine": null }, { "Id": 85, "Length_cm": "87.0", "L": "-0.3521", "M": "11.9916", "S": "0.08111", "First": "10.0", "Third": "10.3", "Fifth": "10.5", "Fifteenth": "11.0", "TwnetyFive": "11.4", "Fifty": "12.0", "SevenyFive": "12.7", "EightyFive": "13.1", "NintyFive": "13.7", "NintySeven": "14.0", "NintyNine": null }, { "Id": 86, "Length_cm": "87.5", "L": "-0.3521", "M": "12.1152", "S": "0.08096", "First": "10.1", "Third": "10.4", "Fifth": "10.6", "Fifteenth": "11.2", "TwnetyFive": "11.5", "Fifty": "12.1", "SevenyFive": "12.8", "EightyFive": "13.2", "NintyFive": "13.9", "NintySeven": "14.2", "NintyNine": null }, { "Id": 87, "Length_cm": "88.0", "L": "-0.3521", "M": "12.2382", "S": "0.08082", "First": "10.2", "Third": "10.6", "Fifth": "10.7", "Fifteenth": "11.3", "TwnetyFive": "11.6", "Fifty": "12.2", "SevenyFive": "12.9", "EightyFive": "13.3", "NintyFive": "14.0", "NintySeven": "14.3", "NintyNine": null }, { "Id": 88, "Length_cm": "88.5", "L": "-0.3521", "M": "12.3603", "S": "0.08069", "First": "10.3", "Third": "10.7", "Fifth": "10.9", "Fifteenth": "11.4", "TwnetyFive": "11.7", "Fifty": "12.4", "SevenyFive": "13.1", "EightyFive": "13.5", "NintyFive": "14.2", "NintySeven": "14.4", "NintyNine": null }, { "Id": 89, "Length_cm": "89.0", "L": "-0.3521", "M": "12.4815", "S": "0.08058", "First": "10.4", "Third": "10.8", "Fifth": "11.0", "Fifteenth": "11.5", "TwnetyFive": "11.8", "Fifty": "12.5", "SevenyFive": "13.2", "EightyFive": "13.6", "NintyFive": "14.3", "NintySeven": "14.6", "NintyNine": null }, { "Id": 90, "Length_cm": "89.5", "L": "-0.3521", "M": "12.6017", "S": "0.08048", "First": "10.5", "Third": "10.9", "Fifth": "11.1", "Fifteenth": "11.6", "TwnetyFive": "11.9", "Fifty": "12.6", "SevenyFive": "13.3", "EightyFive": "13.7", "NintyFive": "14.4", "NintySeven": "14.7", "NintyNine": null }, { "Id": 91, "Length_cm": "90.0", "L": "-0.3521", "M": "12.7209", "S": "0.08041", "First": "10.6", "Third": "11.0", "Fifth": "11.2", "Fifteenth": "11.7", "TwnetyFive": "12.1", "Fifty": "12.7", "SevenyFive": "13.4", "EightyFive": "13.8", "NintyFive": "14.6", "NintySeven": "14.9", "NintyNine": null }, { "Id": 92, "Length_cm": "90.5", "L": "-0.3521", "M": "12.8392", "S": "0.08034", "First": "10.7", "Third": "11.1", "Fifth": "11.3", "Fifteenth": "11.8", "TwnetyFive": "12.2", "Fifty": "12.8", "SevenyFive": "13.6", "EightyFive": "14.0", "NintyFive": "14.7", "NintySeven": "15.0", "NintyNine": null }, { "Id": 93, "Length_cm": "91.0", "L": "-0.3521", "M": "12.9569", "S": "0.08030", "First": "10.8", "Third": "11.2", "Fifth": "11.4", "Fifteenth": "11.9", "TwnetyFive": "12.3", "Fifty": "13.0", "SevenyFive": "13.7", "EightyFive": "14.1", "NintyFive": "14.8", "NintySeven": "15.1", "NintyNine": null }, { "Id": 94, "Length_cm": "91.5", "L": "-0.3521", "M": "13.0742", "S": "0.08026", "First": "10.9", "Third": "11.3", "Fifth": "11.5", "Fifteenth": "12.0", "TwnetyFive": "12.4", "Fifty": "13.1", "SevenyFive": "13.8", "EightyFive": "14.2", "NintyFive": "15.0", "NintySeven": "15.3", "NintyNine": null }, { "Id": 95, "Length_cm": "92.0", "L": "-0.3521", "M": "13.1910", "S": "0.08025", "First": "11.0", "Third": "11.4", "Fifth": "11.6", "Fifteenth": "12.2", "TwnetyFive": "12.5", "Fifty": "13.2", "SevenyFive": "13.9", "EightyFive": "14.4", "NintyFive": "15.1", "NintySeven": "15.4", "NintyNine": null }, { "Id": 96, "Length_cm": "92.5", "L": "-0.3521", "M": "13.3075", "S": "0.08025", "First": "11.1", "Third": "11.5", "Fifth": "11.7", "Fifteenth": "12.3", "TwnetyFive": "12.6", "Fifty": "13.3", "SevenyFive": "14.1", "EightyFive": "14.5", "NintyFive": "15.2", "NintySeven": "15.5", "NintyNine": null }, { "Id": 97, "Length_cm": "93.0", "L": "-0.3521", "M": "13.4239", "S": "0.08026", "First": "11.2", "Third": "11.6", "Fifth": "11.8", "Fifteenth": "12.4", "TwnetyFive": "12.7", "Fifty": "13.4", "SevenyFive": "14.2", "EightyFive": "14.6", "NintyFive": "15.4", "NintySeven": "15.7", "NintyNine": null }, { "Id": 98, "Length_cm": "93.5", "L": "-0.3521", "M": "13.5404", "S": "0.08029", "First": "11.3", "Third": "11.7", "Fifth": "11.9", "Fifteenth": "12.5", "TwnetyFive": "12.8", "Fifty": "13.5", "SevenyFive": "14.3", "EightyFive": "14.7", "NintyFive": "15.5", "NintySeven": "15.8", "NintyNine": null }, { "Id": 99, "Length_cm": "94.0", "L": "-0.3521", "M": "13.6572", "S": "0.08034", "First": "11.4", "Third": "11.8", "Fifth": "12.0", "Fifteenth": "12.6", "TwnetyFive": "12.9", "Fifty": "13.7", "SevenyFive": "14.4", "EightyFive": "14.9", "NintyFive": "15.6", "NintySeven": "16.0", "NintyNine": null }, { "Id": 100, "Length_cm": "94.5", "L": "-0.3521", "M": "13.7746", "S": "0.08040", "First": "11.5", "Third": "11.9", "Fifth": "12.1", "Fifteenth": "12.7", "TwnetyFive": "13.1", "Fifty": "13.8", "SevenyFive": "14.5", "EightyFive": "15.0", "NintyFive": "15.8", "NintySeven": "16.1", "NintyNine": null }, { "Id": 101, "Length_cm": "95.0", "L": "-0.3521", "M": "13.8928", "S": "0.08047", "First": "11.6", "Third": "12.0", "Fifth": "12.2", "Fifteenth": "12.8", "TwnetyFive": "13.2", "Fifty": "13.9", "SevenyFive": "14.7", "EightyFive": "15.1", "NintyFive": "15.9", "NintySeven": "16.2", "NintyNine": null }, { "Id": 102, "Length_cm": "95.5", "L": "-0.3521", "M": "14.0120", "S": "0.08056", "First": "11.7", "Third": "12.1", "Fifth": "12.3", "Fifteenth": "12.9", "TwnetyFive": "13.3", "Fifty": "14.0", "SevenyFive": "14.8", "EightyFive": "15.3", "NintyFive": "16.0", "NintySeven": "16.4", "NintyNine": null }, { "Id": 103, "Length_cm": "96.0", "L": "-0.3521", "M": "14.1325", "S": "0.08067", "First": "11.8", "Third": "12.2", "Fifth": "12.4", "Fifteenth": "13.0", "TwnetyFive": "13.4", "Fifty": "14.1", "SevenyFive": "14.9", "EightyFive": "15.4", "NintyFive": "16.2", "NintySeven": "16.5", "NintyNine": null }, { "Id": 104, "Length_cm": "96.5", "L": "-0.3521", "M": "14.2544", "S": "0.08078", "First": "11.9", "Third": "12.3", "Fifth": "12.5", "Fifteenth": "13.1", "TwnetyFive": "13.5", "Fifty": "14.3", "SevenyFive": "15.1", "EightyFive": "15.5", "NintyFive": "16.3", "NintySeven": "16.7", "NintyNine": null }, { "Id": 105, "Length_cm": "97.0", "L": "-0.3521", "M": "14.3782", "S": "0.08092", "First": "12.0", "Third": "12.4", "Fifth": "12.6", "Fifteenth": "13.2", "TwnetyFive": "13.6", "Fifty": "14.4", "SevenyFive": "15.2", "EightyFive": "15.7", "NintyFive": "16.5", "NintySeven": "16.8", "NintyNine": null }, { "Id": 106, "Length_cm": "97.5", "L": "-0.3521", "M": "14.5038", "S": "0.08106", "First": "12.1", "Third": "12.5", "Fifth": "12.7", "Fifteenth": "13.4", "TwnetyFive": "13.7", "Fifty": "14.5", "SevenyFive": "15.3", "EightyFive": "15.8", "NintyFive": "16.6", "NintySeven": "17.0", "NintyNine": null }, { "Id": 107, "Length_cm": "98.0", "L": "-0.3521", "M": "14.6316", "S": "0.08122", "First": "12.2", "Third": "12.6", "Fifth": "12.8", "Fifteenth": "13.5", "TwnetyFive": "13.9", "Fifty": "14.6", "SevenyFive": "15.5", "EightyFive": "15.9", "NintyFive": "16.8", "NintySeven": "17.1", "NintyNine": null }, { "Id": 108, "Length_cm": "98.5", "L": "-0.3521", "M": "14.7614", "S": "0.08139", "First": "12.3", "Third": "12.7", "Fifth": "13.0", "Fifteenth": "13.6", "TwnetyFive": "14.0", "Fifty": "14.8", "SevenyFive": "15.6", "EightyFive": "16.1", "NintyFive": "16.9", "NintySeven": "17.3", "NintyNine": null }, { "Id": 109, "Length_cm": "99.0", "L": "-0.3521", "M": "14.8934", "S": "0.08157", "First": "12.4", "Third": "12.8", "Fifth": "13.1", "Fifteenth": "13.7", "TwnetyFive": "14.1", "Fifty": "14.9", "SevenyFive": "15.7", "EightyFive": "16.2", "NintyFive": "17.1", "NintySeven": "17.4", "NintyNine": null }, { "Id": 110, "Length_cm": "99.5", "L": "-0.3521", "M": "15.0275", "S": "0.08177", "First": "12.5", "Third": "12.9", "Fifth": "13.2", "Fifteenth": "13.8", "TwnetyFive": "14.2", "Fifty": "15.0", "SevenyFive": "15.9", "EightyFive": "16.4", "NintyFive": "17.2", "NintySeven": "17.6", "NintyNine": null }, { "Id": 111, "Length_cm": "100.0", "L": "-0.3521", "M": "15.1637", "S": "0.08198", "First": "12.6", "Third": "13.0", "Fifth": "13.3", "Fifteenth": "13.9", "TwnetyFive": "14.4", "Fifty": "15.2", "SevenyFive": "16.0", "EightyFive": "16.5", "NintyFive": "17.4", "NintySeven": "17.8", "NintyNine": null }, { "Id": 112, "Length_cm": "100.5", "L": "-0.3521", "M": "15.3018", "S": "0.08220", "First": "12.7", "Third": "13.2", "Fifth": "13.4", "Fifteenth": "14.1", "TwnetyFive": "14.5", "Fifty": "15.3", "SevenyFive": "16.2", "EightyFive": "16.7", "NintyFive": "17.6", "NintySeven": "17.9", "NintyNine": null }, { "Id": 113, "Length_cm": "101.0", "L": "-0.3521", "M": "15.4419", "S": "0.08243", "First": "12.8", "Third": "13.3", "Fifth": "13.5", "Fifteenth": "14.2", "TwnetyFive": "14.6", "Fifty": "15.4", "SevenyFive": "16.3", "EightyFive": "16.8", "NintyFive": "17.7", "NintySeven": "18.1", "NintyNine": null }, { "Id": 114, "Length_cm": "101.5", "L": "-0.3521", "M": "15.5838", "S": "0.08267", "First": "12.9", "Third": "13.4", "Fifth": "13.6", "Fifteenth": "14.3", "TwnetyFive": "14.7", "Fifty": "15.6", "SevenyFive": "16.5", "EightyFive": "17.0", "NintyFive": "17.9", "NintySeven": "18.3", "NintyNine": null }, { "Id": 115, "Length_cm": "102.0", "L": "-0.3521", "M": "15.7276", "S": "0.08292", "First": "13.0", "Third": "13.5", "Fifth": "13.8", "Fifteenth": "14.5", "TwnetyFive": "14.9", "Fifty": "15.7", "SevenyFive": "16.6", "EightyFive": "17.2", "NintyFive": "18.1", "NintySeven": "18.5", "NintyNine": null }, { "Id": 116, "Length_cm": "102.5", "L": "-0.3521", "M": "15.8732", "S": "0.08317", "First": "13.2", "Third": "13.6", "Fifth": "13.9", "Fifteenth": "14.6", "TwnetyFive": "15.0", "Fifty": "15.9", "SevenyFive": "16.8", "EightyFive": "17.3", "NintyFive": "18.3", "NintySeven": "18.6", "NintyNine": null }, { "Id": 117, "Length_cm": "103.0", "L": "-0.3521", "M": "16.0206", "S": "0.08343", "First": "13.3", "Third": "13.8", "Fifth": "14.0", "Fifteenth": "14.7", "TwnetyFive": "15.2", "Fifty": "16.0", "SevenyFive": "17.0", "EightyFive": "17.5", "NintyFive": "18.4", "NintySeven": "18.8", "NintyNine": null }, { "Id": 118, "Length_cm": "103.5", "L": "-0.3521", "M": "16.1697", "S": "0.08370", "First": "13.4", "Third": "13.9", "Fifth": "14.1", "Fifteenth": "14.8", "TwnetyFive": "15.3", "Fifty": "16.2", "SevenyFive": "17.1", "EightyFive": "17.7", "NintyFive": "18.6", "NintySeven": "19.0", "NintyNine": null }, { "Id": 119, "Length_cm": "104.0", "L": "-0.3521", "M": "16.3204", "S": "0.08397", "First": "13.5", "Third": "14.0", "Fifth": "14.3", "Fifteenth": "15.0", "TwnetyFive": "15.4", "Fifty": "16.3", "SevenyFive": "17.3", "EightyFive": "17.8", "NintyFive": "18.8", "NintySeven": "19.2", "NintyNine": null }, { "Id": 120, "Length_cm": "104.5", "L": "-0.3521", "M": "16.4728", "S": "0.08425", "First": "13.6", "Third": "14.1", "Fifth": "14.4", "Fifteenth": "15.1", "TwnetyFive": "15.6", "Fifty": "16.5", "SevenyFive": "17.4", "EightyFive": "18.0", "NintyFive": "19.0", "NintySeven": "19.4", "NintyNine": null }, { "Id": 121, "Length_cm": "105.0", "L": "-0.3521", "M": "16.6268", "S": "0.08453", "First": "13.7", "Third": "14.2", "Fifth": "14.5", "Fifteenth": "15.3", "TwnetyFive": "15.7", "Fifty": "16.6", "SevenyFive": "17.6", "EightyFive": "18.2", "NintyFive": "19.2", "NintySeven": "19.6", "NintyNine": null }, { "Id": 122, "Length_cm": "105.5", "L": "-0.3521", "M": "16.7826", "S": "0.08481", "First": "13.9", "Third": "14.4", "Fifth": "14.6", "Fifteenth": "15.4", "TwnetyFive": "15.9", "Fifty": "16.8", "SevenyFive": "17.8", "EightyFive": "18.4", "NintyFive": "19.4", "NintySeven": "19.8", "NintyNine": null }, { "Id": 123, "Length_cm": "106.0", "L": "-0.3521", "M": "16.9401", "S": "0.08510", "First": "14.0", "Third": "14.5", "Fifth": "14.8", "Fifteenth": "15.5", "TwnetyFive": "16.0", "Fifty": "16.9", "SevenyFive": "18.0", "EightyFive": "18.5", "NintyFive": "19.6", "NintySeven": "20.0", "NintyNine": null }, { "Id": 124, "Length_cm": "106.5", "L": "-0.3521", "M": "17.0995", "S": "0.08539", "First": "14.1", "Third": "14.6", "Fifth": "14.9", "Fifteenth": "15.7", "TwnetyFive": "16.2", "Fifty": "17.1", "SevenyFive": "18.1", "EightyFive": "18.7", "NintyFive": "19.7", "NintySeven": "20.2", "NintyNine": null }, { "Id": 125, "Length_cm": "107.0", "L": "-0.3521", "M": "17.2607", "S": "0.08568", "First": "14.2", "Third": "14.8", "Fifth": "15.0", "Fifteenth": "15.8", "TwnetyFive": "16.3", "Fifty": "17.3", "SevenyFive": "18.3", "EightyFive": "18.9", "NintyFive": "19.9", "NintySeven": "20.4", "NintyNine": null }, { "Id": 126, "Length_cm": "107.5", "L": "-0.3521", "M": "17.4237", "S": "0.08599", "First": "14.4", "Third": "14.9", "Fifth": "15.2", "Fifteenth": "16.0", "TwnetyFive": "16.5", "Fifty": "17.4", "SevenyFive": "18.5", "EightyFive": "19.1", "NintyFive": "20.1", "NintySeven": "20.6", "NintyNine": null }, { "Id": 127, "Length_cm": "108.0", "L": "-0.3521", "M": "17.5885", "S": "0.08629", "First": "14.5", "Third": "15.0", "Fifth": "15.3", "Fifteenth": "16.1", "TwnetyFive": "16.6", "Fifty": "17.6", "SevenyFive": "18.7", "EightyFive": "19.3", "NintyFive": "20.3", "NintySeven": "20.8", "NintyNine": null }, { "Id": 128, "Length_cm": "108.5", "L": "-0.3521", "M": "17.7553", "S": "0.08660", "First": "14.6", "Third": "15.2", "Fifth": "15.5", "Fifteenth": "16.3", "TwnetyFive": "16.8", "Fifty": "17.8", "SevenyFive": "18.8", "EightyFive": "19.5", "NintyFive": "20.5", "NintySeven": "21.0", "NintyNine": null }, { "Id": 129, "Length_cm": "109.0", "L": "-0.3521", "M": "17.9242", "S": "0.08691", "First": "14.7", "Third": "15.3", "Fifth": "15.6", "Fifteenth": "16.4", "TwnetyFive": "16.9", "Fifty": "17.9", "SevenyFive": "19.0", "EightyFive": "19.6", "NintyFive": "20.8", "NintySeven": "21.2", "NintyNine": null }, { "Id": 130, "Length_cm": "109.5", "L": "-0.3521", "M": "18.0954", "S": "0.08723", "First": "14.9", "Third": "15.4", "Fifth": "15.7", "Fifteenth": "16.6", "TwnetyFive": "17.1", "Fifty": "18.1", "SevenyFive": "19.2", "EightyFive": "19.8", "NintyFive": "21.0", "NintySeven": "21.4", "NintyNine": null }, { "Id": 131, "Length_cm": "110.0", "L": "-0.3521", "M": "18.2689", "S": "0.08755", "First": "15.0", "Third": "15.6", "Fifth": "15.9", "Fifteenth": "16.7", "TwnetyFive": "17.2", "Fifty": "18.3", "SevenyFive": "19.4", "EightyFive": "20.0", "NintyFive": "21.2", "NintySeven": "21.6", "NintyNine": null }]
        var dataSource = odata.data.Data;
        //var dataSource = [{
        //    year: 45,
        //    smp: 263,
        //    mmp: 226,
        //    cnstl: 10,
        //    cluster: 0
        //}, {
        //    year: 50,
        //    smp: 169,
        //    mmp: 256,
        //    cnstl: 66,
        //    cluster: 2
        //}, {
        //    year: 55,
        //    smp: 57,
        //    mmp: 257,
        //    cnstl: 143,
        //    cluster: 4
        //}, {
        //    year: 60,
        //    smp: 0,
        //    mmp: 163,
        //    cnstl: 127,
        //    cluster: 8
        //}, {
        //    year: 65,
        //    smp: 0,
        //    mmp: 103,
        //    cnstl: 36,
        //    cluster: 10
        //}, {
        //    year: 70,
        //    smp: 0,
        //    mmp: 91,
        //    cnstl: 3,
        //    cluster: 12
        //    }, {
        //        year: 75,
        //        smp: 0,
        //        mmp: 91,
        //        cnstl: 3,
        //        cluster: 14
        //    }, {
        //        year: 80,
        //        smp: 0,
        //        mmp: 91,
        //        cnstl: 3,
        //        cluster: 16
        //    }, {
        //        year: 85,
        //        smp: 0,
        //        mmp: 91,
        //        cnstl: 3,
        //        cluster: 18
        //    }, {
        //        year: 90,
        //        smp: 0,
        //        mmp: 91,
        //        cnstl: 3,
        //        cluster: 20
        //    }, {
        //        year: 100,
        //        smp: 0,
        //        mmp: 91,
        //        cnstl: 3,
        //        cluster: 22
        //    },
        //    {
        //        year: 110,
        //        smp: 0,
        //        mmp: 91,
        //        cnstl: 3,
        //        cluster: 22
        //    }];
        //var model_data = {};

        //model_data.Flag = 2;


        //model_data.FromDate = $('#hdnFromDate').val();
        //model_data.ToDate = $('#hdnToDate').val();
        //model_data.WebFormName = $('#hdnwebform').val();
        //model_data.VendorName = $('#hdnVendorName').val();

        var Test = $("#chart1").data("dxChart");
        if (Test != undefined) {
            $('#chart1').dxChart('instance').dispose();
        }

        $("#chart1").dxChart({
            dataSource: dataSource,
            commonSeriesSettings: {
                barPadding: 2.0,
                argumentField: "Length_cm",
                hoverMode: "includePoints",
                point: {
                    hoverMode: "allArgumentPoints"
                },
                type: "spline",
              point: {
                    visible: false
                }

            },
            stickyHovering: false,
            argumentAxis: {
                valueMarginsEnabled: false,

                discreteAxisDivisionMode: "crossLabels",
                grid: {
                    visible: true
                }
                ,
                title: {
                    text: "Length",

                }
            },
            crosshair: {
                enabled: false,
                color: "#949494",
                width: 3,
                dashStyle: "dot",
                label: {
                    visible: false,
                    backgroundColor: "#949494",
                    font: {
                        color: "#fff",
                        size: 10,
                    }
                }
            },
            series: [
                { valueField: "Third", name: "3rd", ignoreEmptyPoints: true },
                { valueField: "Fifteenth", name: "15th", ignoreEmptyPoints: true },
                { valueField: "Fifty", name: "50th", ignoreEmptyPoints: true },
                { valueField: "EightyFive", name: "85th", ignoreEmptyPoints: true },
                { valueField: "NintySeven", name: "97th", ignoreEmptyPoints: true },
                {
                    valueField: "NintyNine", name: "Child-Weighth-Length", ignoreEmptyPoints: true, point: {
                        visible: true
                    }}


            ],

            //series: [
            //    {
            //        valueField: "VentasBrutas", name: "Ventas Brutas", axis: "LineGraph",
            //        label: {
            //            visible: true,
            //            format: {
            //                type: "fixedPoint",
            //                precision: 0
            //            },
            //            customizeText: function () {
            //                return this.valueText;
            //            },

            //        }
            //    },
            //    {
            //        valueField: "VentasExitosa", name: "Ventas Vendor", axis: "LineGraph",
            //        label: {
            //            visible: true,
            //            format: {
            //                type: "fixedPoint",
            //                precision: 0
            //            },
            //            customizeText: function () {
            //                return this.valueText;
            //            },

            //        }
            //    },
            //    {
            //        valueField: "Entegrada", name: "Entegrada", axis: "LineGraph",
            //        label: {
            //            visible: true,
            //            format: {
            //                type: "fixedPoint",
            //                precision: 0
            //            },
            //            customizeText: function () {
            //                return this.valueText;
            //            },

            //        }
            //    }
            //],

            valueAxis: [
                {
                    name: "bubble",
                    position: "left",
                    tickInterval: 5,
                    grid: {
                        visible: true
                    },
                    title: {
                        text: "Weight",

                    },
                    label: {
                        visible: true,
                        format: {
                            type: "fixedPoint",
                            precision: 0

                        },
                    },
                    valueType: "numeric"
                },

            ],

            legend: {
                verticalAlignment: "right",
                horizontalAlignment: "top",
                itemTextPosition: "right",
                equalColumnWidth: true,
                font: {
                    size: 13,
                    color: "#06090c"

                }
            },
            title: {
                text: "Weight-for-length Girl-Birth to 2 years(percentiles)",
                font: {
                    size: 16,
                }
                //subtitle: {
                //    text: "(Millions of Tons, Oil Equivalent)"
                //}
            },
            "export": {
                enabled: true
            },
            tooltip: {
                enabled: true,
                format: {
                    type: "fixedPoint",
                    precision: 2
                },
                customizeTooltip: function () {
                    return this.valueText;
                }
            },
            size: {
                height: 600
            }

        });
    }

</script>

