
@{
    ViewBag.Title = "smartEatingForSpecialChildren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0 mb-5">
    <div class="row no-gutters banner smartChildSpecialProgramBanner justify-content-center align-items-center">
        <div class="col-10">
            <div class="text-center">
                <h2 class="bold mb-0">
                    SMART EATING FOR<br />
                    SPECIAL CHILDREN
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10 text-center">
            <h1 class="alex mb-4"><span class="comma1">'</span>Special approach for special children'</h1>
            <p class="semi mb-4">Special children have their own special requirements in terms of nutrition and feeding strategies to be adopted. Children suffering from Autism, Cerebral palsy, ADHD, Down syndrome and many more fall under this category. Being a certified nutritionist in feeding children with special needs, she is the best to investigate into the insights and help your child.</p>
            <h5 class="text-sky mb-4">Different strategies and principles that suit the child are adopted to manage the health issue.</h5>
        </div>
    </div>
</div>

<div class="bg-gray pt-4 pb-4">
    <div class="container">
        <div class="row justify-content-center pt-3">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h6 class="text-yellow mb-4 semi" style="letter-spacing: 2px;">WE KEEP IN MIND THE FOLLOWING POINTS WHILE PLANNING FOR YOU:</h6>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/plate.png" />
                            </div>
                            <p>THE CHILD'S BODY NEEDS IN TERMS OF NUTRITION</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/cooker.png" />
                            </div>
                            <p>WHAT IS USUALLY COOKED AT HOME</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/pizza.png" />
                            </div>
                            <p>Child's favourite foods</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/heart.png" />
                            </div>
                            <p>His/her lifestyle</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/handi.png" />
                            </div>
                            <p>The disability that the child has</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/engine.png" />
                            </div>
                            <p>The symptoms and challenges faced by the child.</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/food.png" />
                            </div>
                            <p>Degree of Acceptance and Tolerance Levels of Foods</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/leaf.png" />
                            </div>
                            <p>Food Behaviour</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-4 pb-4">
                <h6 class="text-white pt-2">INSIGHTS WILL HELP US SMARTLY PLACE THIS FOR YOU. IT’S NOT ABOUT A DIET, IT’S A SMART LIFESTYLE</h6>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center pt-4">
            <h4 class="text-yellow pt-2 mb-4 semi">PROGRAM FEATURES</h4>
            <p>CUSTOMIZED, YET FRIENDLY APPROACH TO EATING, KEEPING IN MIND THE ENTIRE CASE</p>
            <hr class="bg-yellow" />
            <p>QUICK AND EASY RECIPES</p>
            <hr class="bg-yellow" />
            <p>EVALUATION OF HOW DISHES ARE COOKED AT YOUR HOME, TWEAKING THEM A LITTLE IF NEEDED AND WE ARE GOOD TO GO</p>
            <hr class="bg-yellow" />
            <p>NO NEED TO COOK SEPARATELY!</p>
            <hr class="bg-yellow" />
            <p>CHAT AND CALL SUPPORT</p>
            <hr class="bg-yellow" />
            <p>PERSONAL ACCOUNT SECTION</p>
            <hr class="bg-yellow" />
            <p>EASY PROGRESS TRACKERS</p>
            <hr class="bg-yellow" />
            <p>GUIDANCE ON WHY PARTICULAR FOODS ARE ADDED AND WHAT WORKS FOR THE CHILD'S BODY</p>
            <hr class="bg-yellow" />
            <p>EATING SMART TOOLS, YOUR BEST FRIEND THROUGHOUT!</p>
        </div>
    </div>
</div>

<div class="bg-yellow-img">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-3 pb-3">
                <h6 class="text-white pt-2 semi">
                    PRIORITY ATTENTION AND GUIDANCE IS GIVEN
                    <hr class="bg-white mt-2 mb-2" />
                    ADDITION OF VARIOUS CONCEPTS AND CUSTOMIZING TO WHAT WILL SPECIFICALLY SUIT YOUR CHILD
                    <hr class="bg-white mt-2 mb-2" />
                    WE WORK THIS PROGRAM AT EASE AND GIVE THE CHILD THE NEEDED SPACE TO FORMULATE A HABIT DEPENDING ON CONDITION
                    <hr class="bg-white mt-2 mb-2" />
                    COUNSELLING SESSIONS WITH THE CHILD TO UNDERSTAND HIM / HER BETTER AND WORK ON BOTH PHYSICAL AS WELL AS PSYCHOLOGICAL FACTORS
                    <hr class="bg-white mt-2 mb-2" />
                    A DETAILED SPECIAL GUIDE, WHICH WILL HELP YOU TO UNDERSTAND YOUR CHILD'S HEALTH CONDITION IN DEPTH!
                </h6>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">1 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 3999/-
                        <hr />
                        $54.09/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">2 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 7499/-
                        <hr />
                        $101.43/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">3 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 10499/-
                        <hr />
                        $142.00/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">6 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 18499/-
                        <hr />
                        $250.21/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
    </div>
</div>


