
@{
    ViewBag.Title = "smartEnhancer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0 mb-5">
    <div class="row no-gutters banner smartEnhancerBanner justify-content-center align-items-center">
        <div class="col-10">
            <div class="text-center">
                <h2 class="bold mb-0">SMART ENHANCER</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10 text-center">
            <h1 class="alex mb-4"><span class="comma1">'</span>What goes inside definitely reflects on the outside '</h1>
            <p class="semi mb-4">Glowing skin and shiny hair are every person’s wish. This program brings a boost of vitamins, minerals that will help you reach your beauty goal. Specially designed for to be brides, grooms and anyone who wants to look good inside, out!</p>
        </div>
    </div>
</div>

<div class="bg-gray pt-4 pb-4">
    <div class="container">
        <div class="row justify-content-center pt-3">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h6 class="text-yellow mb-4 semi" style="letter-spacing: 2px;">WE KEEP IN MIND THE FOLLOWING POINTS WHILE PLANNING FOR YOU:</h6>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/plate.png" />
                            </div>
                            <p>Your body needs in terms of nutrition</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/drop.png" />
                            </div>
                            <p>Your blood parameters</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/pizza.png" />
                            </div>
                            <p>Your favourite foods</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/face.png" />
                            </div>
                            <p>Skin care routine</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/cooker.png" />
                            </div>
                            <p>What is usually cooked at home</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/heart.png" />
                            </div>
                            <p>Your lifestyle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-4 pb-4">
                <h6 class="text-white pt-2">INSIGHTS WILL HELP US SMARTLY PLACE THIS FOR YOU. IT’S NOT ABOUT A DIET, IT’S A SMART LIFESTYLE</h6>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center pt-4">
            <h4 class="text-yellow pt-2 mb-4 semi">PROGRAM FEATURES</h4>
            <p>CUSTOMIZED DIET PLANS</p>
            <hr class="bg-yellow" />
            <p>QUICK AND EASY RECIPES</p>
            <hr class="bg-yellow" />
            <p>EVALUATION OF HOW DISHES ARE COOKED AT YOUR HOME, TWEAKING THEM A LITTLE IF NEEDED AND WE ARE GOOD TO GO</p>
            <hr class="bg-yellow" />
            <p>NO NEED TO COOK SEPARATELY!</p>
            <hr class="bg-yellow" />
            <p>CHAT AND CALL SUPPORT </p>
            <hr class="bg-yellow" />
            <p>PERSONAL ACCOUNT SECTION</p>
            <hr class="bg-yellow" />
            <p>GUIDANCE ON WHY PARTICULAR FOODS ARE ADDED AND WHAT WORKS FOR YOUR BODY</p>
            <hr class="bg-yellow" />
            <p>EATING SMART TOOLS, YOUR BEST FRIEND THROUGHOUT!</p>
        </div>
    </div>
</div>

<div class="bg-yellow-img mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-3 pb-3">
                <h6 class="text-white pt-2 semi">
                    QUICK NATURAL SKIN & HAIR PACK RECIPES
                    <hr class="bg-white mt-2 mb-2" />
                    KEY FOCUS ON SKIN AND HAIR HEALTH
                </h6>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">1 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 2999/-
                        <hr />
                        $40.55/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">2 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 5499/-
                        <hr />
                        $74.38/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">3 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 7999/-
                        <hr />
                        $108.19/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0">6 Month</p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> 14499/-
                        <hr />
                        $196.11/-
                    </h4>
                </div>
                <p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
    </div>
</div>

