
@{
    ViewBag.Title = "smartWeightGain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pl-0 pr-0 mb-5">
    <div class="row no-gutters banner smartWeightGainBanner justify-content-center align-items-center">
        <div class="col-10">
            <div class="text-center">
                <h2 class="bold mb-0">SMART WEIGHT GAIN</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10 text-center">
            <h1 class="alex mb-4"><span class="comma1">'</span>Let the <span class="text-yellow">gains</span> begin'</h1>
            <p class="semi">Very effective program for one who wants to gain weight. We emphasize on incorporation of good quality fats, proteins and carbohydrates to make this a healthy weight gain journey.</p>
            <h5 class="text-sky mb-4">It is not always about the weight but rather the body composition of an individual!</h5>
        </div>
    </div>
</div>

<div class="bg-gray pt-4 pb-4">
    <div class="container">
        <div class="row justify-content-center pt-3">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h6 class="text-yellow mb-4 semi" style="letter-spacing: 2px;">WE KEEP IN MIND THE FOLLOWING POINTS WHILE PLANNING FOR YOU:</h6>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/plate.png" />
                            </div>
                            <p>Your body needs in terms of nutrition</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/cooker.png" />
                            </div>
                            <p>What is usually cooked at home</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/pizza.png" />
                            </div>
                            <p>Your favourite foods</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="planningThumb">
                            <div class="planningImg">
                                <img src="@CommonMethods.ServerPath/img/heart.png" />
                            </div>
                            <p>Your lifestyle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-4 pb-4">
                <h6 class="text-white pt-2">INSIGHTS WILL HELP US SMARTLY PLACE THIS FOR YOU. IT’S NOT ABOUT A DIET, IT’S A SMART LIFESTYLE</h6>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center pt-4">
            <h4 class="text-yellow pt-2 mb-4 semi">PROGRAM FEATURES</h4>
            <p>CUSTOMIZED DIET PLANS WITH MANY OPTIONS TO PICK FROM</p>
            <hr class="bg-yellow" />
            <p>QUICK AND EASY RECIPES</p>
            <hr class="bg-yellow" />
            <p>EVALUATION OF HOW DISHES ARE COOKED AT YOUR HOME, TWEAKING THEM A LITTLE IF NEEDED AND WE ARE GOOD TO GO</p>
            <hr class="bg-yellow" />
            <p>NO NEED TO COOK SEPARATELY - ISN'T THIS ON THE TOP OF THE PRIORITY LIST FOR MANY!</p>
            <hr class="bg-yellow" />
            <p>PERSONAL ACCOUNT SECTION</p>
            <hr class="bg-yellow" />
            <p>EASY PROGRESS TRACKERS </p>
            <hr class="bg-yellow" />
            <p>CHAT AND CALL SUPPORT</p>
            <hr class="bg-yellow" />
            <p>GUIDANCE ON WHY PARTICULAR FOODS ARE ADDED AND WHAT WORKS FOR YOUR BODY</p>
            <hr class="bg-yellow" />
            <p>EATING SMART TOOLS, YOUR BEST FRIEND THROUGHOUT!</p>
        </div>
    </div>
</div>

<div class="bg-yellow-img">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-3 pb-3">
                <h6 class="text-white pt-2 semi">
                    IF APPETITE IS SUPPRESSED WE WOULD WORK ON THAT ASPECT AS WELL
                    <hr class="bg-white mt-2 mb-2" />
                    PROVIDING ENERGY DENSE MEALS.
                    <hr class="bg-white mt-2 mb-2" />
                    CUSTOMISED WEIGHT GAIN GUIDE, SINCE IN THIS PROGRAM THERE ARE SPECIAL PRINCIPLES TO LEARN!
                </h6>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0"><label id="lbl1monthheader"></label><input type="hidden" id="hdnSWG1Mid" /></p>
                    @*<h4 class="mb-0 bold">
                <img src="@CommonMethods.ServerPath/img/rupees.png" />  2999/-
                <hr />
                $40.55/-
            </h4>*@
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" />  <label id="lbl1monthrupee"></label>
                        <hr />
                        <label id="lbl1monthdoller"></label>
                    </h4>

                </div>
                @*<p class="cart"><a href="cart.html"><img src="@CommonMethods.ServerPath/img/cart.png" this.src="AddtoCart(1)"/> ADD TO CART</a></p>*@
                <p class="cart"><a href="#" id="lnkSWG1M"><img src="@CommonMethods.ServerPath/img/cart.png"  /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0"><label id="lbl2monthheader"></label><input type="hidden" id="hdnSWG2Mid" /></p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> <label id="lbl2monthrupee"></label>
                        <hr />
                        <label id="lbl2monthdoller"></label>
                    </h4>
                </div>
                <p class="cart"><a href="#" id="lnkSWG2M"><img src="@CommonMethods.ServerPath/img/cart.png"  /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0"><label id="lbl3monthheader"></label><input type="hidden" id="hdnSWG3Mid" /></p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> <label id="lbl3monthrupee"></label>
                        <hr />
                        <label id="lbl3monthdoller"></label>
                    </h4>
                </div>
                <p class="cart"><a href="#" id="lnkSWG3M"><img src="@CommonMethods.ServerPath/img/cart.png" /> ADD TO CART</a></p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="sevicePackage">
                <div class="datePrice">
                    <p class="mb-0"><label id="lbl6monthheader"></label><input type="hidden" id="hdnSWG6Mid" /></p>
                    <h4 class="mb-0 bold">
                        <img src="@CommonMethods.ServerPath/img/rupees.png" /> <label id="lbl6monthrupee"></label>
                        <hr />
                        <label id="lbl6monthdoller"></label>
                    </h4>
                </div>
                <p class="cart"><a href="#" id="lnkSWG6M"><img src="@CommonMethods.ServerPath/img/cart.png"  /> ADD TO CART</a></p>
            </div>
        </div>
    </div>
</div>


<script src="~/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {   
        var CartProgramID;
        var cartSessionID;
        $("#lnkSWG1M").click(function (e) {
            //do what ever you want...     

            if (sessionStorage.getItem("CartSession") == null && sessionStorage.getItem("CartProgramID")==null)
            {                
                cartSessionID = 1;
                CartProgramID = $('#hdnSWG1Mid').val();
                sessionStorage.setItem("CartSession", cartSessionID);
                sessionStorage.setItem("CartProgramID", CartProgramID);    
                $("#spQuantity").text(sessionStorage.getItem("CartSession"));                                    
            }
            else
            {
              
                var id = sessionStorage.getItem("CartSession");               
                var CartProgram = sessionStorage.getItem("CartProgramID");
                CartProgramID = $('#hdnSWG1Mid').val();
                
                if (CartProgram.indexOf(CartProgramID)<0) {
                   
                    cartSessionID = parseInt(sessionStorage.getItem("CartSession")) + 1;
                    sessionStorage.setItem("CartSession", cartSessionID);
                    CartProgramID = CartProgram + "~" + CartProgramID;
                    sessionStorage.setItem("CartProgramID", CartProgramID);

                    $("#spQuantity").text(sessionStorage.getItem("CartSession"));
                }                
            }

        });

        $("#lnkSWG2M").click(function (e) {
            //do what ever you want...     
            if (sessionStorage.getItem("CartSession") == null && sessionStorage.getItem("CartProgramID") == null)
            {
                cartSessionID = 1;
                CartProgramID = $('#hdnSWG2Mid').val();
                sessionStorage.setItem("CartSession", cartSessionID);
                sessionStorage.setItem("CartProgramID", CartProgramID);

                $("#spQuantity").text(sessionStorage.getItem("CartSession"));               
            }
            else
            {  
                var CartProgram = sessionStorage.getItem("CartProgramID");
                CartProgramID = $('#hdnSWG2Mid').val();

                if (CartProgram.indexOf(CartProgramID)<0) {
                    cartSessionID = parseInt(sessionStorage.getItem("CartSession")) + 1;
                    sessionStorage.setItem("CartSession", cartSessionID);
                    CartProgramID = CartProgram + "~" + CartProgramID;
                    sessionStorage.setItem("CartProgramID", CartProgramID);
                    $("#spQuantity").text(sessionStorage.getItem("CartSession"));
                  
                }
            }

        });

        $("#lnkSWG3M").click(function (e) {
            //do what ever you want...
           
            if (sessionStorage.getItem("CartSession") == null && sessionStorage.getItem("CartProgramID") == null) {
                cartSessionID = 1;
                CartProgramID = $('#hdnSWG3Mid').val();
                sessionStorage.setItem("CartSession", cartSessionID);
                sessionStorage.setItem("CartProgramID", CartProgramID);
                $("#spQuantity").text(sessionStorage.getItem("CartSession"));                
               
            }
            else {
                              
                var CartProgram = sessionStorage.getItem("CartProgramID");
                CartProgramID = $('#hdnSWG3Mid').val();

                if (CartProgram.indexOf(CartProgramID)<0) {
                    cartSessionID = parseInt(sessionStorage.getItem("CartSession")) + 1;
                    sessionStorage.setItem("CartSession", cartSessionID);
                    CartProgramID = CartProgram + "~" + CartProgramID;
                    sessionStorage.setItem("CartProgramID", CartProgramID);
                    $("#spQuantity").text(sessionStorage.getItem("CartSession"));
                }
            }

        });

        $("#lnkSWG6M").click(function (e) {
            //do what ever you want...           

            if (sessionStorage.getItem("CartSession") == null && sessionStorage.getItem("CartProgramID") == null) {
                cartSessionID = 1;
                CartProgramID = $('#hdnSWG6Mid').val();
                sessionStorage.setItem("CartSession", cartSessionID);
                sessionStorage.setItem("CartProgramID", CartProgramID);

                $("#spQuantity").text(sessionStorage.getItem("CartSession"));
            }
            else {
                var CartProgram = sessionStorage.getItem("CartProgramID");
                CartProgramID = $('#hdnSWG6Mid').val();

                if (CartProgram.indexOf(CartProgramID)<0) {
                    cartSessionID = parseInt(sessionStorage.getItem("CartSession")) + 1;
                    sessionStorage.setItem("CartSession", cartSessionID);
                    CartProgramID = CartProgram + "~" + CartProgramID;
                    sessionStorage.setItem("CartProgramID", CartProgramID);
                    $("#spQuantity").text(sessionStorage.getItem("CartSession"));
                }
            }
        });

       
          var programId = 2;               

          CommonAjaxMethod('Program/GetProduct', { Program_Id: programId }, false, 'GET',
              function (response) {
                 
                  $("#hdnSWG1Mid").val(response.dataCollection[0].Id + "," + response.dataCollection[0].ProductName + "," + response.dataCollection[0].INRRate + "," + response.dataCollection[0].DollerRate + "," + response.dataCollection[0].Program + "," + response.dataCollection[0].Program);                  
                  $("#lbl1monthheader").text(response.dataCollection[0].ProductName);
                  $("#lbl1monthrupee").text(response.dataCollection[0].INRRate);
                  $("#lbl1monthdoller").text("$ "+response.dataCollection[0].DollerRate);

                  $("#hdnSWG2Mid").val(response.dataCollection[1].Id + "," + response.dataCollection[1].ProductName + "," + response.dataCollection[1].INRRate + "," + response.dataCollection[1].DollerRate);
                  $("#lbl2monthheader").text(response.dataCollection[1].ProductName);
                  $("#lbl2monthrupee").text(response.dataCollection[1].INRRate);
                  $("#lbl2monthdoller").text("$ " +response.dataCollection[1].DollerRate);

                  $("#hdnSWG3Mid").val(response.dataCollection[2].Id + "," + response.dataCollection[2].ProductName + "," + response.dataCollection[2].INRRate + "," + response.dataCollection[2].DollerRate);
                  $("#lbl3monthheader").text(response.dataCollection[2].ProductName);
                  $("#lbl3monthrupee").text(response.dataCollection[2].INRRate);
                  $("#lbl3monthdoller").text("$ " +response.dataCollection[2].DollerRate);

                  $("#hdnSWG6Mid").val(response.dataCollection[3].Id + "," + response.dataCollection[3].ProductName + "," + response.dataCollection[3].INRRate + "," + response.dataCollection[3].DollerRate);
                  $("#lbl6monthheader").text(response.dataCollection[3].ProductName);
                  $("#lbl6monthrupee").text(response.dataCollection[3].INRRate);
                  $("#lbl6monthdoller").text("$ " +response.dataCollection[3].DollerRate);
              }
          ); 

    })

</script>