
@{
    ViewBag.Title = "testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<?php include("include/functions.php"); ?>
<?php getHead(); ?>

<div class="container-fluid pl-0 pr-0 mb-5">
    <div class="row no-gutters banner testiBanner align-items-center justify-content-center">
        <div class="col-12 col-md-10">
            <div class="d-none d-md-block">
                <h2 class="bold mb-0">Clients Are Happy</h2>
                <h1 class="alex text-yellow semi">as always!</h1>
            </div>
            <div class="d-block d-md-none banner-xs">
                <img src="@CommonMethods.ServerPath/banner/testimonials-xs.jpg" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="testiThumb">
                <div class="testiImg">
                    <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                </div>
                <div class="testiContent">
                    <p><i>Sidra, a big thank you to you for this incredible weight loss journey of mine...</i></p>
                    <a href="#testiModalPayal" data-toggle="modal" class="btn bg-sky hvr-sweep-to-top mb-3">READ MORE</a>
                    <h5 class="semi mb-2">Payal Khanna</h5>
                    <p class="text-sky reg">UAE, INTERIOR DESIGNER</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="testiThumb">
                <div class="testiImg">
                    <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                </div>
                <div class="testiContent">
                    <p><i>Thank u for the motivation and patience firstly. Super the session was...</i></p>
                    <a href="#testiModalVarun" data-toggle="modal" class="btn bg-sky hvr-sweep-to-top mb-3">READ MORE</a>
                    <h5 class="semi mb-2">Varun Bhojani</h5>
                    <p class="text-sky reg">CHENNAI, BUSINESSMAN</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="testiThumb">
                <div class="testiImg">
                    <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                </div>
                <div class="testiContent">
                    <p><i>Hello Aruna here, I feel lots of difference in weight loss these days...</i></p>
                    <a href="#testiModalAruna" data-toggle="modal" class="btn bg-sky hvr-sweep-to-top mb-3">READ MORE</a>
                    <h5 class="semi mb-2">Aruna Iyer</h5>
                    <p class="text-sky reg">BENGALURU, HOUSEWIFE</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="testiThumb">
                <div class="testiImg">
                    <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                </div>
                <div class="testiContent">
                    <p><i>Thank you sidra once again for all your support and effort, especially for giving me...</i></p>
                    <a href="#testiModalTasneem" data-toggle="modal" class="btn bg-sky hvr-sweep-to-top mb-3">READ MORE</a>
                    <h5 class="semi mb-2">Tasneem Kanchwala</h5>
                    <p class="text-sky reg">BAHRAIN, HOUSEWIFE</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="testiThumb">
                <div class="testiImg">
                    <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                </div>
                <div class="testiContent">
                    <p><i>Hi Sidra, I got my tests done before starting my IVF treatment, through your program my AMH...</i></p>
                    <a href="#testiModalRashmi" data-toggle="modal" class="btn bg-sky hvr-sweep-to-top mb-3">READ MORE</a>
                    <h5 class="semi mb-2">Rashmi Dube</h5>
                    <p class="text-sky reg">MUMBAI, CONSULTANT</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="testiThumb">
                <div class="testiImg">
                    <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                </div>
                <div class="testiContent">
                    <p><i>Hello Sidra, thank you so much. The diet looks doable . And I am already confident about...</i></p>
                    <a href="#testiModalAnkita" data-toggle="modal" class="btn bg-sky hvr-sweep-to-top mb-3">READ MORE</a>
                    <h5 class="semi mb-2">Ankita Alreja</h5>
                    <p class="text-sky reg">MUMBAI, SALES HEAD</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br />

<div class="modal testiPopup" id="testiModalPayal" tabindex="-1" role="dialog" aria-labelledby="testiModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-sky bold">Testimonials</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-auto text-center">
                        <div class="testiThumb">
                            <div class="testiImg">
                                <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                            </div>
                            <div class="testiContent">
                                <h5 class="semi mb-2">Payal Khanna</h5>
                                <p class="text-sky reg">INTERIOR DESIGNER</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg text-center">
                        <p class="mt-2">"Sidra, a big thank you to you for this incredible weight loss journey of mine. I can’t express enough words for my happiness I feel for my happy body. All those cravings that you have handled of mine and assembled them in the planned diet is something I can’t ever forget.</p>
                        <p>You have given me such a great boost and your warmth in your one on one follow up with me has helped me to achieve all this. Before I started this weight loss programme I was so uncomfortable in my own body in so many ways right from dressing , walking, sitting and breathing . And today I feel so great in every inch of my own body.</p>
                        <p>But I still feel some more weight loss needed on my thighs and armpits. But I am sure will happen with good exercise. Sidra you truly a gem and I pray that may you have more power to yourself in helping and changing many more people’s lives. Big hugs babe."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal testiPopup" id="testiModalVarun" tabindex="-1" role="dialog" aria-labelledby="testiModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-sky bold">Testimonials</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-auto text-center">
                        <div class="testiThumb">
                            <div class="testiImg">
                                <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                            </div>
                            <div class="testiContent">
                                <h5 class="semi mb-2">Varun Bhojani</h5>
                                <p class="text-sky reg">CHENNAI, BUSINESSMAN</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg text-center">
                        <p class="mt-2">"Thank u for the motivation and patience firstly. Super the session was. I enjoyed the diet, not feeling bloated. Energy level is awesome and I feel good when I fit into the old clothes Still a long journey."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal testiPopup" id="testiModalAruna" tabindex="-1" role="dialog" aria-labelledby="testiModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-sky bold">Testimonials</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-auto text-center">
                        <div class="testiThumb">
                            <div class="testiImg">
                                <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                            </div>
                            <div class="testiContent">
                                <h5 class="semi mb-2">Aruna Iyer</h5>
                                <p class="text-sky reg">BENGALURU, HOUSEWIFE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg text-center">
                        <p class="mt-2">"Hello Aruna here, I feel lots of difference in weight loss these days. Earlier I couldn't lose a single gram ..and because of this diet I could see lots of difference within me... I am very fascinated ....I am very thankful for your kind co-operation."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal testiPopup" id="testiModalTasneem" tabindex="-1" role="dialog" aria-labelledby="testiModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-sky bold">Testimonials</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-auto text-center">
                        <div class="testiThumb">
                            <div class="testiImg">
                                <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                            </div>
                            <div class="testiContent">
                                <h5 class="semi mb-2">Tasneem Kanchwala</h5>
                                <p class="text-sky reg">BAHRAIN, HOUSEWIFE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg text-center">
                        <p class="mt-2">"Thank you sidra once again for all your support and effort, especially for giving me the easy to follow options when I had severe pain. I feel a relief from inflammation too. My saree blouse was not fitting when I joined your program. Thank you very much sidra. I have no words to say when I could wear my sarees again."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal testiPopup" id="testiModalRashmi" tabindex="-1" role="dialog" aria-labelledby="testiModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-sky bold">Testimonials</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-auto text-center">
                        <div class="testiThumb">
                            <div class="testiImg">
                                <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                            </div>
                            <div class="testiContent">
                                <h5 class="semi mb-2">Rashmi Dube</h5>
                                <p class="text-sky reg">MUMBAI, CONSULTANT</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg text-center">
                        <p class="mt-2">"Hi Sidra, I got my tests done before starting my IVF treatment, through your program my AMH results have improved it went up from 1.65 to 1.85.  Thank you, your diet plans were pretty doable."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal testiPopup" id="testiModalAnkita" tabindex="-1" role="dialog" aria-labelledby="testiModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-sky bold">Testimonials</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-auto text-center">
                        <div class="testiThumb">
                            <div class="testiImg">
                                <img src="@CommonMethods.ServerPath/user.png" class="img-fluid" />
                            </div>
                            <div class="testiContent">
                                <h5 class="semi mb-2">Ankita Alreja</h5>
                                <p class="text-sky reg">MUMBAI, SALES HEAD</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg text-center">
                        <p class="mt-2">"Hello Sidra, thank you so much. The diet looks doable . And I am already confident about following this. I wasn’t sure about myself whether I would be able to give my 100% . I need to tell you , you have made my life very easy. Thank you .</p>
                        <p>You know something earlier I used to get scared to even stand on a weighing scale . Now slowly and gradually I am becoming friends with the scale 😅😅</p>
                        <p>4 kgs in a month is unbelievable trust me. I remember when I used to workout so hard , at the point I lost 2 kgs in a month after slogging my ass rigorously for a month. After that I have never lost so many kilos in a month. I can’t wait to lose many kilos and get rid of the fat."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

