
@{
    ViewBag.Title = "tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-sky">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center pt-3 pb-2">
            <h2 class="semi text-white text-shadow">
                <span id="HeaderValue"></span>
                <img src="@CommonMethods.ServerPath/img/thumbs.png" style="width: 40px; vertical-align: middle; margin-top: -15px;" />
                <img src="@CommonMethods.ServerPath/img/smiley.png" class="smiley" style="width: 40px;" />
            </h2>
        </div>
    </div>
</div>

<div class="bg-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ul class="list-inline menu-sec">

                    <li class="list-inline-item"><a href="~/Home/assessment">My Assessment Tool</a></li>

                    <li class="list-inline-item"> <a href="#" onclick="TrackersHelp(this)">My Trackers<span class="float-right d-none d-md-block font" style="color: red;" id="spTrackers"></span></a></li>

                    <li class="list-inline-item"><a href="~/Home/MyEatingSmartTools?userId=">My Eating Smart Tool</a></li>


                    <li class="list-inline-item"> <a href="#" onclick="PatternHelp(this)">My Eating Pattern<span class="float-right d-none d-md-block" style="color: red;" id="spPattern"></span></a></li>

                    <li class="list-inline-item"> <a href="#" onclick="MessageHelp(this)">Admin Messages<span class="float-right d-none d-md-block" style="color: red;" id="spMessage"></span></a></li>

                    <li class="list-inline-item"><a href="~/Home/ViewPlan?userId=">View Plans</a></li>
                    <li class="list-inline-item active"><a onclick="Logout(this)">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid flowerBg">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11">
            <div class="middleContent bg-gray shadow">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <p class="semi mb-2 text-yellow">WEIGHT TRACKER : - <label class="col-12 col-sm-5 col-form-label semi" id="lbllable"></label></p>

                    </div>



                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group row">
                            <label class="semi mb-2 text-yellow">WEIGHT <span class="float-right d-none d-md-block"> : </span></label>
                            <div class="col-12 col-sm-7">
                                <select class="custom-select" id="ddlWeight">
                                    <option selected>Select</option>
                                    <option value="KG">KG</option>
                                    <option value="LB">LB</option>
                                </select>
                            </div>
                        </div>
                    </div>



                    <hr class="mt-0 mb-2 bg-dark" />
                </div>


                <div class="bg-yellow container-minus mb-4 pt-2 pb-2">
                    <div class="row pt-2">
                        <div class="col-12 col-md-12 col-lg-6">
                            <p class="semi mb-2 text-white">Date</p>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3">
                            <p class="semi mb-2 text-white">Weight</p>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3">
                            <p class="semi mb-2 text-white">Difference</p>
                        </div>
                    </div>
                </div>
                <div id="DivDynamicSession">

                </div>
                <hr class="mt-0 mb-2 bg-dark" />
                <div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p class="semi mb-2 text-yellow">INCH TRACKER</p>
                            <div class="col-12 col-sm-7">
                                <select class="custom-select" id="ddlInch">
                                    <option selected>Select</option>
                                    <option value="Inch">Inch</option>
                                    <option value="CM">CM</option>
                                </select>
                            </div>
                           
                        </div>
                    </div>
                    <div class="bg-yellow container-minus mb-4 pt-2 pb-2">
                        <div class="row pt-2">
                            <div class="col-12 col-md-12 col-lg-5">
                                <p class="semi mb-2 text-white">Date</p>
                            </div>
                            <div class="col-12 col-md-12 col-lg-1">
                                <p class="semi mb-2 text-white"></p>
                            </div>
                            <div class="col-12 col-md-12 col-lg">
                                <div class="row">
                                    <div class="col">
                                        <p class="semi mb-2 text-white">Chest</p>
                                    </div>
                                    <div class="col">
                                        <p class="semi mb-2 text-white">Waist</p>
                                    </div>
                                    <div class="col">
                                        <p class="semi mb-2 text-white">Hip</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="InchDivDynamicSession">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <a class="btn btn-reg mb-2 hvr-sweep-to-top" id="btnSubmit" onclick="SaveTracker()">&nbsp; &nbsp; SUBMIT &nbsp; &nbsp; </a>
                    </div>

                    <div>
                        <input type="hidden" id="hdnProductId" />
                        <input type="hidden" id="hdnOrderId" />
                        <input type="hidden" id="hdnlenght" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

   function MessageHelp(ctrl) {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/helpDesk?userId=")' + selectedUserId;
        ctrl.click();
    }
    function TrackersHelp(ctrl)
    {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/tracker?userId=")' + selectedUserId;
        ctrl.click();
    }
    function PatternHelp(ctrl)
    {
        var selectedUserId = "@Request.QueryString["userId"].ToString()";
        if (selectedUserId != "") {
            sessionStorage.setItem('userId', selectedUserId);
        }
        ctrl.href = '@Url.Content("~/Home/MyEatingPattern?userId=")' + selectedUserId;
        ctrl.click();
    }

       function Logout(ctrl) {
        sessionStorage.clear();
        ctrl.href = '@Url.Content("~/Home/Logout")';
        ctrl.click();
    }

    $(document).ready(function ()
    {
        var qData = "@Request.QueryString["userId"].ToString()";
       
        if (qData != "")
        {
            alert(qData)
            qData = "@Request.QueryString["userId"].ToString()";
            sessionStorage.setItem('userId', qData);

        }
        if (sessionStorage.getItem('RoleID') == "3") {
            var obj1 = {

                Type: "3",
                OperationType: "UPDATE",
                UserId: qData
            }
            CommonAjaxMethod('Home/AdminNotificationEnquiryMessage', obj1, false, 'POST', function (response) {

            });
        }
       var assessment =
       {
           TableType: "GetRecord",
           UserId: sessionStorage.getItem('userId')
       }
       CommonAjaxMethod('Program/GetAsseeement', assessment, false, 'POST', function (response) {
           if (response.data.Data.Table.length > 0) {
               $("#spMessage").text(" (" + response.data.Data.Table[0].MessageCount + ")");
               $("#spTrackers").text(" (" + response.data.Data.Table[0].Trackerfalldays + ")");
               $("#spPattern").text(" (" + response.data.Data.Table[0].PatternCount + ")");
           }

        });


       CommonAjaxMethod('Home/GetUserDetailsById', { userId: sessionStorage.getItem('userId') }, false, 'GET', function (response) {
           $("#HeaderValue").text("ACCOUNT SETTINGS | " + response.dataCollection[0].FirstName + ",  believe in yourself. You can do it!");

       });

     
        var tracker =
        {
            TableType: "GetRecord",
            UserId: sessionStorage.getItem('userId')
        }
        CommonAjaxMethod('Program/GetUserTrackerDetails', { userId:sessionStorage.getItem('userId')}, false, 'GET', function (response) {

            if (response.data.Data.Table.length> 0)
            {


               // var dateData = new Date(parseInt(dateValue.replace("/Date(", "").replace(")/")));
                var dateData = new Date();
                var dd = dateData.getDate();
                var mm = dateData.getMonth() + 1; //January is 0!
                var yyyy = dateData.getFullYear();
                if (dd < 10) { dd = '0' + dd }
                if (mm < 10) { mm = '0' + mm }
                strDate = yyyy + '-' + mm + '-' + dd;


               // var varsession = response.data.Data[0].GivenDays / 3;
                //alert(varsession);
                var vara = 0;
                var varb = 1;

                $("#hdnProductId").val(response.data.Data.Table[0].ProductId);
                $("#hdnOrderId").val(response.data.Data.Table[0].OrderId);
                $("#hdnlenght").val(response.data.Data.Table[0].GivenDays);
                $("#ddlWeight").val(response.data.Data.Table[0].WeightIn);
                $("#ddlInch").val(response.data.Data.Table1[0].WeightIn);

                orderID = response.data.Data.Table[0].OrderId;
                $("#lbllable").text(response.data.Data.Table[0].Program + " :: " + response.data.Data.Table[0].ProductName);
                $('#DivDynamicSession').html("");
                var divHTML = "";

                $('#InchDivDynamicSession').html("");
                var InchdivHTML = "";
                for (var i = 0; i < response.data.Data.Table[1].GivenDays; i++)
                {
                    if (sessionStorage.getItem('RoleID') == "1") {
                        InchdivHTML += '<div class="row form-data pt-2">' +
                            '<div class="col-12 col-md-12 col-lg">' +
                            '<div class="row align-items-center h-100">' +
                            '<div class="col col-md">' +
                            '<div class="form-group">' +
                            '<input type="date" class="form-control" readOnly="true" placeholder="Enter Date" id="txtTrackerDate1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class=" form-group">' +
                            '<input type="date" class="form-control" readOnly="true" placeholder = "Enter Date"  id ="txtTrackerDate2' + (i + 1) + '" />' +
                            '</div>' +

                            '</div>' +
                            '<div class="col-12 col-md-5 h-100">' +
                            '<div class="form-group h-100">' +
                            '<div class="bg-sky text-white sessionButton h-100">Session ' + (i + 1) + '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-12 col-md-12 col-lg-1 text-center">' +
                            '<div class="form-group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> Start</p>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> End</p>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col col-md-12 col-lg">' +
                            '<div class="row align-items-center h-100 no-gutters">' +
                            '<div class="col col-md">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Chest" id = "txtChest1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Chest" id = "txtChest2' + (i + 1) + '" />' +
                            '</div>' +
                            '</div>' +
                            '<div class="col col-md">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"  placeholder="Enter Waist" id="txtWaist1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"   placeholder="Enter Waist" id="txtWaist2' + (i + 1) + '"/>' +
                            '</div>' +

                            '</div>' +

                            '<div class="col col-md">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"  placeholder="Enter hip" id="txthip1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"   placeholder="Enter hip" id="txthip2' + (i + 1) + '"/>' +
                            '</div>' +

                            '</div>' +

                            '</div>' +
                            '</div>' +
                            '</div>';
                    }
                    else {
                        InchdivHTML += '<div class="row form-data pt-2">' +
                            '<div class="col-12 col-md-12 col-lg">' +
                            '<div class="row align-items-center h-100">' +
                            '<div class="col col-md">' +
                            '<div class="form-group">' +
                            '<input type="date" class="form-control" placeholder="Enter Date" id="txtTrackerDate1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class=" form-group">' +
                            '<input type="date" class="form-control"   placeholder = "Enter Date"  id ="txtTrackerDate2' + (i + 1) + '" />' +
                            '</div>' +

                            '</div>' +
                            '<div class="col-12 col-md-5 h-100">' +
                            '<div class="form-group h-100">' +
                            '<div class="bg-sky text-white sessionButton h-100">Session ' + (i + 1) + '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-12 col-md-12 col-lg-1 text-center">' +
                            '<div class="form-group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> Start</p>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> End</p>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col col-md-12 col-lg">' +
                            '<div class="row align-items-center h-100 no-gutters">' +
                            '<div class="col col-md">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Chest" id = "txtChest1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Chest" id = "txtChest2' + (i + 1) + '" />' +
                            '</div>' +
                            '</div>' +
                            '<div class="col col-md">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"  placeholder="Enter Waist" id="txtWaist1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"   placeholder="Enter Waist" id="txtWaist2' + (i + 1) + '"/>' +
                            '</div>' +

                            '</div>' +

                            '<div class="col col-md">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"  placeholder="Enter hip" id="txthip1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"   placeholder="Enter hip" id="txthip2' + (i + 1) + '"/>' +
                            '</div>' +

                            '</div>' +

                            '</div>' +
                            '</div>' +
                            '</div>';
                    }
                }
                for (var i = 0; i < response.data.Data.Table[0].GivenDays; i++)
                {
                    if (sessionStorage.getItem('RoleID') == "1") {
                        divHTML += '<div class="row form-data pt-2">' +
                            '<div class="col-12 col-md-12 col-lg">' +
                            '<div class="row align-items-center h-100">' +
                            '<div class=" col-12 col-md-7">' +
                            '<div class="form-group">' +
                            '<input type="date" class="form-control" readOnly="true" placeholder="Enter Date" id="txtDate1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class=" form-group">' +
                            '<input type="date" class="form-control" readOnly="true" placeholder = "Enter Date"  id ="txtDate2' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="date" class="form-control" readOnly="true" placeholder="Enter Date"  id="txtDate3' + (i + 1) + '"/>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-12 col-md-5 h-100">' +
                            '<div class="form-group h-100">' +
                            '<div class="bg-sky text-white sessionButton h-100">Session ' + (i + 1) + '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-12 col-md-12 col-lg-1 text-center">' +
                            '<div class="form - group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> Start</p>' +
                            '</div>' +
                            '<div class=" form-group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> Mid</p>' +
                            '</div>' +
                            '<div class=" form-group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> End</p>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-12 col-md-12 col-lg">' +
                            '<div class="row align-items-center">' +
                            '<div class="col-6 col-md-6">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Weight" id = "txtWeight1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Weight" id = "txtWeight2' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Weight" id = "txtWeight3' + (i + 1) + '"/>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-6 col-md-6">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" readonly="readonly"  id="txtDifference1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"  readonly="readonly" id="txtDifference2' + (i + 1) + '"/>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"  readonly="readonly"  id="txtDifference3' + (i + 1) + '"/>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                    }
                    else {
                        divHTML += '<div class="row form-data pt-2">' +
                            '<div class="col-12 col-md-12 col-lg">' +
                            '<div class="row align-items-center h-100">' +
                            '<div class=" col-12 col-md-7">' +
                            '<div class="form-group">' +
                            '<input type="date" class="form-control"  placeholder="Enter Date" id="txtDate1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class=" form-group">' +
                            '<input type="date" class="form-control" placeholder = "Enter Date"  id ="txtDate2' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="date" class="form-control" placeholder="Enter Date"  id="txtDate3' + (i + 1) + '"/>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-12 col-md-5 h-100">' +
                            '<div class="form-group h-100">' +
                            '<div class="bg-sky text-white sessionButton h-100">Session ' + (i + 1) + '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-12 col-md-12 col-lg-1 text-center">' +
                            '<div class="form - group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> Start</p>' +
                            '</div>' +
                            '<div class=" form-group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> Mid</p>' +
                            '</div>' +
                            '<div class=" form-group">' +
                            '<p class=" mb-0 semi" style="line-height:39px; font-size:14px;"> End</p>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-12 col-md-12 col-lg">' +
                            '<div class="row align-items-center">' +
                            '<div class="col-6 col-md-6">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Weight" id = "txtWeight1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Weight" id = "txtWeight2' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" placeholder = "Enter Weight" id = "txtWeight3' + (i + 1) + '"/>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-6 col-md-6">' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control" readonly="readonly"  id="txtDifference1' + (i + 1) + '" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"  readonly="readonly"  id="txtDifference2' + (i + 1) + '"/>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<input type="text" class="form-control"  readonly="readonly"  id="txtDifference3' + (i + 1) + '"/>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                    }


                }
                $('#InchDivDynamicSession').html(InchdivHTML);
                $('#DivDynamicSession').html(divHTML);
                GetTrackerData();
            }

        });





    })


    function getdate(strdate) {
        var strRetrunDate;
        if (strdate != null) {
            var dateData = new Date(parseInt(strdate.replace("/Date(", "").replace(")/")));
            var dd = dateData.getDate();
            var mm = dateData.getMonth() + 1; //January is 0!
            var yyyy = dateData.getFullYear();
            if (dd < 10) { dd = '0' + dd }
            if (mm < 10) { mm = '0' + mm }
            strRetrunDate = yyyy + '-' + mm + '-' + dd;
        }
        return strRetrunDate;
    }
    function getTodaydate() {
        var strRetrunDate;
       
            var dateData = new Date();
            var dd = dateData.getDate();
            var mm = dateData.getMonth() + 1; //January is 0!
            var yyyy = dateData.getFullYear();
            if (dd < 10) { dd = '0' + dd }
            if (mm < 10) { mm = '0' + mm }
            strRetrunDate = yyyy + '-' + mm + '-' + dd;
        
        return strRetrunDate;
    }
    function GetTrackerData()
    {
        CommonAjaxMethod('Program/GetUserTrackerDetails', { userId: sessionStorage.getItem('userId') }, false, 'GET',
          function (response) {

              if (response.data.Data.Table.length > 0)
              {

                //  var varlength = response.data.Data.length / 3;

                  var midCounter = 0;
                  var midcounterSet = 0;
                  var midcounterStart = 0;

                  for (var i = 0; i < response.data.Data.Table.length; i++)
                  {

                      var isValidDate=false;
                      var strDate = ""; //var dateValue;

                      if (response.data.Data.Table[i].TrackerDate != null)
                      {

                          strDate = getdate(response.data.Data.Table[i].TrackerDate);
                          var todayDate = getTodaydate();
                          if(strDate==todayDate)
                          {
                              isValidDate=true
                          }
                      }

                        midCounter = (i % 3);
                        if (midCounter == 0)
                        {
                            midcounterStart++;
                        }
                        midcounterSet++;
                      
                        if (sessionStorage.getItem('RoleID') == "1")
                            {
                                    if (isValidDate) {
                                        $("#txtWeight" + midcounterSet + midcounterStart).val(response.data.Data.Table[i].Weight);
                                        $("#txtDifference" + midcounterSet + midcounterStart).val(response.data.Data.Table[i].WeightDifference);
                                    }
                                    else {
                                        $("#txtWeight" + midcounterSet + midcounterStart).attr('readonly', true);
                                        $("#txtDifference" + midcounterSet + midcounterStart).attr('readonly', true);
                                    }
                        }
                        else
                        {

                              $("#txtWeight" + midcounterSet + midcounterStart).val(response.data.Data.Table[i].Weight);
                              $("#txtDifference" + midcounterSet + midcounterStart).val(response.data.Data.Table[i].WeightDifference);
                            }

                        $("#txtDate" + midcounterSet + midcounterStart).val(strDate);
                        if(midcounterSet==3)
                        {
                            midcounterSet = 0;
                        }

                  }


                   midCounter = 0;
                   midcounterSet = 0;
                   midcounterStart = 0;

                  for (var i = 0; i < response.data.Data.Table1.length; i++)
                  {

                      var isValidDateI = false;
                      var strDate = ""; //var dateValue;

                      if (response.data.Data.Table1[i].InchTrackerDate != null) {

                          strDate = getdate(response.data.Data.Table1[i].InchTrackerDate);

                         var todayDate = getTodaydate();
                          if (strDate == todayDate) {
                              isValidDateI = true
                          }
                      }

                      midCounter = (i % 2);
                      if (midCounter == 0) {
                          midcounterStart++;
                      }
                      midcounterSet++;

                    

                      if (sessionStorage.getItem('RoleID') == "1") 
                      {
                          if (isValidDateI) {
                              $("#txtChest" + midcounterSet + midcounterStart).val(response.data.Data.Table1[i].Chest);
                              $("#txtWaist" + midcounterSet + midcounterStart).val(response.data.Data.Table1[i].Waist);
                              $("#txthip" + midcounterSet + midcounterStart).val(response.data.Data.Table1[i].Hip);
                          }
                          else {

                              $("#txtChest" + midcounterSet + midcounterStart).attr('readonly', true);
                              $("#txtWaist" + midcounterSet + midcounterStart).attr('readonly', true);
                              $("#txthip" + midcounterSet + midcounterStart).attr('readonly', true);
                             
                          }
                      }
                      else {

                          $("#txtChest" + midcounterSet + midcounterStart).val(response.data.Data.Table1[i].Chest);
                          $("#txtWaist" + midcounterSet + midcounterStart).val(response.data.Data.Table1[i].Waist);
                          $("#txthip" + midcounterSet + midcounterStart).val(response.data.Data.Table1[i].Hip);
                      }
                      
                      $("#txtTrackerDate" + midcounterSet + midcounterStart).val(strDate);
                      if (midcounterSet == 2) {
                          midcounterSet = 0;
                      }
                  }
              }
          }
      );
    }
    function SaveTracker() {


        var mytracker =
        {
            TableType: "Tracker",
            UserId: sessionStorage.getItem('userId'),
            ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
            OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
            UserTrackerWeigth: [],
            UserTrackerInch: []

        }



        var varlenght = $("#hdnlenght").val();
        if ($("#hdnlenght").val() != '' || $("#hdnlenght").val())
        {
            // alert($("#hdnlenght").val());
            //
            for (var i = 0; i < parseInt($("#hdnlenght").val()); i++)
            {
               // alert("a");
               //
                var list1 =
                {
                    UserId: sessionStorage.getItem('userId'),
                    ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
                    OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
                    WeightIn: $("#ddlWeight").val() == undefined ? 0 : $("#ddlWeight").val().trim(),
                    Weight: $("#txtWeight1" + (i + 1)).val() == undefined ? 0 : $("#txtWeight1" + (i + 1)).val().trim(),
                    WeightDifference: $("#txtDifference1" + (i + 1)).val() == undefined ? 0 : $("#txtDifference1" + (i + 1)).val().trim(),
                    TrackerDate: $("#txtDate1" + (i + 1)).val() == undefined ? 0 : $("#txtDate1" + (i + 1)).val().trim(),
                }
                mytracker.UserTrackerWeigth.push(list1);
                var list2 = {
                    UserId: sessionStorage.getItem('userId'),
                    ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
                    OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
                    WeightIn: $("#ddlWeight").val() == undefined ? 0 : $("#ddlWeight").val().trim(),
                    Weight: $("#txtWeight2" + (i + 1)).val() == undefined ? 0 : $("#txtWeight2" + (i + 1)).val().trim(),
                    WeightDifference: $("#txtDifference2" + (i + 1)).val() == undefined ? 0 : $("#txtDifference2" + (i + 1)).val().trim(),
                    TrackerDate: $("#txtDate2" + (i + 1)).val() == undefined ? 0 : $("#txtDate2" + (i + 1)).val().trim(),
                }
                mytracker.UserTrackerWeigth.push(list2);
                var list3 = {
                    UserId: sessionStorage.getItem('userId'),
                    ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
                    OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
                    WeightIn: $("#ddlWeight").val() == undefined ? 0 : $("#ddlWeight").val().trim(),
                    Weight: $("#txtWeight3" + (i + 1)).val() == undefined ? 0 : $("#txtWeight3" + (i + 1)).val().trim(),
                    WeightDifference: $("#txtDifference3" + (i + 1)).val() == undefined ? 0 : $("#txtDifference3" + (i + 1)).val().trim(),
                    TrackerDate: $("#txtDate3" + (i + 1)).val() == undefined ? 0 : $("#txtDate3" + (i + 1)).val().trim(),
                }
                mytracker.UserTrackerWeigth.push(list3);

            }

            for (var k = 0; k < parseInt($("#hdnlenght").val()); k++) {
                // alert("a");
                //

                var list1 =
                {
                    UserId: sessionStorage.getItem('userId'),
                    ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
                    OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
                    WeightIn: $("#ddlInch").val() == undefined ? 0 : $("#ddlInch").val().trim(),
                    Chest: $("#txtChest1" + (k + 1)).val() == undefined ? 0 : $("#txtChest1" + (k + 1)).val().trim(),
                    Waist: $("#txtWaist1" + (k + 1)).val() == undefined ? 0 : $("#txtWaist1" + (k + 1)).val().trim(),
                    Hip: $("#txthip1" + (k + 1)).val() == undefined ? 0 : $("#txthip1" + (k + 1)).val().trim(),
                    InchTrackerDate: $("#txtTrackerDate1" + (k + 1)).val() == undefined ? 0 : $("#txtTrackerDate1" + (k + 1)).val().trim(),
                }
                mytracker.UserTrackerInch.push(list1);
                var list2 = {
                    UserId: sessionStorage.getItem('userId'),
                    ProductId: $("#hdnProductId").val() == undefined ? '' : $("#hdnProductId").val().trim(),
                    OrderId: $("#hdnOrderId").val() == undefined ? 0 : $("#hdnOrderId").val().trim(),
                    WeightIn: $("#ddlInch").val() == undefined ? 0 : $("#ddlInch").val().trim(),
                    Chest: $("#txtChest2" + (k + 1)).val() == undefined ? 0 : $("#txtChest2" + (k + 1)).val().trim(),
                    Waist: $("#txtWaist2" + (k + 1)).val() == undefined ? 0 : $("#txtWaist2" + (k + 1)).val().trim(),
                    Hip: $("#txthip2" + (k + 1)).val() == undefined ? 0 : $("#txthip2" + (k + 1)).val().trim(),
                    InchTrackerDate: $("#txtTrackerDate2" + (k + 1)).val() == undefined ? 0 : $("#txtTrackerDate2" + (k + 1)).val().trim(),
                }
                mytracker.UserTrackerInch.push(list2);


            }


           // alert("aa");
            //
            CommonAjaxMethod('Program/SaveTracker', mytracker, false, 'POST', function (response) {
                //
                alert('Record save successfully!!!');

            });
        }
    }

</script>

